.edgtf-single-menu-item-holder {
	@include edgtfRelativeHolderLayout();
	padding: 0 0 150px;

	.edgtf-smi-content-top {
		margin: 0 0 38px;
	}

	.edgtf-smi-gallery-holder {
		@include edgtfRelativeHolderLayout();
		margin: 0 0 24px;

		a, img {
			display: block;
		}
	}

	.edgtf-smi-content-holder {

		h2, h3 {
			margin: 0 0 27px;
		}

		ol li {
			list-style-type: none;
			counter-increment: list;
			position: relative;
			font-size: 14px;
			padding: 0 0 0 20px;
			margin: 0 0 26px;
		}

		ol li:before {
			content: counter(list) ".";
			position: absolute;
			top: -1px;
			left: 0;
			font-size: 18px;
		}

		ol li:last-child {
			margin: 0;
		}
	}

	//preparation instructions styles
	.edgtf-smi-prep-info-holder {
		@include edgtfRelativeHolderLayout();
	}

	//share styles
	.edgtf-smi-share-holder {
		margin: 36px 0 0;
		padding: 0 0 8px 0;
		border-bottom: 1px solid $default-border-color;

		.edgtf-smi-share-label {
			color: $default-heading-color;
			font-size: 13px;
			font-weight: 500;
			margin-right: 11px;
		}

		.edgtf-social-share-holder.edgtf-list li {
			margin-right: 13px;

			a {
				color: #666;

				&:hover {
					color: #2ac4ea;
				}
			}
		}
	}

	.edgtf-blog-single-navigation {
		margin: 0 0 40px;
	}

	.edgtf-comment-form {

		.edgtf-comment-form-inner {
			padding: 25px 0 0;
		}
	}

	.edgtf-smi-sidebar-item {
		@include edgtfRelativeHolderLayout();
		margin: 0 0 60px;

		&.edgtf-smi-sidebar-title-item {
			margin: 0 0 22px;
		}

		h4 {
			margin: 0 0 31px;

			&.edgtf-smi-title {
				margin: 0 0 12px;
			}

			&.edgtf-smi-related-posts-title {
				margin: 0 0 36px;
			}
		}
	}

	.edgtf-smi-excerpt-holder {

		p {
			margin: 0;
		}
	}

	.edgtf-smi-prep-info-top {
		padding: 21px;
		background-color: #f4f4f4;
		margin: 0 0 33px;

		.edgtf-prep-info-icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 40px;
			height: 40px;
			float: left;
			line-height: 40px;
			color: #fff;
			font-size: 16px;
			text-align: center;
			background-color: $first-main-color;
			border-radius: 50%;

			* {
				display: block;
				line-height: inherit;
			}
		}

		.edgtf-prep-info-label {
			position: relative;
			display: block;
			top: 10px;
			padding-left: 47px;
			line-height: 30px;
			box-sizing: border-box;
		}

		.edgtf-prep-info-row {
			margin-bottom: 20px;
			margin-left: -5px;
			margin-right: -5px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.edgtf-prep-info-column {
			float: left;
			width: 50%;
			padding: 0 5px;
			box-sizing: border-box;
		}
	}

	.edgtf-smi-prep-info-bottom {
		@include edgtfRelativeHolderLayout();
		height: 58px;

		.edgtf-prep-info-price-holder {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			min-width: 106px;
			padding: 0 10px;
			font-size: 25px;
			line-height: 58px;
			font-weight: 700;
			text-align: center;
			color: #fff;
			background-color: $first-main-color;
			box-sizing: border-box;
		}

		.edgtf-prep-info-time-holder {
			padding: 0 106px 0 24px;
			color: $default-heading-color;
			font-size: 20px;
			line-height: 58px;
			font-weight: 700;
			background-color: #f4f4f4;
		}
	}

	//ingredients styles
	.edgtf-smi-ingredients-holder {


		.edgtf-smi-ingredients-list {
			list-style-type: none;
			margin: 0;

			li {
				@include edgtfTableLayout();
				padding: 6px 0;

				&:first-child {
					padding-top: 0;
				}

				&:last-child {
					padding-bottom: 0;
				}

				> span {
					@include edgtfTableCellLayout;

					&.edgtf-smi-check {
						width: 32px;

						i {
							position: relative;
							display: inline-block;
							vertical-align: middle;
							width: 20px;
							height: 20px;
							font-size: 12px;
							line-height: 20px;
							text-align: center;
							color: #f4f4f4;
							background-color: #dcdcdc;
							border-radius: 50%;
						}
					}
				}
			}
		}
	}

	//related posts styles
	.edgtf-smi-related-items {

		.edgtf-smi-related-list {
			list-style-type: none;
			margin: 0;

			li {
				padding: 10px 0;

				&:first-child {
					padding-top: 0;
				}

				&:last-child {
					padding-bottom: 0;
					border-bottom: none;
				}
			}

			.edgtf-smi-related-title {
				margin: 0;
			}

			.edgtf-smi-related-content-holder {
				padding: 0;
			}

			.edgtf-smi-related-post-date {
				display: block;
				color: $first-main-color;
				font-size: 13px;
				line-height: 19px;
				font-weight: 500;
				margin: 9px 0 1px;
			}
		}
	}
}