/* ==========================================================================
   Title style - begin
   ========================================================================== */

.edgtf-title {
    @include edgtfRelativeHolderLayout();
    height: 200px;
    text-align: left;
    z-index: 101;
    background-color: #f6f6f6;
    background-position: center 0;
    background-repeat: no-repeat;

    &.edgtf-has-parallax-background {
        position: relative;
        background-attachment: fixed;
        background-repeat: no-repeat;
        z-index: 101;
    }

    &.edgtf-content-center-alignment {
        text-align: center;
    }

    &.edgtf-content-right-alignment {
        text-align: right;
    }

    &.edgtf-has-responsive-background {
        height: auto !important;

        .edgtf-title-holder {
            position: absolute;
            top: 0;
            left: 0;
            display: block;

            .edgtf-container {
                display: block;
                height: 100%;
            }

            .edgtf-container-inner {
                display: table;
                height: 100%;
            }

            .edgtf-title-subtitle-holder {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
            }
        }
    }

    .edgtf-title-image {

        img {
            position: relative;
            display: block;
            width: 100%;
        }
    }

    &.edgtf-title-image-not-responsive {

        .edgtf-title-image {
            display: none;
        }
    }

    .edgtf-title-holder {
        position: relative;
        display: table;
        height: 100%;
        width: 100%;

        .edgtf-container {
            display: table-row;
            vertical-align: middle;
            background-color: transparent;
        }

        .edgtf-container-inner {
            display: table-cell;
            vertical-align: middle;
            padding: 0 !important;
        }

        .edgtf-title-subtitle-holder {
            position: relative;
            display: block;
            padding: 0;
            z-index: 25;
        }

        .edgtf-title-subtitle-holder-inner {
            position: relative; //because of the breadcrumbs (absolute position) on standard type title
        }

        /* #Standard title - start
        ========================================================================== */
    
        .edgtf-page-title {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin: 0;
    
            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
	    
	    .edgtf-page-title {
		    color: $default-heading-color;
		    font-family: 'Montserrat', sans-serif;
		    font-size: 45px;
			font-weight: 400;
		    line-height: 1.2em;
	    }

        .edgtf-subtitle {
            display: block;
			margin: 9px 0 0;
	        font-size: 16px;
			font-weight: 500;
	        line-height: 2em;
            box-sizing: border-box;

            span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        /* #Standard title - end
        ========================================================================== */

        /* #Breadcrumb title - start
        ========================================================================== */

        .edgtf-breadcrumbs-holder {
            display: inline-block;
            vertical-align: middle;
        }

        .edgtf-breadcrumbs {

            a, 
            span {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                color: $default-text-color;
            }

            a:hover {
                color: $default-heading-color;
            }
        }

        /* #Breadcrumb title - end
        ========================================================================== */
    }

	&.edgtf-title-full-width {
		.edgtf-title-holder {
			.edgtf-container-inner {
				width: 100%;
				padding: 0 40px !important;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
		}
	}

    &.edgtf-standard-type {

        .edgtf-breadcrumbs-holder {
            position: absolute;
            top: 0;
            height: 100%;

            .edgtf-breadcrumbs {
                display: table;
                height: 100%;
                width: 100%;
            }

            .edgtf-breadcrumbs-inner {
                display: table-cell;
                vertical-align: middle;
            }

        }

        &.edgtf-content-left-alignment {

            .edgtf-breadcrumbs-holder {
                right: 0;
            }
        }

        &.edgtf-content-right-alignment {

            .edgtf-breadcrumbs-holder {
                left: 0;
            }
        }

        &.edgtf-content-center-alignment {

            .edgtf-breadcrumbs-holder {
                position: relative;
                top: auto;
                height: auto;
                display: block;
            }
        }
    }
}
/* ==========================================================================
   Title style - end
   ========================================================================== */