/* ==========================================================================
   Title responsive style - begin
   ========================================================================== */

@include ipad-landscape {
    
    .edgtf-title {
        
        &.edgtf-has-background {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
            height: auto !important;
            padding: 0 !important;
        }
        
        &.edgtf-title-image-not-responsive {
            
            .edgtf-title-image {
                display: block;
            }
        }
        
        .edgtf-title-holder {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 100% !important;
            padding: 0 !important;
            
            .edgtf-container {
                display: block;
                height: 100%;
            }
            
            .edgtf-container-inner {
                display: table;
                height: 100%;
            }
            
            .edgtf-title-subtitle-holder {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                padding: 0 !important;
            }
    
            span.edgtf-page-title {
                font-size: 50px;
            }
    
            .edgtf-subtitle {
                margin: 20px 0 0;
                font-size: 16px;
                line-height: 1.6em;
                padding: 0 !important; // it can be set inline in meta boxes
            }
        }
    }
}

@include ipad-portrait {
    
    .edgtf-title {
        
        &.edgtf-standard-type {
            
            .edgtf-breadcrumbs-holder {
                position: relative !important;
                top: auto !important;
                left: auto !important;
                right: auto !important;
                width: 100%;
            }
        }
	
	    .edgtf-title-holder {
		
		    span.edgtf-page-title {
			    font-size: 40px;
		    }
		
		    .edgtf-subtitle {
			    margin: 15px 0 0;
			    line-height: 1.5em;
		    }
	    }
    }
}
/* ==========================================================================
   Title responsive style - end
   ========================================================================== */