/* Woocommerce Product Page shortcode style - begin
========================================================================== */

div.woocommerce {

    > .single-product {
	
	    .images {
		    position: relative;
		    display: inline-block;
		    vertical-align: top;
		    margin: 0;
		    padding: 0;
		
		    figure {
			    position: relative;
			    display: inline-block;
			    vertical-align: top;
			    margin: 0 -10px;
			
			    a {
				    @include edgtfRelativeHolderLayout();
				    overflow: hidden;
				
				    img {
					    position: relative;
					    width: 100%;
					    display: block;
					    z-index: 1;
					
					    &.edgtf-fake-featured-image {
						    position: absolute;
						    top: 0;
						    left: 0;
						    z-index: 2;
					    }
				    }
			    }
		    }
		
		    .woocommerce-product-gallery__image {
			    position: relative;
			    display: inline-block;
			    vertical-align: top;
			    margin: 0;
			    padding: 0 10px;
			    box-sizing: border-box;
			
			    &:first-child {
				    left: 10px;
				    width: calc(100% - 20px);
				    padding: 0;
				
				    > a {
					    overflow: hidden;
					
					    &:hover {
						
						    img {
							    @include edgtfTransform(scale(1.06) translateZ(0));
						    }
					    }
				    }
				
				    img {
					    -webkit-transition: -webkit-transform .3s ease-in-out;
					    -moz-transition: -moz-transform .3s ease-in-out;
					    transition: transform .3s ease-in-out;
					    @include edgtfTransform(scale(1) translateZ(0));
				    }
			    }
		    }
		
		    &.woocommerce-product-gallery--with-images {
			
			    .woocommerce-product-gallery__image {
				
				    &:not(:first-child) {
					    float: left;
					    padding-top: 20px;
					
					    a {
						
						    &:hover {
							
							    &:after {
								    opacity: 1;
							    }
						    }
						
						    &:after {
							    @include edgtfAbsoluteHolderLayout();
							    content: '';
							    background-color: rgba(#fff, .3);
							    opacity: 0;
							    z-index: 1;
							    @include edgtfTransition(opacity .2s ease-in-out);
						    }
					    }
				    }
			    }
		    }
		
		    $thumb_3_columns_label: ('columns-2', 'columns-3', 'columns-4');
		    @for $i from 0 to length($thumb_3_columns_label) {
			    &.woocommerce-product-gallery--#{nth($thumb_3_columns_label, $i+1)} {
				    $column_width: 100%/($i+2);
				
				    .woocommerce-product-gallery__image {
					
					    &:not(:first-child) {
						    width: $column_width;
					    }
				    }
			    }
		    }
	    }
	
	    .woocommerce-tabs {
		    @include edgtfRelativeHolderLayout();
		    margin: 50px 0 0;
		
		    .entry-content > h2 {
			    display: none;
		    }
		
		    ul.tabs {
			    @include edgtfRelativeHolderLayout();
			    list-style: none;
			    margin: 0;
			    padding: 0;
			    border-bottom: 1px solid $default-border-color;
			    clear: both;
			
			    > li {
				    position: relative;
				    display: inline-block;
				    vertical-align: middle;
				    float: left;
				    margin: 0;
				    padding: 0;
				
				    a {
					    position: relative;
					    display: inline-block;
					    vertical-align: top;
					    padding: 0 3px 12px;
					    font-weight: 500;
					    color: #999;
					    margin-right: 35px;
					
					    &:after {
						    content: '';
						    position: absolute;
						    bottom: -1px;
						    left: 0;
						    display: block;
						    height: 1px;
						    width: 100%;
						    background-color: transparent;
						    @include edgtfTransition(all 0.2s ease-in-out);
					    }
				    }
				
				    &:last-child {
					
					    a {
						    margin-right: 0;
					    }
				    }
				
				    &.active {
					
					    a {
						    color: $default-heading-color;
						
						    &:after {
							    height: 1px;
							    bottom: -1px;
							    background-color: $default-heading-color;
						    }
					    }
				    }
			    }
		    }
		
		    .entry-content {
			    padding: 22px 0;
		    }
		
		    table {
			    margin: 0 0 20px;
			
			    tr, th {
				    border: 0;
			    }
			
			    td, th {
				    padding: 3px 0;
				    vertical-align: middle;
				    text-align: left;
			    }
			
			    th {
				    color: $default-heading-color;
				    width: 1%;
				    padding: 0 10px 0 0;
			    }
			
			    td {
				    width: 99%;
			    }
		    }
		
		    #reviews {
			
			    div[itemprop="description"] {
				    padding: 0;
			    }
			
			    ol.commentlist {
				    list-style: none;
				
				    li {
					    padding-top: 15px;
					
					    &:first-child {
						    padding: 0;
					    }
				    }
				
				    .comment_container {
					    @include edgtfRelativeHolderLayout();
					
					    img {
						    float: left;
						    width: 60px;
					    }
					
					    .comment-text {
						    padding: 0 0 0 80px;
						
						    .star-rating {
							    margin: 0;
						    }
						
						    p {
							    display: block;
							    margin: 5px 0 0;
						    }
					    }
				    }
			    }
			
			    .comment-respond {
				    margin-top: 15px;
				
				    .comment-reply-title {
					    margin: 0 0 10px;
					    font-weight: 700;
				    }
				
				    .stars {
					    overflow: hidden;
					    padding: 0;
					    margin: 0;
				    }
				
				    .stars a {
					    position: relative;
					    display: inline-block;
					    color: transparent;
					    font-size: 0;
					    margin: 0;
					
					    &:before {
						    position: relative;
						    display: inline-block;
						    vertical-align: middle;
						    font-family: "ElegantIcons";
						    content: "\e031";
						    font-size: 12px;
						    line-height: 1;
						    letter-spacing: 3px;
						    color: $default-heading-color;
						    overflow: hidden;
						    z-index: -1;
						    -webkit-font-smoothing: antialiased;
						    -moz-osx-font-smoothing: grayscale;
					    }
					
					    &.active:after {
						    position: absolute;
						    right: 0px;
						    bottom: 7px;
						    display: block;
						    font-family: "ElegantIcons";
						    font-size: 12px;
						    line-height: 1;
						    letter-spacing: 3px;
						    color: $default-heading-color;
						    content: "\e033\e033\e033\e033\e033";
						    -webkit-font-smoothing: antialiased;
						    -moz-osx-font-smoothing: grayscale;
					    }
				    }
				
				    .comment-form-comment label {
					    display: block;
					    margin: 0 0 10px;
				    }
			    }
		    }
	    }
	
	    .related.products,
	    .upsells.products {
		    margin: 51px 0 0;
		
		    > h2 {
			    display: block;
			    margin: 0 0 88px;
			    text-align: center;
		    }
	    }
    }
}

/* Woocommerce Product Page shortcode style - end
========================================================================== */