.edgtf-header-boxed {
	
	.edgtf-page-header {
		padding: 46px 54px 0;
		background: none !important;
	}
	
	.edgtf-menu-area {
		background-color: #fff;
		

		.edgtf-main-menu {
			width: auto;
		}

		.edgtf-vertical-align-containers {

			.edgtf-position-right-inner {
				height: 100%;
			}
		}

		.edgtf-grid {
			height: 100%;
		}
	}
}