.edgtf-header-standard {

	.edgtf-menu-area {

		&.edgtf-menu-left {
			
			.edgtf-main-menu {
				width: auto;
				padding: 0 0 0 20px;
			}
			
			.edgtf-vertical-align-containers {
				
				.edgtf-position-left-inner {
					height: 100%;
				}
			}
		}

		&.edgtf-menu-center {

			.edgtf-vertical-align-containers {

				.edgtf-position-center-inner {
					height: 100%;
				}
			}
		}

		&.edgtf-menu-right {

			.edgtf-main-menu {
				width: auto;
			}

			.edgtf-vertical-align-containers {

				.edgtf-position-right-inner {
					height: 100%;
				}
			}
		}

		.edgtf-grid {
			height: 100%;
		}
	}
}