/* ==========================================================================
   Blog List loading element style - begin
   ========================================================================== */

.edgtf-bl-loading {
    position: relative;
    display: none;
    width: 100%;
    margin: 40px 0 20px;
    color: $default-heading-color;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

    &.edgtf-showing {
        display: block;
    }

    > div {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 14px;
        height: 14px;
        margin: 0 3px;
        background-color: $default-heading-color;
        border-radius: 100%;
        @include edgtfAnimation(bl-bouncedelay 1.4s infinite ease-in-out both);
    }

    .edgtf-bl-loading-bounce1 {
        -webkit-animation-delay: -0.32s;
        -moz-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .edgtf-bl-loading-bounce2 {
        -webkit-animation-delay: -0.16s;
        -moz-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
}

@-webkit-keyframes bl-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
    }
}

@-moz-keyframes bl-bouncedelay {
    0%, 80%, 100% {
        -moz-transform: scale(0);
    }
    40% {
        -moz-transform: scale(1.0);
    }
}

@keyframes bl-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
/* ==========================================================================
   Blog List loading element style - end
   ========================================================================== */