/* ==========================================================================
   Accordions shortcode style - begin
   ========================================================================== */

.edgtf-accordion-holder {
    @include edgtfRelativeHolderLayout();

    .edgtf-title-holder {
        position: relative;
        cursor: pointer;
        margin: 0;
        box-sizing: border-box;
        @include edgtfTransform(translateZ(0px));
        @include edgtfTransition(color .2s ease-out, background-color .2s ease-out);
	
	    .edgtf-tab-title {
		    display: block;
		    line-height: inherit;
	    }

        .edgtf-accordion-mark {
            position: absolute;
            top: 50%;
	        left: 0;
            width: 20px;
	        height: 20px;
	        font-size: 16px;
	        line-height: 18px;
            text-align: center;
            @include edgtfTransform(translateY(-50%));
	
	        span {
		        position: absolute;
		        display: block;
		        width: 100%;
		        height: 100%;
		        font-size: inherit;
		        line-height: inherit;
		        @include edgtfTransition(opacity .2s ease-out);
		
		        &:before {
			        display: block;
			        line-height: inherit;
		        }
		        
		        &.edgtf_icon_minus {
			        opacity: 0;
		        }
		        
		        &.edgtf_icon_plus {
			        opacity: 1;
		        }
	        }
        }

	    &.ui-state-active,
	    &.ui-state-hover {
		
		    .edgtf-accordion-mark {
			    
			    span {
				    
				    &.edgtf_icon_minus {
					    opacity: 1;
				    }
				    
				    &.edgtf_icon_plus {
					    opacity: 0;
				    }
			    }
		    }
	    }
    }
	
	p.edgtf-title-holder {
		color: $default-heading-color;
		font-size: 1.142857142857143em;
		font-weight: 500;
	}

    .edgtf-accordion-content {
        margin: 0;
	    
	    p {
		    margin: 0;
	    }
    }
	
	&.edgtf-ac-boxed {
		
		&.edgtf-white-skin {
			
			.edgtf-title-holder {
				background-color: #fff;
			}
		}
		
		.edgtf-title-holder {
			margin: 15px 0 0;
			padding: 16px 0 16px 40px;
			background-color: #f1f1f1;
			
			&:first-child {
				margin: 0;
			}
			
			.edgtf-accordion-mark {
				left: 10px;
			}
			
			&.ui-state-active,
			&.ui-state-hover {
				color: #fff;
				background-color: $first-main-color;
			}
		}
		
		.edgtf-accordion-content {
			padding: 21px 0 16px;
		}
	}
	
	&.edgtf-ac-simple {
		border-bottom: 1px solid $default-border-color;
		
		.edgtf-title-holder {
			padding: 19px 0 19px 30px;
			border-top: 1px solid $default-border-color;
			
			.edgtf-accordion-mark {
				font-size: 13px;
				line-height: 21px;
				color: #fff;
				background-color: $first-main-color;
				border-radius: 100%;
				@include edgtfTransition(color .2s ease-out, background-color .2s ease-out);
			}

			&.ui-state-active,
			&.ui-state-hover {
				
				.edgtf-accordion-mark {
					color: #fff;
					background-color: #ccc;
				}
			}
		}
		
		.edgtf-accordion-content-inner {
			padding: 1px 0 50px;
		}
	}
}
/* ==========================================================================
   Accordions shortcode style - end
   ========================================================================== */