/* ==========================================================================
   Banner shortcode style - begin
   ========================================================================== */

.edgtf-banner-holder {
	@include edgtfRelativeHolderLayout();
	overflow: hidden;
	
	.edgtf-banner-image {
		@include edgtfRelativeHolderLayout();
		overflow: hidden;
		
		img {
			width: 100%;
			display: block;
		    @include edgtfTransition(all .4s cubic-bezier(.23,1,.32,1));
	    	will-change:transform;
		}
	}
	
	.edgtf-banner-text-holder {
		@include edgtfAbsoluteHolderLayout();
		background-color: rgba($default-heading-color, .45);
	}
	
	.edgtf-banner-text-wrapper {
		@include edgtfTableLayout();
		padding: 20px;
		text-align: center;
		box-sizing: border-box;
		
		@include phone-landscape {
			padding: 15px 25px !important; // because it can be set inline with shortcode option
		}
	}
	
	.edgtf-banner-text-inner {
		@include edgtfTableCellLayout();
	}
	
	.edgtf-banner-content-image {
		@include edgtfRelativeHolderLayout();
		margin: 0 0 25px;
		
		img {
			display: block;
			margin: 0 auto;
		}
	}
	
	.edgtf-banner-title {
		margin: 0;
		color: #fff;
	}
	
	.edgtf-banner-text {
		margin: 18px 0 0;
		color: #fff;
	}
	
	.edgtf-banner-link {
		@include edgtfAbsoluteHolderLayout();
		z-index: 10;

		&:hover {
			~ .edgtf-banner-image img {
	    		@include edgtfTransform(scale(1.1));
	    		-webkit-transition-delay: .1s;
	    		transition-delay: .1s;
			}
		}
	}
}
/* ==========================================================================
   Banner shortcode style - end
   ========================================================================== */