/* ==========================================================================
   Booked Calendar shortcode style - begin
   ========================================================================== */

.edgtf-booked-custom-style {

	/***** Modal Window *****/

	.booked-modal {
		
		.bm-window {
			padding: 55px 0 28px;
			background-color: #fff;
			border-top: 6px solid $first-main-color;
			border-radius: 0;
			box-shadow: 0 5px 5px 0 rgba(#000, 0.05);
			
			p {
				
				&.booked-title-bar {
					padding: 19px 32px 10px;
					margin: 0;
					color: $default-heading-color;
					font-size: 18px;
					line-height: 26px;
					font-weight: 700;
					border-radius: 0;
					background: #fff !important;
					
					* {
						@include edgtfTypographyLayout();
					}
				}

				&.appointment-title {
					color: $first-main-color;
				}
				
				i.fa {
					color: $first-main-color;
				}
			}
			
			a:not(.close) {
				color: $first-main-color;
				
				&:hover {
					color: $default-heading-color;
				}
			}
			
			.close {
				top: 20px;
				right: 29px;
				color: #999;
				@include edgtfTransition(color .2s ease-out);
				
				&:hover {
					color: $default-heading-color;
				}
				
				i {
					font-family: 'Ionicons';
					
					&:before {
						content: "\f2d7";
					}
				}
			}
			
			.booked-scrollable {
				padding: 10px 32px 34px;
				background-color: transparent;
			}
		}
		
		.booked-form {
			
			.booked-appointments {
				padding: 8px 20px 10px;
				background-color: transparent;
				border: 1px solid $default-border-color;
				border-radius: 0;
				box-shadow: none;
			}
		}
		
		input[type=submit],
		button {
			padding: 0 25px;
			line-height: 37px;
			border: 0 !important;
			outline: none;
			border-radius: 0;
			@include edgtfTransition(color .2s ease-out, background-color .2s ease-out);
		}
		
		input[type=submit] {
			
			&.button-primary {
				cursor: pointer;
				color: #fff !important;
				background-color: $first-main-color !important;
				
				&:hover {
					color: #fff !important;
					background-color: $default-heading-color !important;
				}
			}
		}
		
		button {
			
			&.cancel {
				cursor: pointer;
				color: #fff !important;
				background-color: $default-heading-color !important;
				
				&:hover {
					color: #fff !important;
					background-color: $first-main-color !important;
				}
			}
		}
	}

	#ui-datepicker-div {

		&.booked_custom_date_picker {

			.ui-datepicker-header {
				background-color: $first-main-color;
			}
		}

		table {

			&.ui-datepicker-calendar {

				tbody {

					td {

						a.ui-state-active,
						#ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td a.ui-state-active:hover {
							color: #fff;
							background: $first-main-color;
						}
					}
				}
			}
		}
	}
}

/***** Login/Register, User Profile and User Appointments Shortcodes *****/

.edgtf-booked-custom-skin {
	
	&.edgtf-booked-user-appointments-holder {
		
		#booked-profile-page {
			
			.booked-profile-appt-list {
				
				.appt-block {
					
					.booked-cal-buttons {
						
						.google-cal-button {
						
							> a {
								padding: 0 25px;
								line-height: 37px;
								text-transform: inherit;
								color: #fff !important;
								background-color: $first-main-color !important;
								border: 0 !important;
								border-radius: 0;
								outline: none;
								@include edgtfTransition(color .2s ease-out, background-color .2s ease-out);
								
								&:hover {
									color: #fff !important;
									background-color: $default-heading-color !important;
								}
							}
						}
						
						.cancel {
							padding: 0 25px;
							line-height: 37px;
							color: #fff !important;
							background-color: $default-heading-color !important;
							border: 0 !important;
							border-radius: 0;
							outline: none;
							@include edgtfTransition(color .2s ease-out, background-color .2s ease-out);
							
							&:hover {
								color: #fff !important;
								background-color: rgba($default-heading-color, .8) !important;
							}
						}
					}
					
					.status-block {
						padding: 0 25px;
						line-height: 37px;
						border: 0 !important;
						border-radius: 0;
						outline: none;
					}
				}
			}
		}
	}

	&.edgtf-booked-login-holder {
		
		#booked-profile-page {
			
			.booked-tabs {
				background-color: rgba($default-heading-color, .9) !important;
				border: 0;
				border-radius: 0;
				
				li {
					
					&.active {
						
						a {
							background-color: $default-heading-color !important;
						}
					}
					
					a {
						background-color: transparent;
					}
				}
			}
			
			#profile-login,
			#profile-forgot {
				border-radius: 0;
				
				input[type=submit] {
					
					&.button-primary {
						padding: 0 25px;
						line-height: 37px;
						text-transform: inherit;
						color: #fff !important;
						background-color: $first-main-color !important;
						border: 0 !important;
						border-radius: 0;
						outline: none;
						cursor: pointer;
						@include edgtfTransition(color .2s ease-out, background-color .2s ease-out);
						
						&:hover {
							color: #fff !important;
							background-color: $default-heading-color !important;
						}
					}
				}
				
				.login-remember {
					
					input {
						top: 1px;
					}
				}
			}
		}
	}
	
	&.edgtf-booked-user-profile-holder {
		
		#booked-profile-page {
			
			.booked-user {
			
				h3 {
					font-size: 18px;
				}
			}
			
			.booked-profile-header {
				background-color: rgba($default-heading-color, .9) !important;
				border: 0;
				border-radius: 0;
			}
			
			.booked-tabs {
				background-color: rgba($default-heading-color, .9) !important;
				border: 0;
				border-radius: 0;
				
				li {
					
					&.active {
						
						a {
							background-color: $default-heading-color !important;
						}
					}
					
					a {
						background-color: transparent;
					}
				}
			}
			
			.booked-tab-content {
				border-radius: 0;
			}
			
			.booked-profile-appt-list {
				
				.appt-block {
					
					.booked-cal-buttons {
						
						.google-cal-button {
						
							> a {
								padding: 0 25px;
								line-height: 37px;
								text-transform: inherit;
								color: #fff !important;
								background-color: $first-main-color !important;
								border: 0 !important;
								border-radius: 0;
								outline: none;
								@include edgtfTransition(color .2s ease-out, background-color .2s ease-out);
								
								&:hover {
									color: #fff !important;
									background-color: $default-heading-color !important;
								}
							}
						}
						
						.cancel {
							padding: 0 25px;
							line-height: 37px;
							color: #fff !important;
							background-color: $default-heading-color !important;
							border: 0 !important;
							border-radius: 0;
							outline: none;
							@include edgtfTransition(color .2s ease-out, background-color .2s ease-out);
							
							&:hover {
								color: #fff !important;
								background-color: rgba($default-heading-color, .8) !important;
							}
						}
					}
					
					.status-block {
						padding: 0 25px;
						line-height: 37px;
						border: 0 !important;
						border-radius: 0;
						outline: none;
					}
				}
			}
			
			input[type=submit] {
				
				&.button-primary {
					padding: 0 25px;
					line-height: 37px;
					text-transform: inherit;
					color: #fff !important;
					background-color: $first-main-color !important;
					border: 0 !important;
					border-radius: 0;
					outline: none;
					cursor: pointer;
					@include edgtfTransition(color .2s ease-out, background-color .2s ease-out);
					
					&:hover {
						color: #fff !important;
						background-color: $default-heading-color !important;
					}
				}
			}
		}
	}
}

/***** Booked Shortcodes *****/

.edgtf-booked-calendar-holder {
	@include edgtfRelativeHolderLayout();
	overflow: hidden;
	
	.edgtf-calendar-title {
		@include edgtfRelativeHolderLayout();
		background-color: #fff;
		padding: 7% 9%;
		margin: 0;
		box-sizing: border-box;
		
		@include laptop-landscape-medium {
			padding: 6% 7%;
		}
	}
	
	h3.edgtf-calendar-title {
		font-size: 30px;
		line-height: 44px;
		
		@include laptop-landscape-medium {
			font-size: 25px;
			line-height: 38px;
		}
	}
	
	&.edgtf-custom-style {
		
		.booked-calendar-wrap {
			margin: 0;
		}
		
		table.booked-calendar {
			border: none;
			
			button {
				padding: 10px 14px;
				line-height: 20px;
				border: 0 !important;
				outline: none;
				border-radius: 0;
				@include edgtfTransition(color .2s ease-out, background-color .2s ease-out);
			}
			
			.booked-appt-list {
				padding: 20px 25px 0px;
				box-shadow: none;
				border-radius: 0;
				
				h2 {
					margin: 0 0 15px;
					color: inherit;
					font-size: 18px;
					text-align: inherit;
					
					@include laptop-landscape-medium {
						font-size: 16px;
					}
				}
				
				.timeslot {
					
					&:hover {
						background: transparent;
					}
					
					&:last-child {
						margin: 0;
					}
					
					.timeslot-time {
						font-size: 14px;
						padding: 15px 0 0 0;
					}
					
					.timeslot-people {
						padding: 15px 0 0 0;
					}
				}
			}
			
			thead {
				
				th {
					padding: 14px 0;
					
					@include laptop-landscape-medium {
						padding: 10px 0;
					}
					
					.monthName {
						font-size: 18px;
						line-height: 1;
						font-weight: 500;
						text-transform: capitalize;
						
						a {
							color: inherit;
							opacity: .7;
							@include edgtfTransition(opacity .2s ease-out);
							
							&:hover {
								opacity: 1;
							}
						}
						
						@include laptop-landscape-medium {
							font-size: 16px;
						}
					}
					
					.page-left,
					.page-right {
						top: calc(50% - 10px);
						font-size: 22px;
					}
					
					.fa-arrow-left {
						
						&:before {
							content: "\f3d2";
							font-family: "Ionicons";
						}
					}
					
					.fa-arrow-right {
						
						&:before {
							content: "\f3d3";
							font-family: "Ionicons";
						}
					}
				}
				
				tr.days {
					
					th {
						font-size: 14px;
						font-weight: 500;
						text-transform: capitalize;
						padding: 12px 0;
						
						@include laptop-landscape-medium {
							font-size: 12px;
						}
					}
				}
			}
			
			td {
				
				.date {
					color: #333 !important;
					background: #fff !important;
					
					.number {
						color: inherit;
						border: none !important;
						
						@media only screen and (min-width: $ipad-landscape-plus-pixel) {
							width: 40px;
							height: 40px;
							line-height: 39px;
						}
						
						@include laptop-landscape-medium {
							font-size: 12px;
						}
						
						@media only screen and (min-width: $ipad-landscape-plus-pixel) and (max-width: $laptop-landscape-medium) {
							width: 36px;
							height: 36px;
							line-height: 35px;
						}
					}
				}
				
				&.prev-date {
					
					&.today {
						
						.date {
							
							span {
								color: #333 !important;
								background-color: #fff !important;
							}
						}
					}
					
					.date {
						background: #f5f5f5 !important;
						
						span {
							background: none !important;
						}
					}
				}
				
				&.today {
					
					.date {
						
						span {
							color: #333 !important;
							background-color: #f5f5f5 !important;
						}
					}
				}
			}
			
			tr.week {
				
				&:last-child {
					border-bottom: none;
				}
				
				td {
					font-size: 16px;
				}
			}
		}
	}

	/* List styles */
	&.edgtf-calendar-style-list {

		.edgtf-bs-calendar-content {
			padding: 20px;
			background-color: #fff;

			.booked-list-view {

				.booked-appt-list {

					.timeslot {
						border-color: #ccc;
					}
				}
			}
		}

		&.edgtf-custom-style {

			.edgtf-bs-calendar-content {
				padding: 20px;
				background-color: #fff;

				.booked-list-view {

					.booked-appt-list {

						.timeslot {

							.timeslot-title {
								color: $first-main-color;
							}
						}
					}

					button.button,
					input[type=submit].button-primary {
						border-color: $first-main-color;
						background-color: $first-main-color;
					}

					a {

						&.booked_list_date_picker_trigger {

							&.booked-dp-active {
								border-color: $first-main-color;
								background-color: $first-main-color;

								&:hover {
									border-color: $first-main-color;
									background-color: $first-main-color;
								}
							}
						}
					}
				}
			}
		}
	}
	
	/* Skin styles */
	&.edgtf-dark-transparent-1 {
		
		.edgtf-calendar-title {
			background-color: rgba(0, 0, 0, 0.6);
			color: #fff;
		}
		
		table.booked-calendar {
			background-color: rgba(0, 0, 0, 0.6) !important;
			
			thead {
				background-color: #4d4d4d !important;
				
				th, tr {
					border: none !important;
				}
				
				tr:first-child {
					background-color: #825cff !important;
				}
			}
			
			tr {
				border-top: 0;
				border-right: 0;
				border-left: 0;
				border-color: #50555c;
				
				&.week {
					
					.active {
						background-color: transparent;
					}
				}
				
				&.entryBlock {
					
					td {
						padding: 0;
					}
				}
			}
			
			td {
				border-right: 0;
				border-left: 0;
				border-color: #353536;
				
				.date {
					color: #fff !important;
					background: transparent !important;
				}
				
				&.prev-date {
					
					&:hover {
						
						.date {
							background: none !important;
						}
					}
					
					&.today {
						
						.date {
							
							span {
								color: #fff !important;
								background-color: rgba(#000, .7) !important;
							}
						}
					}
					
					.date {
						color: rgba(#fff, .3) !important;
						background: transparent !important;
						
						span {
							background: none !important;
						}
					}
				}
				
				&.today {
					
					.date {
						
						span {
							color: #fff !important;
							background-color: rgba(#000, .7) !important;
						}
					}
				}
				
				&:hover,
				&.active {
					
					.date span {
						color: #fff !important;
						background-color: #825cff !important;
					}
				}
			}
			
			.booked-appt-list .timeslot {
				
				.timeslot-people button {
					background-color: #825cff !important;
					border: none !important;
					cursor: pointer;
					
					&:hover {
						background-color: #000 !important;
					}
				}
				
				.timeslot-title {
					color: #825cff;
				}
			}
		}
		
		table.booked-calendar tr.days {
			background-color: rgba(93,90,87,0.3) !important;
			
			th {
				background-color: transparent !important;
				border-color: #fff !important;
				color: #fff !important;
			}
		}

		.booked-list-view {

			.booked-appt-list {

				.timeslot {

					.timeslot-title {
						color: #825cff;
					}
				}
			}

			button.button,
			input[type=submit].button-primary {
				border-color: #825cff;
				background-color: #825cff;
			}

			a {

				&.booked_list_date_picker_trigger {

					&.booked-dp-active {
						border-color: #825cff;
						background-color: #825cff;

						&:hover {
							border-color: #825cff;
							background-color: #825cff;
						}
					}
				}
			}
		}
	}
	
	&.edgtf-dark-transparent-2 {
		
		.edgtf-calendar-title {
			background-color: rgba(0, 0, 0, 0.6);
			color: #fff;
		}
		
		table.booked-calendar {
			background-color: rgba(0, 0, 0, 0.6) !important;
			
			thead {
				background-color: #4d4d4d !important;
				
				th, tr {
					border: none !important;
				}
				
				tr:first-child {
					background-color: #33ccff !important;
				}
			}
			
			tr {
				border-top: 0;
				border-right: 0;
				border-left: 0;
				border-color: #50555c;
				
				&.week {
					
					.active {
						background-color: transparent;
					}
				}
				
				&.entryBlock {
					
					td {
						padding: 0;
					}
				}
			}
			
			td {
				border-right: 0;
				border-left: 0;
				border-color: #353536;
				
				.date {
					color: #fff !important;
					background: transparent !important;
				}
				
				&.prev-date {
					
					&:hover {
						
						.date {
							background: none !important;
						}
					}
					
					&.today {
						
						.date {
							
							span {
								color: #fff !important;
								background-color: rgba(#000, .7) !important;
							}
						}
					}
					
					.date {
						color: rgba(#fff, .3) !important;
						background: transparent !important;
						
						span {
							background: none !important;
						}
					}
				}
				
				&.today {
					
					.date {
						
						span {
							color: #fff !important;
							background-color: rgba(#000, .7) !important;
						}
					}
				}
				
				&:hover,
				&.active {
					
					.date span {
						color: #fff !important;
						background-color: #33ccff !important;
					}
				}
			}
			
			.booked-appt-list .timeslot {
				
				.timeslot-people button {
					background-color: #33ccff !important;
					border: none !important;
					cursor: pointer;
					
					&:hover {
						background-color: #000 !important;
					}
				}
				
				.timeslot-title {
					color: #33ccff;
				}
			}
		}
		
		table.booked-calendar tr.days {
			background-color: rgba(93,90,87,0.3) !important;
			
			th {
				background-color: transparent !important;
				border-color: #fff !important;
				color: #fff !important;
			}
		}

		.booked-list-view {

			.booked-appt-list {

				.timeslot {

					.timeslot-title {
						color: #33ccff;
					}
				}
			}

			button.button,
			input[type=submit].button-primary {
				border-color: #33ccff;
				background-color: #33ccff;
			}

			a {

				&.booked_list_date_picker_trigger {

					&.booked-dp-active {
						border-color: #33ccff;
						background-color: #33ccff;

						&:hover {
							border-color: #33ccff;
							background-color: #33ccff;
						}
					}
				}
			}
		}
	}
	
	&.edgtf-dark {
		
		table.booked-calendar {
			
			thead {
				background-color: #333 !important;
				
				th, tr {
					border: none !important;
				}
			}
			
			td {
				
				&:hover,
				&.active {
					
					.date span {
						background-color: #333 !important;
						color: #fff !important;
					}
				}
			}
			
			.booked-appt-list .timeslot {
				
				.timeslot-people button {
					background-color: #333 !important;
					border: none !important;
					cursor: pointer;
					
					&:hover {
						background-color: #000 !important;
					}
				}
				
				.timeslot-title {
					color: #333;
				}
			}
		}
		
		table.booked-calendar tr.days {
			background-color: #fff !important;
			
			th {
				background-color: #fff !important;
				border-color: #fff !important;
				color: #000000 !important;
			}
		}

		.booked-list-view {

			.booked-appt-list {

				.timeslot {

					.timeslot-title {
						color: #333;
					}
				}
			}

			button.button,
			input[type=submit].button-primary {
				border-color: #333;
				background-color: #333;
			}

			a {

				&.booked_list_date_picker_trigger {

					&.booked-dp-active {
						border-color: #333;
						background-color: #333;

						&:hover {
							border-color: #333;
							background-color: #333;
						}
					}
				}
			}
		}
	}
	
	&.edgtf-light {
		
		table.booked-calendar {
			
			thead {
				background-color: #e6e7e9 !important;
				
				th {
					color: #8f9093 !important;
					
					.page-left,
					.page-right {
						color: #8f9093 !important;
					}
				}
				
				th, tr {
					border: none !important;
				}
				
				tr.days {
					background-color: #f2f3f5  !important;
					
					th {
						background-color: #f2f3f5  !important;
						border-color: #f2f3f5  !important;
						color: #8f9093 !important;
					}
				}
			}
			
			td {
				
				&:hover,
				&.active {
					
					.date span {
						background-color: #e3f2f9 !important;
						color: #6c6c6c !important;
					}
				}
			}
			
			.booked-appt-list .timeslot {
				
				.timeslot-people button {
					background-color: #6c6c6c !important;
					border: none !important;
					cursor: pointer;
					
					&:hover {
						background-color: #000 !important;
					}
				}
				
				.timeslot-title {
					color: #6c6c6c;
				}
			}
		}

		.booked-list-view {

			.booked-appt-list {

				.timeslot {

					.timeslot-title {
						color: #e6e7e9;
					}
				}
			}

			button.button,
			input[type=submit].button-primary {
				border-color: #e6e7e9;
				background-color: #e6e7e9;
				color: #6c6c6c !important;

				&:hover {
					color: #fff !important;
				}
			}

			a {

				&.booked_list_date_picker_trigger {

					&.booked-dp-active {
						border-color: #e6e7e9;
						background-color: #e6e7e9;

						&:hover {
							border-color: #e6e7e9;
							background-color: #e6e7e9;
						}
					}
				}
			}
		}
	}
	
	&.edgtf-yellow {
		
		table.booked-calendar {
			
			thead {
				background-color: #fec64f !important;
				
				th, tr {
					border: none !important;
				}
			}
			
			td {
				
				&:hover,
				&.active {
					
					.date span {
						background-color: #fec64f !important;
						color: #fff !important;
					}
				}
			}
			
			.booked-appt-list .timeslot {
				
				.timeslot-people button {
					background-color: #fec64f !important;
					border: none !important;
					cursor: pointer;
					
					&:hover {
						background-color: #000!important;
					}
				}
				
				.timeslot-title {
					color: #fec64f;
				}
			}
		}
		
		table.booked-calendar tr.days {
			background-color: #fff  !important;
			
			th {
				background-color: #fff  !important;
				border-color: #fff  !important;
				color: #000000 !important;
			}
		}

		.booked-list-view {

			.booked-appt-list {

				.timeslot {

					.timeslot-title {
						color: #fec64f;
					}
				}
			}

			button.button,
			input[type=submit].button-primary {
				border-color: #fec64f;
				background-color: #fec64f;
			}

			a {

				&.booked_list_date_picker_trigger {

					&.booked-dp-active {
						border-color: #fec64f;
						background-color: #fec64f;

						&:hover {
							border-color: #fec64f;
							background-color: #fec64f;
						}
					}
				}
			}
		}
	}
	
	&.edgtf-teal {
		
		table.booked-calendar {
			
			thead {
				background-color: #0bb3b4 !important;
				
				th, tr {
					border: none !important;
				}
			}
			
			td {
				
				&:hover,
				&.active {
					
					.date span {
						background-color: #0bb3b4 !important;
						color: #fff !important;
					}
				}
			}
			
			.booked-appt-list .timeslot {
				
				.timeslot-people button {
					background-color: #0bb3b4 !important;
					border: none !important;
					cursor: pointer;
					
					&:hover {
						background-color: #000!important;
					}
				}
				
				.timeslot-title {
					color: #0bb3b4;
				}
			}
		}
		
		table.booked-calendar tr.days {
			background-color: #fff  !important;
			
			th {
				background-color: #fff  !important;
				border-color: #fff  !important;
				color: #000000 !important;
			}
		}

		.booked-list-view {

			.booked-appt-list {

				.timeslot {

					.timeslot-title {
						color: #0bb3b4;
					}
				}
			}

			button.button,
			input[type=submit].button-primary {
				border-color: #0bb3b4;
				background-color: #0bb3b4;
			}

			a {

				&.booked_list_date_picker_trigger {

					&.booked-dp-active {
						border-color: #0bb3b4;
						background-color: #0bb3b4;

						&:hover {
							border-color: #0bb3b4;
							background-color: #0bb3b4;
						}
					}
				}
			}
		}
	}
	
	&.edgtf-green {
		
		table.booked-calendar {
			
			thead {
				background-color: #49c088 !important;
				
				th, tr {
					border: none !important;
				}
			}
			
			td {
				
				&:hover,
				&.active {
					
					.date span {
						background-color: #49c088 !important;
						color: #fff !important;
					}
				}
			}
			
			.booked-appt-list .timeslot {
				
				.timeslot-people button {
					background-color: #49c088 !important;
					border: none !important;
					cursor: pointer;
					
					&:hover {
						background-color: #000!important;
					}
				}
				
				.timeslot-title {
					color: #49c088;
				}
			}
		}
		
		table.booked-calendar tr.days {
			background-color: #fff  !important;
			
			th {
				background-color: #fff  !important;
				border-color: #fff  !important;
				color: #000000 !important;
			}
		}

		.booked-list-view {

			.booked-appt-list {

				.timeslot {

					.timeslot-title {
						color: #49c088;
					}
				}
			}

			button.button,
			input[type=submit].button-primary {
				border-color: #49c088;
				background-color: #49c088;
			}

			a {

				&.booked_list_date_picker_trigger {

					&.booked-dp-active {
						border-color: #49c088;
						background-color: #49c088;

						&:hover {
							border-color: #49c088;
							background-color: #49c088;
						}
					}
				}
			}
		}
	}
	
	&.edgtf-blue {
		
		table.booked-calendar {
			
			thead {
				background-color: #2ac4ea !important;
				
				th, tr {
					border: none !important;
				}
			}
			
			td {
				
				&:hover,
				&.active {
					
					.date span {
						background-color: #2ac4ea !important;
						color: #fff !important;
					}
				}
			}
			
			.booked-appt-list .timeslot {
				
				.timeslot-people button {
					background-color: #2ac4ea !important;
					border: none !important;
					cursor: pointer;
					
					&:hover {
						background-color: #000!important;
					}
				}
				
				.timeslot-title {
					color: #2ac4ea;
				}
			}
		}
		
		table.booked-calendar tr.days {
			background-color: #fff  !important;
			
			th {
				background-color: #fff  !important;
				border-color: #fff  !important;
				color: #000000 !important;
			}
		}

		.booked-list-view {

			.booked-appt-list {

				.timeslot {

					.timeslot-title {
						color: #2ac4ea;
					}
				}
			}

			button.button,
			input[type=submit].button-primary {
				border-color: #2ac4ea;
				background-color: #2ac4ea;
			}

			a {

				&.booked_list_date_picker_trigger {

					&.booked-dp-active {
						border-color: #2ac4ea;
						background-color: #2ac4ea;

						&:hover {
							border-color: #2ac4ea;
							background-color: #2ac4ea;
						}
					}
				}
			}
		}
	}
	
	&.edgtf-red {
		
		table.booked-calendar {
			
			thead {
				background-color: #ff887b !important;
				
				th, tr {
					border: none !important;
				}
			}
			
			td {
				
				&:hover,
				&.active {
					
					.date span {
						background-color: #ff887b !important;
						color: #fff !important;
					}
				}
			}
			
			.booked-appt-list .timeslot {
				
				.timeslot-people button {
					background-color: #ff887b !important;
					border: none !important;
					cursor: pointer;
					
					&:hover {
						background-color: #000!important;
					}
				}
				
				.timeslot-title {
					color: #ff887b;
				}
			}
		}
		
		table.booked-calendar tr.days {
			background-color: #fff  !important;
			
			th {
				background-color: #fff  !important;
				border-color: #fff  !important;
				color: #000000 !important;
			}
		}

		.booked-list-view {

			.booked-appt-list {

				.timeslot {

					.timeslot-title {
						color: #ff887b;
					}
				}
			}

			button.button,
			input[type=submit].button-primary {
				border-color: #ff887b;
				background-color: #ff887b;
			}

			a {

				&.booked_list_date_picker_trigger {

					&.booked-dp-active {
						border-color: #ff887b;
						background-color: #ff887b;

						&:hover {
							border-color: #ff887b;
							background-color: #ff887b;
						}
					}
				}
			}
		}
	}
	/* Skin styles end */
}
/* ==========================================================================
   Booked Calendar shortcode style - end
   ========================================================================== */