/* ==========================================================================
   Button shortcode style - begin
   ========================================================================== */

.edgtf-btn {
    position: relative;
    display: inline-block;
    outline: none;
    padding: 13px 33px;
    font-family: inherit;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 2px;
    font-weight: 700;
	box-sizing: border-box;
	@include edgtfTransition(color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out);

    &.edgtf-btn-simple {
        padding: 0 !important;
        color: $first-main-color;
        background-color: transparent;
        border: 0;
        vertical-align: middle;

        .edgtf-btn-text {
            display: inline-block;
            vertical-align: middle;
        }

        &:not(.edgtf-btn-custom-hover-color):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            color: $default-heading-color !important;
        }

        &:not(.edgtf-btn-custom-hover-bg):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            background-color: transparent !important;
        }

        &:not(.edgtf-btn-custom-border-hover):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            border-color: transparent !important;
        }
    }

    &.edgtf-btn-solid {
        color: #fff;
        background-color: $first-main-color;
        border: 1px solid $first-main-color;

        &:not(.edgtf-btn-custom-hover-color):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            color: #fff !important;
        }

        &:not(.edgtf-btn-custom-hover-bg):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            background-color: $default-heading-color !important;
        }

        &:not(.edgtf-btn-custom-border-hover):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            border-color: $default-heading-color !important;
        }
    }

    &.edgtf-btn-outline {
	    color: $first-main-color;
        background-color: transparent;
	    border: 1px solid $first-main-color;

        &:not(.edgtf-btn-custom-hover-color):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            color: #fff !important;
        }

        &:not(.edgtf-btn-custom-hover-bg):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            background-color: $first-main-color !important;
        }

        &:not(.edgtf-btn-custom-border-hover):hover {
            //important because of inline color attribute. :not is used so we don't have to use important in JS
            border-color: $first-main-color !important;
        }
    }

    &.edgtf-btn-small {
        padding: 9px 22px;
        font-family: $additional-text-font;
        font-size: 10px;
	    line-height: 20px;
        font-weight: 400;
    }

    &.edgtf-btn-medium {
        //same as default
    }

    &.edgtf-btn-large {
        padding: 16px 42px;
    }

    &.edgtf-btn-huge {
        display: block;
        text-align: center;
        padding: 16px 30px;
    }

    &.edgtf-btn-icon {

        > i,
        > span:not(.edgtf-btn-text) {
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin: 0 0 0 4px;
            font-size: 1.142857142857143em;
            line-height: inherit;

            &:before {
                display: block;
                line-height: inherit;
            }
        }
    }
}

input[type=submit].edgtf-btn,
button.edgtf-btn {
    cursor: pointer;
}
/* ==========================================================================
   Button shortcode style - end
   ========================================================================== */