/* ==========================================================================
   Button shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: $laptop-landscape) {

	.edgtf-btn {

		&.edgtf-btn-large,
		&.edgtf-btn-huge {
			padding: 13px 33px;
		}
	}
}
/* ==========================================================================
   Button shortcode responsive style - end
   ========================================================================== */