/* ==========================================================================
   Clients Carousel shortcode style - begin
   ========================================================================== */

.edgtf-clients-carousel-holder {
    @include edgtfRelativeHolderLayout();
    
	.edgtf-cc-inner {
		@include edgtfRelativeHolderLayout();
		visibility: hidden;
	}
	
	.edgtf-cc-item {
		@include edgtfRelativeHolderLayout();
		
		.touch & {
			cursor: pointer;
		}
		
		.edgtf-cc-item {
			position: relative;
			display: block;
		}
	}
	
	/***** Hover Types - begin *****/
	
	&.edgtf-cc-hover-switch-images {
		
		.owl-stage {
			padding: 5px 0;
		}

		.edgtf-cc-item {
			
			&:hover {
				
				.edgtf-cc-hover-image {
					opacity: 1;
					@include edgtfTransform(translateX(-50%) scale(1));
					@include edgtfTransition(all .45s cubic-bezier(0.18, 0.89, 0.32, 1.28));
				}

				.edgtf-cc-image {
					opacity:0;
				}
			}
			
			.edgtf-cc-image {
				position: relative;
				display: block;
				width: auto;
				margin: 0 auto;
				@include edgtfTransition(opacity .1s);
			}
			
			.edgtf-cc-hover-image {
				position: absolute;
				top: 0;
				left: 50%;
				width: auto;
				z-index: 100;
				opacity: 0;
				@include edgtfTransform(translateX(-50%) scale(.4));
				-webkit-transition: opacity .2s, -webkit-transform .0s .2s;
				transition: opacity .2s, transform .0s .2s;
			}
		}
	}
	
	&.edgtf-cc-hover-roll-over {
		
		.edgtf-cc-item {
			overflow: hidden;
			
			&:hover {
				
				.edgtf-cc-image {
					@include edgtfTransform(translateY(100%));
				}
				
				.edgtf-cc-hover-image {
					@include edgtfTransform(translate(-50%, 0));
				}
			}
			
			.edgtf-cc-image {
				position: relative;
				display: block;
				width: auto;
				margin: 0 auto;
				-webkit-transition: -webkit-transform .4s ease;
				-moz-transition: -moz-transform .4s ease;
				transition: transform .4s ease;
			}
			
			.edgtf-cc-hover-image {
				position: absolute;
				top: 0;
				left: 50%;
				width: auto;
				-webkit-transition: -webkit-transform .4s ease;
				-moz-transition: -moz-transform .4s ease;
				transition: transform .4s ease;
				@include edgtfTransform(translate(-50%, -100%));
			}
		}
	}
	
	/***** Hover Types - end *****/
}
/* ==========================================================================
   Clients Carousel shortcode style - end
   ========================================================================== */