/* ==========================================================================
   Countdown shortcode style - begin
   ========================================================================== */

.edgtf-countdown {
	@include edgtfRelativeHolderLayout();
	
	.countdown-rtl {
		direction: rtl;
	}
	
	.countdown-row {
		@include edgtfRelativeHolderLayout();
		text-align: center;
		clear: both;
		
		&.countdown-show1 .countdown-section {
			width: 100%;
		}
		&.countdown-show2 .countdown-section {
			width: 50%;
		}
		&.countdown-show3 .countdown-section {
			width: 33.33333333333333%;
		}
		&.countdown-show4 .countdown-section {
			width: 25%;
		}
		&.countdown-show5 .countdown-section {
			width: 20%;
		}
		
		.countdown-section {
			@include edgtfRelativeHolderLayout();
			padding: 0 5px;
			box-sizing: border-box;
			
			.countdown-amount {
				position: relative;
				display: block;
				color: $default-heading-color;
				font-size: 75px;
				line-height: 1em;
				font-weight: 700;
			}
			
			.countdown-period {
				display: block;
				margin: 11px 0 0;
				font-size: 16px;
				font-weight: 600;
			}
		}
	}
	
	&.edgtf-dark-skin {
		
		.countdown-row {
			
			.countdown-section {
				
				.countdown-amount,
				.countdown-period {
					color: $default-heading-color;
				}
			}
		}
	}
	
	&.edgtf-light-skin {
		
		.countdown-row {
			
			.countdown-section {
				
				.countdown-amount,
				.countdown-period {
					color: #fff;
				}
			}
		}
	}
}
/* ==========================================================================
   Countdown shortcode style - end
   ========================================================================== */