/* ==========================================================================
   Dropcaps shortcode style - begin
   ========================================================================== */

.edgtf-dropcaps {
    position: relative;
    display: inline-block;
    vertical-align: top;
    float: left;
    font-size: 46px;
    line-height: 1em;
    color: $default-heading-color;
    text-align: center;
    margin: 0 10px 0 0;

    &.edgtf-square {
        height: 40px;
        width: 40px;
        font-size: 22px;
        line-height: 40px;
        color: #fff;
        background-color: $default-heading-color;
        margin: 6px 12px 0 0;
        box-sizing: border-box;
    }

    &.edgtf-circle {
        @extend .edgtf-square;
        border-radius: 3em;
    }
}
/* ==========================================================================
   Dropcaps shortcode style - end
   ========================================================================== */