/* ==========================================================================
   Expanded Image Gallery shortcode responsive style - begin
   ========================================================================== */

@include laptop-landscape-medium {
	
	.edgtf-expanded-image-gallery {
		
		.edgtf-eig-grid {
			
			$gallery_space_label: ('large');
			$gallery_space_width: (15);
			
			@for $i from 0 to length($gallery_space_label) {
				&.edgtf-eig-#{nth($gallery_space_label,$i+1)}-space {
					$column_width: nth($gallery_space_width,$i+1);
					$column_width_margin: $column_width * 2;
					
					margin: 0 -#{$column_width}px;
					
					.edgtf-eig-image {
						padding: 0 #{$column_width}px;
						margin: 0 0 #{$column_width_margin}px;
					}
				}
			}
			
			$gallery_columns: ('5');
			
			@for $i from 0 to length($gallery_columns) {
				&.edgtf-eig-columns-#{nth($gallery_columns,$i+1)} {
					$column_width: 100%/4;
					
					.edgtf-eig-image {
						width: $column_width;
						$gallery_list_columns_label: #{nth($gallery_columns,$i+1)};
						
						@media only screen and (min-width: $ipad-landscape-plus-pixel) {
							&:nth-child(5n+1) {
								clear: none;
							}
							
							&:nth-child(4n+1) {
								clear: both;
							}
						}
					}
				}
			}
		}
	}
}

@include ipad-landscape {
	
	.edgtf-expanded-image-gallery {
		
		.edgtf-eig-grid {
			
			$gallery_columns_clear: ('2', '3');
			$gallery_columns: ('4', '5');
			
			@for $i from 0 to length($gallery_columns) {
				&.edgtf-eig-columns-#{nth($gallery_columns,$i+1)} {
					$column_width: 100%/3;
					
					.edgtf-eig-image {
						width: $column_width;
						
						@media only screen and (min-width: $ipad-portrait-plus-pixel) {
							&:nth-child(3n+1) {
								clear: both;
							}
						}
					}
				}
			}
			
			@for $i from 0 to length($gallery_columns_clear) {
				&.edgtf-eig-columns-#{nth($gallery_columns_clear,$i+1)} {
					
					.edgtf-eig-image {
						
						@media only screen and (min-width: $ipad-portrait-plus-pixel) {
							&:nth-child(#{$i+2}n+1) {
								clear: both;
							}
						}
					}
				}
			}
		}
	}
}

@include ipad-portrait {
	
	.edgtf-expanded-image-gallery {
		
		.edgtf-eig-grid {
			$gallery_columns: ('2', '3', '4', '5');
			
			@for $i from 0 to length($gallery_columns) {
				&.edgtf-eig-columns-#{nth($gallery_columns,$i+1)} {
					$column_width: 50%;
					
					.edgtf-eig-image {
						width: $column_width;
						
						@media only screen and (min-width: $phone-landscape-plus-pixel) {
							&:nth-child(2n+1) {
								clear: both;
							}
						}
					}
				}
			}
		}
	}
}

@include phone-landscape {
	
	.edgtf-expanded-image-gallery {
		
		.edgtf-eig-filter {
			margin: 0 0 48px;
			
			a {
				padding: 16px 18px 16px 16px;
				margin: 0 3px;
			}
		}
		
		.edgtf-eig-grid {
			$gallery_columns: ('2', '3', '4', '5');
			
			@for $i from 0 to length($gallery_columns) {
				&.edgtf-eig-columns-#{nth($gallery_columns,$i+1)} {
					$column_width: 100%;
					
					.edgtf-eig-image {
						width: $column_width;
					}
				}
			}
		}
	}
}
/* ==========================================================================
   Expanded Image Gallery shortcode responsive style - end
   ========================================================================== */