/* ==========================================================================
   Expanded Image Gallery shortcode style - begin
   ========================================================================== */

.edgtf-expanded-image-gallery {
    @include edgtfRelativeHolderLayout();
	visibility: hidden;

	.edgtf-eig-grid.edgtf-eig-appear-effect {
		.edgtf-eig-image-inner {
			visibility: hidden;
		}

		.no-touch & {
			.edgtf-eig-image-inner {
				visibility: visible;
				opacity: 0;	
			    @include edgtfTransform(scale(.85));

				&.edgtf-appeared {
				    @include edgtfTransition(all 1s cubic-bezier(.785,.135,.15,.86));
				    @include edgtfTransform(scale(1));
				    opacity: 1;

				    &.edgtf-animated {
				    	@include edgtfTransition(none);
				    }
				}
			}
		}

		.touch & {
			.edgtf-eig-image-inner {
				visibility: visible;
			}
		}
	}
	
	.edgtf-eig-filter {
		@include edgtfRelativeHolderLayout();
		margin: 0 0 68px;
		text-align: center;
		
		a {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			padding: 15px 35px 15px 28px;
			margin: 0 9px;
			color: $default-heading-color;
			background-color: #eee;
			box-sizing: border-box;
			@include edgtfTransition(color .2s ease-out, background-color .2s ease-out);
			
			&.edgtf-eig-active {
				color: #fff;
				background-color: $default-heading-color;
			}
			
			> span {
				position: relative;
				display: inline-block;
				vertical-align: middle;
			}
		}
		
		.edgtf-eig-icon {
			width: 34px;
			height: 22px;
			@include edgtfTransition(background .2s ease-out);
			
			@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:150/100), only screen and (min-device-pixel-ratio:1.5), only screen and (min-resolution:160dppx) {
				
				& {
					-webkit-background-size: 34px 22px;
					-moz-background-size: 34px 22px;
					-o-background-size: 34px 22px;
					background-size: 34px 22px;
				}
			}
			
			@media only screen and (-webkit-min-device-pixel-ratio:2.0), only screen and (min--moz-device-pixel-ratio:2.0), only screen and (-o-min-device-pixel-ratio:200/100), only screen and (min-device-pixel-ratio:2.0), only screen and (min-resolution:210dppx) {
				
				& {
					-webkit-background-size: 34px 22px;
					-moz-background-size: 34px 22px;
					-o-background-size: 34px 22px;
					background-size: 34px 22px;
				}
			}
		}
		
		.edgtf-eig-label {
			padding: 0 0 0 7px;
			font-size: 11px;
			line-height: 13px;
			font-weight: 600;
			letter-spacing: 1px;
			text-align: initial;
			
			span {
				display: block;
			}
		}
		
		.edgtf-eig-standard-view {
			
			.edgtf-eig-icon {
				background-image: url('img/bar.png');
			}
			
			@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:150/100), only screen and (min-device-pixel-ratio:1.5), only screen and (min-resolution:160dppx) {
				
				.edgtf-eig-icon {
					background-image: url('img/bar@1_5x.png');
				}
			}
			
			@media only screen and (-webkit-min-device-pixel-ratio:2.0), only screen and (min--moz-device-pixel-ratio:2.0), only screen and (-o-min-device-pixel-ratio:200/100), only screen and (min-device-pixel-ratio:2.0), only screen and (min-resolution:210dppx) {
				
				.edgtf-eig-icon {
					background-image: url('img/bar@2x.png');
				}
			}
			
			&.edgtf-eig-active {
				
				.edgtf-eig-icon {
					background-image: url('img/bar_white.png');
				}
				
				@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:150/100), only screen and (min-device-pixel-ratio:1.5), only screen and (min-resolution:160dppx) {
					
					.edgtf-eig-icon {
						background-image: url('img/bar_white@1_5x.png');
					}
				}
				
				@media only screen and (-webkit-min-device-pixel-ratio:2.0), only screen and (min--moz-device-pixel-ratio:2.0), only screen and (-o-min-device-pixel-ratio:200/100), only screen and (min-device-pixel-ratio:2.0), only screen and (min-resolution:210dppx) {
					
					.edgtf-eig-icon {
						background-image: url('img/bar_white@2x.png');
					}
				}
			}
		}
		
		.edgtf-eig-open-view {
			
			.edgtf-eig-icon {
				background-image: url('img/line.png');
			}
			
			@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:150/100), only screen and (min-device-pixel-ratio:1.5), only screen and (min-resolution:160dppx) {
				
				.edgtf-eig-icon {
					background-image: url('img/line@1_5x.png');
				}
			}
			
			@media only screen and (-webkit-min-device-pixel-ratio:2.0), only screen and (min--moz-device-pixel-ratio:2.0), only screen and (-o-min-device-pixel-ratio:200/100), only screen and (min-device-pixel-ratio:2.0), only screen and (min-resolution:210dppx) {
				
				.edgtf-eig-icon {
					background-image: url('img/line@2x.png');
				}
			}
			
			&.edgtf-eig-active {
				
				.edgtf-eig-icon {
					background-image: url('img/line_white.png');
				}
				
				@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:150/100), only screen and (min-device-pixel-ratio:1.5), only screen and (min-resolution:160dppx) {
					
					.edgtf-eig-icon {
						background-image: url('img/line_white@1_5x.png');
					}
				}
				
				@media only screen and (-webkit-min-device-pixel-ratio:2.0), only screen and (min--moz-device-pixel-ratio:2.0), only screen and (-o-min-device-pixel-ratio:200/100), only screen and (min-device-pixel-ratio:2.0), only screen and (min-resolution:210dppx) {
					
					.edgtf-eig-icon {
						background-image: url('img/line_white@2x.png');
					}
				}
			}
		}
	}
	
	.edgtf-eig-image {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		float: left;
		box-sizing: border-box;
		@include edgtfTransform(translate3d(0,0,0));
		@include edgtfTransition(all .3s);

		&:hover {
			@include edgtfTransform(translate3d(0,-10px,0));

			.edgtf-eig-image-label {
				@include edgtfTransform(translate3d(0,10px,0));
			}
		}
		
		a, img {
			display: block;
			width: 100%;
		}
		
		.edgtf-eig-image-label {
			@include edgtfRelativeHolderLayout();
			margin: 30px 0 0;
			color: $default-heading-color;
			font-size: 18px;
			line-height: 1.3em;
			text-align: center;
			@include edgtfTransform(translate3d(0,0,0));
			@include edgtfTransition(all .3s);
			
			a {
				@include edgtfTypographyLayout();
				display: block;
			}
		}
	}
	
	.edgtf-eig-image-inner {
		@include edgtfRelativeHolderLayout();
		box-shadow: 0 12px 24px 0 rgba(0,0,0,.05);
		overflow: hidden;
	}

	.edgtf-eig-grid {
		
		.edgtf-eig-no-shadow {
			
			.edgtf-eig-image-inner {
				box-shadow: none;
			}
		}
		
		$gallery_space_label: ('no', 'tiny', 'small', 'normal', 'large');
		$gallery_space_width: (0, 5, 10, 15, 30);
		
		@for $i from 0 to length($gallery_space_label) {
			&.edgtf-eig-#{nth($gallery_space_label,$i+1)}-space {
				$column_width: nth($gallery_space_width,$i+1);
				$column_width_margin: $column_width * 2;
				
				@if($column_width == 0) {
					margin: 0;
				} @else {
					margin: 0 -#{$column_width}px;
				}
				
				.edgtf-eig-image {
					padding: 0 #{$column_width}px;
					margin: 0 0 #{$column_width_margin}px;
				}
			}
		}
		
		$gallery_columns: ('2', '3', '4', '5');
		@for $i from 0 to length($gallery_columns) {
			&.edgtf-eig-columns-#{nth($gallery_columns, $i+1)} {
				$column_width: 100%/($i+2);
				
				.edgtf-eig-image {
					width: $column_width;
					
					@media only screen and (min-width: $ipad-landscape-plus-pixel) {
						
						&:nth-child(#{$i+2}n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}
}
/* ==========================================================================
   Image Gallery shortcode style - end
   ========================================================================== */