/* ==========================================================================
   Frame Slider shortcode style - begin
   ========================================================================== */

.edgtf-frame-slider-holder {
	@include edgtfRelativeHolderLayout();
	visibility: hidden; //add via JS
	
	.edgtf-fs-images-holder {
		@include edgtfRelativeHolderLayout();
		
		img {
			display: block;
		}
		
		.edgtf-fs-inner-slider-holder {
			position: relative;
			display: table-cell;
			vertical-align: middle;
		}
		
		.edgtf-fs-inner-slider-holder2 {
			@include edgtfRelativeHolderLayout();
		}
		
		.edgtf-fs-mobile-holder {
			
			.edgtf-fs-mobile-slider {
				position: absolute;
				top: 8.6%;
				left: 5.8%;
				height: 82%;
				width: 90%;
				overflow: hidden;
			}
		}
		
		.edgtf-fs-desktop-holder {
			left: 30px;
			
			@include ipad-portrait {
				left: 0;
			}
			
			.edgtf-fs-desktop-slider {
				position: absolute;
				top: 6.9%;
				left: 12.5%;
				height: 76%;
				width: 75.5%;
				overflow: hidden;
			}
		}
	}
	
	.owl-carousel .owl-item img {
		-webkit-transform: translateZ(0) !important; //chrome text cut off fix
	}
}
/* ==========================================================================
   Frame Slider shortcode style - end
   ========================================================================== */