/* ==========================================================================
   Google Map shortcode responsive style - begin
   ========================================================================== */

@include laptop-landscape-medium {
	
	.edgtf-google-map-holder {
		
		.edgtf-google-map-info {
			width: auto !important;
		}
	}
}

@include ipad-landscape {

	.edgtf-google-map-overlay {
		display: block;
	}
}

@include phone-landscape {
	
	.edgtf-google-map-holder {
		
		.edgtf-google-map-info {
			display: none;
		}
	}
}
/* ==========================================================================
   Google Map shortcode responsive style - end
   ========================================================================== */