/* ==========================================================================
   Icon With Text shortcode style - begin
   ========================================================================== */

.edgtf-iwt {
	@include edgtfRelativeHolderLayout();
	
	.edgtf-iwt-icon {
		
		a {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			@include edgtfTransform(translate3d(0,0,0));
			@include edgtfTransition(all .3s cubic-bezier(.38, 3,.57,1.38));
		}
		
		.edgtf-icon-shortcode {
			line-height: 1;
			
			&.edgtf-circle,
			&.edgtf-square {
				line-height: 2;
			}
		}
	}

	&:hover {
		.edgtf-iwt-icon {
			a {
				@include edgtfTransform(translate3d(0,-5px,0));
			}
		}
	}
	
	.edgtf-iwt-title {
		margin: 0;
		line-height: 1.2em;
		
		a {
			position: relative;
			display: inline-block;
			vertical-align: top;
		}
	}
	
	div.edgtf-iwt-title {
		display: block;
		font-size: 16px;
		font-weight: 500;
		
		a {
			@include edgtfTypographyLayout();
		}
	}
	
	.edgtf-iwt-title-text {
		display: block;
	}
	
	.edgtf-iwt-text {
		margin: 20px 0 0;
	}
	
	&.edgtf-iwt-icon-left {
		width: auto;
		
		.edgtf-iwt-icon,
		.edgtf-iwt-content {
			display: table-cell;
			vertical-align: top;
		}
		
		.edgtf-iwt-icon {
			position: relative;
			top: 1px;
			
			img {
				max-width: none;
			}
		}
		
		.edgtf-iwt-content {
			padding: 0 0 0 13px;
		}
	}
	
	&.edgtf-iwt-icon-left-from-title {
		
		.edgtf-iwt-icon,
		.edgtf-iwt-title-text {
			position: relative;
			display: table-cell;
			vertical-align: middle;
		}
		
		.edgtf-iwt-icon {
			
			.edgtf-icon-element {
				@include edgtfTransition(none);
			}
			
			img {
				max-width: none;
			}
		}
		
		.edgtf-iwt-title-text {
			padding: 0 0 0 17px;
		}
	}
	
	&.edgtf-iwt-icon-top {
		text-align: center;
		
		.edgtf-iwt-content {
			padding: 23px 0 0;
		}
	}
}
/* ==========================================================================
   Icon With Text shortcode style - end
   ========================================================================== */