/* ==========================================================================
   Image With Text shortcode style - begin
   ========================================================================== */

.edgtf-image-with-text-holder {
    @include edgtfRelativeHolderLayout();
	
	a {
		@include edgtfAbsoluteHolderLayout();
		z-index: 100;
	}

	.edgtf-iwt-image {
		@include edgtfRelativeHolderLayout();
		
		img {
			display: block;
			@include edgtfTransform(translate3d(0,0,0));
			@include edgtfTransition(all .3s);
		}
	}

	&:not(.edgtf-animating) a:hover ~ .edgtf-iwt-image {
		img {
			@include edgtfTransform(translate3d(0,-10px,0));
		}
	}
	
	.edgtf-iwt-text-holder {
		@include edgtfRelativeHolderLayout();
	}
	
	.edgtf-iwt-title {
		margin: 36px 0 0;
		font-size: 18px;
		font-weight: 400;
	}
	
	.edgtf-iwt-text {
		margin: 20px 0 0;
	}

	&.edgtf-iwt-appear-effect {
		.edgtf-iwt-image {
			visibility: hidden;
		}

		.no-touch & {
			.edgtf-iwt-image {
				visibility: visible;
				opacity: 0;	
			    @include edgtfTransform(scale(.85));
			
				&.edgtf-appeared {
				    @include edgtfAnimation(iwtAppearAnimation 1s cubic-bezier(.785,.135,.15,.86) forwards);
				}
			}
		}

		@include keyframes(iwtAppearAnimation) {
			0% {
				opacity: 0;	
			    @include edgtfTransform(scale(.85));
			}

			100% {
				visibility: visible;
				@include edgtfTransition(all 1s cubic-bezier(.785,.135,.15,.86));
				@include edgtfTransform(scale(1));
				opacity: 1;
			}
		}

		.touch & {
			.edgtf-iwt-image {
				visibility: visible;
			}
		}
	}
}
/* ==========================================================================
   Image With Text shortcode style - end
   ========================================================================== */