/* ==========================================================================
   Image Slider shortcode style - begin
   ========================================================================== */

.edgtf-image-slider-holder {
    @include edgtfRelativeHolderLayout();
	
	.edgtf-is-slider-inner {
		@include edgtfRelativeHolderLayout();
		visibility: hidden;
		
		.edgtf-is-item {
			@include edgtfRelativeHolderLayout();
			
			img {
				display: block;
			}
		}
		
		.edgtf-is-item-inner {
			@include edgtfTableLayout();
		}
		
		.edgtf-is-image,
		.edgtf-is-content {
			position: relative;
			display: table-cell;
			height: 100%;
			width: 50%;
			vertical-align: middle;
		}
		
		.edgtf-is-content {
			padding: 15px 8%;
			background-color: #fff;
			box-sizing: border-box;
			@include edgtfTransform(translateZ(0));
			
			> ul {
				list-style: none;
				
				li {
					position: relative;
					padding: 0 0 0 16px;
					
					&:before {
						content: '';
						position: absolute;
						top: calc(50% - 3px);
						left: 0;
						width: 6px;
						height: 6px;
						background-color: $first-main-color;
						border-radius: 3em;
					}
				}
			}
		}
	}
	
	.owl-nav {
		
		.owl-prev,
		.owl-next {
			position: absolute;
			top: 50%;
			z-index: 3;
			@include edgtfTransform(translateY(-50%));
			
			&:hover {
				
				.edgtf-prev-icon,
				.edgtf-next-icon {
					color: $first-main-color;
				}
			}
		}
		
		.owl-prev {
			left: calc(50% + 25px);
		}
		
		.owl-next {
			right: 25px;
		}
		
		.edgtf-prev-icon,
		.edgtf-next-icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			color: $default-heading-color;
			line-height: 1;
			@include edgtfTransition(color .2s ease-out);
			
			.edgtf-icon-arrow {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				font-size: 35px;
				line-height: inherit;
				
				&:before {
					display: block;
					line-height: inherit;
				}
			}
		}
	}
	
	.owl-carousel .owl-item img {
		-webkit-transform: translateZ(0) !important; //chrome text cut off fix
	}
}
/* ==========================================================================
   Image Slider shortcode style - end
   ========================================================================== */