/* ==========================================================================
   Image Gallery shortcode style - begin
   ========================================================================== */

.edgtf-image-gallery {
    @include edgtfRelativeHolderLayout();
    
	.edgtf-ig-grid {
		
		.edgtf-ig-image {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			overflow: hidden;
			float: left;
			box-sizing: border-box;

			img {
				display: block;
				@include edgtfTransition(all .4s cubic-bezier(0.23, 1, 0.32, 1));
				@include edgtfTransform(scale(1.01));
				will-change:transform;
			}

			a {
				@include edgtfRelativeHolderLayout();
				overflow: hidden;
				
				&:before {
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -19px 0 0 -19px;
					content: '\4c';
					font-family: 'ElegantIcons';
					speak: none;
					color: #fff;
					font-size: 38px;
					line-height: 1;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					-webkit-font-smoothing: antialiased;
					z-index: 20;
					opacity: 0;
					@include edgtfTransform(translateY(-40px) translateX(-40px));
					-webkit-transition: -webkit-transform .3s ease-in-out .3s, opacity .3s ease-in-out;
					transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out;
				}
				
				&:after {
					@include edgtfAbsoluteHolderLayout();
					content: '';
					background-color: rgba($first-main-color, 0.7);
					opacity: 0;
					@include edgtfTransition(opacity .3s ease-in-out);
				}
				
				&:hover {
					img {
						@include edgtfTransform(scale(1.1));
					}
					
					&:before {
						@include edgtfTransform(translateY(0) translateX(0));
						opacity: 1;
						-webkit-transition: -webkit-transform .4s cubic-bezier(0.23, 1, 0.32, 1), opacity .3s ease-in-out;
						transition: transform .4s cubic-bezier(0.23, 1, 0.32, 1), opacity .3s ease-in-out;
					}

					&:after {
						opacity: 0.7;
					}
				}
			}
		}
		
		$gallery_space_label: ('no', 'tiny', 'small', 'normal');
		$gallery_space_width: (0, 5, 10, 15);
		
		@for $i from 0 to length($gallery_space_label) {
			&.edgtf-ig-#{nth($gallery_space_label,$i+1)}-space {
				$column_width: nth($gallery_space_width,$i+1);
				$column_width_margin: $column_width * 2;
				
				@if($column_width == 0) {
					margin: 0;
				} @else {
					margin: 0 -#{$column_width}px;
				}
				
				.edgtf-ig-image {
					padding: 0 #{$column_width}px;
					margin: 0 0 #{$column_width_margin}px;
				}
			}
		}
		
		$gallery_columns: ('2', '3', '4', '5', '6');
		@for $i from 0 to length($gallery_columns) {
			&.edgtf-ig-columns-#{nth($gallery_columns, $i+1)} {
				$column_width: 100%/($i+2);
				
				.edgtf-ig-image {
					width: $column_width;
					
					@media only screen and (min-width: $ipad-landscape-plus-pixel) {
						
						&:nth-child(#{$i+2}n+1) {
							clear: both;
						}
					}
				}
			}
		}
		
		&.edgtf-ig-grayscale {
			
			.edgtf-ig-image {
				
				img {
					filter: url(img/desaturate.svg#grayscale);
					-webkit-filter: grayscale(100%);
					-moz-filter: grayscale(100%);
					filter: gray;
					filter: grayscale(100%);
				}
				
				.touch & {
					cursor: pointer;
				}
				
				&:hover {
					
					img {
						-webkit-filter: grayscale(0);
						filter: none;
					}
				}
			}
		}
	}
	
	.edgtf-ig-slider {
		@include edgtfRelativeHolderLayout();
		visibility: hidden;
		
		.owl-item {
			a {
				position: relative;
				display: block;
				overflow: hidden;
				@include edgtfTransform(translateZ(0) scale(1.005));
				backface-visibility: hidden;

				&:before {
					content:'';
					position: absolute;
					top: -5%;
					left: -5%;
					height: 110%;
					width: 110%;
					z-index: 100;
					background-color: rgba(0,0,0,.25);
					opacity: 0;
					@include edgtfTransition(opacity .4s cubic-bezier(0.22,0.8,0.42,1));
				}
				
				img {
					display: block;
					-webkit-transition: transform .45s cubic-bezier(0.22, 0.8, 0.42, 1);
					transition: transform .45s cubic-bezier(0.22, 0.8, 0.42, 1);
					@include edgtfTransform(scale(1));
				}
				
				&:hover {
					&:before {
						opacity: 1;
					}

					img {
						@include edgtfTransform(scale(1.04));
					}
				}
			}
		}
		
		&.edgtf-nav-pag-enabled {
			
			.owl-nav {
				
				.owl-prev,
				.owl-next {
					$pos: calc(-50% - 19px); // 19 is is half height of pagination control
					@include edgtfTransform(translateY($pos));
				}
			}
		}
	}
	
	.owl-nav {
		
		.owl-prev,
		.owl-next {
			position: absolute;
			top: 50%;
			z-index: 3;
			@include edgtfTransform(translateY(-50%));
			
			&:hover {
				
				.edgtf-prev-icon,
				.edgtf-next-icon {
					color: $first-main-color;
				}
			}
		}
		
		.owl-prev {
			left: 30px;
		}
		
		.owl-next {
			right: 30px;
		}
		
		.edgtf-prev-icon,
		.edgtf-next-icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			color: $default-heading-color;
			line-height: 1;
			@include edgtfTransition(color .2s ease-out);
			
			.edgtf-icon-arrow {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				font-size: 50px;
				line-height: inherit;
				
				&:before {
					display: block;
					line-height: inherit;
				}
			}
		}
	}
	
	.owl-dots {
		text-align: center;
		margin: 19px 0 0;
		
		.owl-dot {
			display: inline-block;
			vertical-align: middle;
			
			span {
				display: inline-block;
				vertical-align: middle;
				width: 10px;
				height: 10px;
				@include edgtfTransform(scale(.8));
				margin: 0 6px;
				border-radius: 3em;
				background-color: rgba($default-heading-color, .3);
				box-sizing: border-box;
				@include edgtfTransition(all .2s);
			}
			
			&.active {
				
				span {
					@include edgtfTransform(scale(1));
					background-color: $default-heading-color;
				}
			}
		}
	}
	
	.owl-carousel .owl-item img {
		width: 100.2%;
		max-width: inherit;
		-webkit-transform: translateZ(0); //chrome text cut off fix
	}
}
/* ==========================================================================
   Image Gallery shortcode style - end
   ========================================================================== */