/* ==========================================================================
   Image Slider shortcode responsive style - begin
   ========================================================================== */

@include laptop-landscape-large {
	
	.edgtf-image-slider-holder {
		
		.edgtf-is-slider-inner {
			
			.edgtf-is-content {
				padding: 15px 6%;
			}
		}
	}
}

@include ipad-landscape {
	
	.edgtf-image-slider-holder {
		
		.edgtf-is-slider-inner {
			
			.edgtf-is-content {
				padding: 15px 30px;
			}
		}
		
		.owl-nav {
			
			.owl-prev {
				left: calc(50% + 10px);
			}
			
			.owl-next {
				right: 10px;
			}
		}
	}
}

@include ipad-portrait {
	
	.edgtf-image-slider-holder {
		
		.edgtf-is-slider-inner {
			
			.edgtf-is-item-inner {
				display: inline-block;
				table-layout: auto;
				height: auto;
			}
			
			.edgtf-is-image,
			.edgtf-is-content {
				display: inline-block;
				width: 100%;
				height: auto;
			}
			
			.edgtf-is-content {
				padding: 25px 30px 45px;
			}
		}
		
		.owl-nav {
			
			.owl-prev {
				left: 25px;
			}
			
			.owl-next {
				right: 25px;
			}
		}
	}
}
/* ==========================================================================
   Image Slider shortcode responsive style - end
   ========================================================================== */