/* ==========================================================================
   Info Cards shortcode style - begin
   ========================================================================== */

.edgtf-info-cards-holder {
	@include edgtfRelativeHolderLayout();
	clear: both;
	
	.edgtf-info-cards-wrapper {
		position: relative;
		z-index: 1;
		box-sizing: border-box;
	}
	
	.edgtf-info-cards-inner {
		@include edgtfRelativeHolderLayout();
	}
	
	.edgtf-ic-overlay {
		@include edgtfAbsoluteHolderLayout();
		padding: 106px 0;
		box-sizing: border-box;
	}
	
	.edgtf-ic-overlay-inner {
		@include edgtfRelativeHolderLayout();
		height: 100%;
		background-color: #f7f7f7;
	}
	
	&.edgtf-ic-animation {
		.edgtf-ic-item-inner {
			opacity: 0;
			@include edgtfTransform(translate3d(0,100px,0));
		    -webkit-transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
		    transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1), transform 1s cubic-bezier(0.23, 1, 0.32, 1);
		}

		@for $i from 1 through 9 {
			.edgtf-ic-item:nth-child(#{$i}) .edgtf-ic-item-inner  {
				-webkit-transition-delay: #{0.3 * $i}s;
				transition-delay: #{0.3 * $i}s;
			}
		}
		
		&.edgtf-ic-show-items {
			.edgtf-ic-item-inner {
				@include edgtfTransform(translate3d(0,0,0));
				opacity: 1;
			}
		}
	}
	
	.edgtf-ic-item {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 50%;
		float: left;
		margin: 17px 0;
		box-sizing: border-box;
		clear: both;
		
		&:nth-child(odd) {
			padding: 0 17px 0 0;
		}
		
		&:nth-child(even) {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0 0 0 17px;
		}
		
		@for $i from 1 through 9 {
			
			@if ($i % 2 == 0) {
				
				&:nth-child(#{$i}) {
					$cof: calc(#{$i * 25}#{'%'} + 30px);
					@include edgtfTransform(translateY($cof));
				}
			}
		}
		
		h1, h2, h3, h4, h5, h6, p {
			margin: 0;
		}
		
		&.edgtf-ic-has-shadow {
			
			.edgtf-ic-item-inner {
				box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.09);
			}
		}
		
		.edgtf-icon-list-holder {
			margin-bottom: 0;
			
			.edgtf-il-icon-holder > * {
				top: -1px;
				font-size: 8px;
			}
			
			.edgtf-il-text {
				padding: 0 0 0 11px;
			}
		}
	}
	
	.edgtf-ic-item-inner {
		@include edgtfRelativeHolderLayout();
		padding: 11% 8.6%;
		background-color: #fff;
		box-sizing: border-box;
	}
}
/* ==========================================================================
   Info Cards shortcode style - end
   ========================================================================== */