/* ==========================================================================
   Info Cards shortcode responsive style - begin
   ========================================================================== */

@include ipad-portrait {
	
	.edgtf-info-cards-holder {
		
		.edgtf-info-cards-wrapper {
			padding: 0 !important;
		}
		
		.edgtf-ic-item {
			width: 100%;
			float: none;
			padding: 0 !important;
			
			&:nth-child(even) {
				position: relative;
				top: auto;
				right: auto;
				@include edgtfTransform(translateY(0) !important);
			}
		}
		
		.edgtf-ic-item-inner {
			padding: 45px 35px;
		}
	}
}

@include phone-landscape {
	
	.edgtf-info-cards-holder {
		
		.edgtf-ic-item-inner {
			padding: 35px 25px;
		}
	}
}
/* ==========================================================================
   Info Cards shortcode responsive style - end
   ========================================================================== */