/* ==========================================================================
   Item Showcase shortcode style - begin
   ========================================================================== */

.edgtf-item-showcase-holder {
	@include edgtfRelativeHolderLayout();
	text-align: center;
	opacity: 0;
	
	.edgtf-is-image {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		float: left;
		width: 48%;
		margin-top: 0;

		&:not(.edgtf-is-has-both-image) {
			opacity: 0;
			-webkit-transition: opacity .55s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform .55s cubic-bezier(0.23, 1, 0.32, 1);
			-moz-transition: opacity .55s cubic-bezier(0.23, 1, 0.32, 1), -moz-transform .55s cubic-bezier(0.23, 1, 0.32, 1);
			transition: opacity .55s cubic-bezier(0.23, 1, 0.32, 1), transform .55s cubic-bezier(0.23, 1, 0.32, 1);
			@include edgtfTransform(translateY(70px));

			&.edgtf-appeared {
				opacity: 1;
				@include edgtfTransform(translateY(0));
			}
		}
		
		&.edgtf-is-has-both-image {
			
			.edgtf-is-first-image {
				position: relative;
				top: 0;
				left: calc(50% - 48px);
				display: block;
				opacity: 0;
				-webkit-transition: opacity .8s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform .8s cubic-bezier(0.23, 1, 0.32, 1);
				transition: opacity .8s cubic-bezier(0.23, 1, 0.32, 1), transform .8s cubic-bezier(0.23, 1, 0.32, 1);
				@include edgtfTransform(translateX(-50%) translateY(70px));
			}
				
			.edgtf-is-stack-image {
				position: absolute;
				top: 90px;
				left: calc(50% + 48px);
				display: block;
				opacity: 0;
				-webkit-transition: opacity .8s cubic-bezier(0.23, 1, 0.32, 1) .4s, -webkit-transform .55s cubic-bezier(0.23, 1, 0.32, 1) .4s;
				transition: opacity .8s cubic-bezier(0.23, 1, 0.32, 1) .4s, transform .55s cubic-bezier(0.23, 1, 0.32, 1) .4s;
				@include edgtfTransform(translateX(-50%) translateY(70px));
			}

			&.edgtf-appeared {
				
				.edgtf-is-first-image,
				.edgtf-is-stack-image {
					opacity: 1;
					@include edgtfTransform(translateX(-50%) translateY(0));
				}
			}
		}
	}
	
	.edgtf-is-item-holder {
		display: inline-block;
		vertical-align: middle;
		width: 26%;
		
		&.edgtf-is-left-holder {
			float: left;
		}
		
		&.edgtf-is-right-holder {
			float: right;
		}
		
		.edgtf-is-item:first-child {
			margin: 0;
		}
	}

	.edgtf-is-item {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 71px 0 0;
		opacity: 0;

		&.edgtf-is-left {
			text-align: right;
			@include edgtfTransform(translateX(-70px));
			
			.edgtf-is-content {
				padding: 0 20px 0 0;
			}
			
			img {
				margin-left: auto;
			}
		}
		
		&.edgtf-is-right {
			text-align: left;
			@include edgtfTransform(translateX(70px));
			
			.edgtf-is-content {
				padding: 0 0 0 20px;
			}
		}
		
		&.edgtf-appeared {
		    -webkit-transition: opacity .55s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform .55s cubic-bezier(0.23, 1, 0.32, 1);
			-moz-transition: opacity .55s cubic-bezier(0.23, 1, 0.32, 1), -moz-transform .55s cubic-bezier(0.23, 1, 0.32, 1);
		    transition: opacity .55s cubic-bezier(0.23, 1, 0.32, 1), transform .55s cubic-bezier(0.23, 1, 0.32, 1);
		    opacity: 1;
		    @include edgtfTransform(translateX(0));
		}
		
		.edgtf-is-content {
			@include edgtfRelativeHolderLayout();
			box-sizing: border-box;
		}
		
		img {
			display: block;
			margin: 0 0 23px;
		}
		
		.edgtf-is-title {
			margin: 0;
		}
		
		.edgtf-is-text {
			margin: 18px 0 0;
		}
	}
}
/* ==========================================================================
   Item Showcase shortcode style - end
   ========================================================================== */