/* ==========================================================================
   Parallax shortcode style - begin
   ========================================================================== */

.edgtf-parallax-holder {
	position: static;
	padding: 0;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center 0;
	background-attachment: fixed;
	overflow: hidden;
	
	&.edgtf-vertical-middle-align {
		display: table;
		width: 100%;
		
		.edgtf-parallax-inner {
			display: table-cell;
			width: 100%;
			height: 100%;
			vertical-align: middle;
		}
	}

	@include ipad-landscape {

		&.edgtf-disabled-parallax-on-touch {
			height: auto !important;
			min-height: 200px !important;
			padding: 20px 0;
			background-position: center top !important;
			background-attachment: scroll;
			background-size: cover;
		}
	}
}

.edgtf-parallax-container {
	position: fixed;
	top: 0;
	left: 0;
	
	> .edgtf-parallax-image-frame {
		position: absolute;
		overflow: hidden;
		
		> .edgtf-parallax-image {
			position: absolute;
			top: 50%;
			left: 50%;
			max-width: 2000px;
			-webkit-transform: translate3d(-50%,-50%,0);
			-moz-transform: translate3d(-50%,-50%,0);
			transform: translate3d(-50%,-50%,0);
		}
	}
}
/* ==========================================================================
   Parallax shortcode style - end
   ========================================================================== */