/* ==========================================================================
   Pie Chart shortcode style - begin
   ========================================================================== */

.edgtf-pie-chart-holder {
    @include edgtfRelativeHolderLayout();
	opacity: 0;
	@include edgtfTransition(opacity .2s ease-in);

    &:hover {
        .edgtf-pc-percentage {
            @include edgtfTransform(translate3d(0,-5px,0));
        }
    }
	
    .edgtf-pc-percentage {
        position: relative;
        display: block;
        height: 196px;
        width: 196px;
        line-height: 196px;
	    text-align: center;
	    margin: 0 auto;
        @include edgtfTransform(translate3d(0,0,0));
        @include edgtfTransition(all .3s cubic-bezier(.38, 3,.57,1.38));
    
        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
        
        .edgtf-pc-percent {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            color: $default-heading-color;
	        font-size: 35px;
	        line-height: inherit;
	        font-weight: 700;
    
            &:after {
                position: relative;
	            top: -6px;
	            content: '%';
	            font-size: 30px;
            }
        }
    }

    .edgtf-pc-text-holder {
        @include edgtfRelativeHolderLayout();
        text-align: center;
        margin: 34px 0 0;
	    
	    .edgtf-pc-title {
		    margin: 0;
	    }
	
	    .edgtf-pc-text {
		    margin: 20px 0 0;
	    }
    }
}
/* ==========================================================================
   Pie Chart shortcode style - end
   ========================================================================== */