.edgtf-pricing-list {

	.edgtf-pl-title-holder-center {
			text-align: center;
	}

	.edgtf-pricing-list-item {
		margin: 0 0 27px;

		&:last-child {
			margin-bottom: 0;
		}

		.edgtf-pli-title-holder {
			display: table-cell;
			width: 1%;
			white-space: nowrap;
			padding-right: 4px;

			.edgtf-pli-title {
				padding: 0;
				margin: 10px 0;
			}
		}

		.edgtf-pli-dots {
			height: 3px;
			display: table-cell;
			width: 98%;
			z-index: 1;
			position: relative;
		}

		.edgtf-pli-price-holder {
			display: table-cell;
			width: 1%;
			padding-left: 4px;
			white-space: nowrap;

			.edgtf-pli-price {
				font-weight: normal;
				margin: 10px 0;
			}
		}
	}
}