/* ==========================================================================
   Pricing Tables shortcode style - begin
   ========================================================================== */

.edgtf-pricing-tables {
    @include edgtfRelativeHolderLayout();
    clear: both;
	
	.edgtf-pt-wrapper {
        position: relative;
    }
    
    $pricing_table_space_label: ('no', 'tiny', 'small', 'normal');
    $pricing_table_space_width: (0, 5, 10, 15);
    
    @for $i from 0 to length($pricing_table_space_label) {
        &.edgtf-pt-#{nth($pricing_table_space_label,$i+1)}-space {
            $column_width: nth($pricing_table_space_width,$i+1);
            $column_width_margin: $column_width * 2;
	
	        .edgtf-pt-wrapper {
		        @if($column_width == 0) {
			        margin: 0;
		        } @else {
			        margin: 0 -#{$column_width}px;
		        }
	        }
	
	        .edgtf-price-table {
                padding: 0 #{$column_width}px;
                margin: 0 0 #{$column_width_margin}px;
            }
        }
    }
	
	$pricing_table_columns: ('edgtf-two-columns', 'edgtf-three-columns', 'edgtf-four-columns', 'edgtf-five-columns');
    @for $i from 0 to length($pricing_table_columns) {
        &.#{nth($pricing_table_columns, $i+1)} {
            $column_width: 100%/($i+2);
	
	        .edgtf-price-table {
                width: $column_width;
            }
        }
    }

    &.edgtf-pt-appear-effect {
    	.edgtf-pt-inner {
    		opacity: 0;
   		 	@include edgtfTransform(translate3d(0,100px,0));

			&.edgtf-pt-appeared {
		 		opacity: 1;
			 	@include edgtfTransform(translate3d(0,0,0));
			 	@include edgtfTransition(all .7s cubic-bezier(0.08, 0.73, 0.32, 1));
	    	}
    	}


    }
}

.edgtf-price-table {
    position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	float: left;
    box-sizing: border-box;

    @include edgtfTransform(translate3d(0,0,0));
    @include edgtfTransition(all .3s cubic-bezier(.38, 3,.57,1.38));

    &:hover {
    	@include edgtfTransform(translate3d(0,-5px,0));
    }


    .edgtf-pt-inner {
        @include edgtfRelativeHolderLayout();

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin: 0;
            }
        }
    }
	
	&.edgtf-pt-standard {
		
		.edgtf-pt-inner {
			text-align: center;
			background-color: #fff;
			
			ul {
				
				li {
					
					&.edgtf-pt-title-holder {
						padding: 23px 15px;
						color: #fff;
						font-size: 20px;
						line-height: 1.4em;
						font-weight: 700;
						background-color: $default-heading-color;
					}
					
					&.edgtf-pt-prices {
						padding: 49px 15px 34px;
						border-bottom: 1px solid $default-border-color;
					}
					
					.edgtf-pt-value {
						position: relative;
						vertical-align: super;
						bottom: 0;
						font-size: 23px;
						line-height: 1em;
						color: $default-heading-color;
					}
					
					.edgtf-pt-price {
						position: relative;
						display: inline-block;
						vertical-align: middle;
						left: 2px;
						font-size: 55px;
						line-height: 1em;
						font-weight: 700;
						color: $default-heading-color;
					}
					
					.edgtf-pt-mark {
						position: relative;
						display: block;
						margin: 15px 0 0;
						font-size: 16px;
						line-height: 1em;
						font-weight: 300;
						color: $default-heading-color;
					}
					
					&.edgtf-pt-content {
						text-align: initial;
						
						li {
							padding: 19px 34px;
							border-bottom: 1px solid $default-border-color;
							
							&:last-child {
								border: 0;
							}
						}
					}
					
					&.edgtf-pt-button {
						padding: 30px 15px 50px;
						border-top: 1px solid $default-border-color;
					}
				}
			}
		}
	}
	
	&.edgtf-pt-simple {
		.edgtf-pt-inner {
			text-align: center;
			background-color: #fff;
			
			ul {
				
				li {
					
					&.edgtf-pt-prices {
						position: relative;
						display: table;
						width: 100%;
						padding: 79px 15px 35px;
						box-sizing: border-box;
						
						.edgtf-pt-price-inner,
						.edgtf-pt-title-inner {
							display: table-cell;
							vertical-align: middle;
							width: 50%;
						}
						
						.edgtf-pt-price-inner {
							text-align: right;
							padding: 0 12px 0 0;
						}
						
						.edgtf-pt-title-inner {
							text-align: left;
							padding: 0 0 0 12px;
							
							span {
								display: block;
							}
						}
					}
					
					.edgtf-pt-value {
						position: relative;
						vertical-align: super;
						bottom: 7px;
						left: 3px;
						font-size: 23px;
						line-height: 1em;
						color: $default-heading-color;
					}
					
					.edgtf-pt-price {
						position: relative;
						display: inline-block;
						vertical-align: middle;
						font-size: 75px;
						line-height: 1em;
						font-weight: 700;
						color: $default-heading-color;
					}
					
					.edgtf-pt-title {
						color: $default-heading-color;
						font-size: 23px;
						font-weight: 700;
					}
					
					.edgtf-pt-mark {
						margin: 14px 0 0;
						font-size: 16px;
						line-height: 1em;
						font-weight: 300;
						color: $default-heading-color;
					}
					
					&.edgtf-pt-content {
						
						li {
							padding: 14px 15px;
						}
					}
					
					&.edgtf-pt-button {
						padding: 36px 15px 90px;
					}
				}
			}
		}
	}
	
	&.edgtf-pt-button-dark {
		
		.edgtf-pt-inner {
			
			.edgtf-btn.edgtf-btn-solid {
				color: #fff;
				background-color: $default-heading-color;
				border-color: $default-heading-color;
				
				&:hover {
					color: #fff;
					background-color: $first-main-color !important;
					border-color: $first-main-color !important;
				}
			}
		}
	}
}
/* ==========================================================================
   Pricing Tables shortcode style - end
   ========================================================================== */