/* ==========================================================================
   Progress Bar shortcode style - begin
   ========================================================================== */

.edgtf-progress-bar {
    @include edgtfRelativeHolderLayout();
    
    .edgtf-pb-title-holder {
        position: relative;
        margin: 14px 0 8px;
        
        .edgtf-pb-title {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            z-index: 100;
        }
    }
	
	p.edgtf-pb-title-holder {
		font-weight: 700;
	}
	
    .edgtf-pb-percent {
        position: absolute;
        right: 0;
        bottom: 0;
        width: auto;
	    display: inline-block;
	    vertical-align: middle;
	    opacity: 0;
	    z-index: 10;
        
        &:after {
            content: '%';
        }
    }
    
    .edgtf-pb-content-holder {
        position: relative;
        height: 10px;
        overflow: hidden;
        background-color: #f1f1f1;
        
        .edgtf-pb-content {
            height: 10px;
            max-width: 100%;
            overflow: hidden;
            background-color: $first-main-color;
            border-radius: 0 5px 5px 0;
        }
    }
}
/* ==========================================================================
   Progress Bar shortcode style - end
   ========================================================================== */