/* ==========================================================================
   Section Title shortcode styles - begin
   ========================================================================== */

.edgtf-section-title-holder {
    @include edgtfRelativeHolderLayout();
	box-sizing: border-box;
	
	@include phone-landscape {
		padding: 0 !important; // it can be set inline in shortcode options
	}
    
    .edgtf-st-title {
	    display: block;
        margin: 0;
    }
    
    .edgtf-st-text {
	    display: block;
	    margin: 24px 0 0;
	    font-size: 1.142857142857143em;
	    font-weight: 500;
    }
}
/* ==========================================================================
   Section Title shortcode styles - end
   ========================================================================== */


