/* ==========================================================================
   Social Share shortcode style - begin
   ========================================================================== */

.edgtf-social-share-holder {
    display: inline-block;
    position: relative;
    vertical-align: middle;

    ul {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        list-style: none;
        padding: 0;
        margin: 0;
        
        li {
            
            &.edgtf-facebook-share {
                
                a {
                    
                    &:hover {
                       color: #3b5998;
                    }
                }
            }
    
            &.edgtf-twitter-share {
	
	            a {
		
		            &:hover {
			            color: #00aced;
		            }
	            }
            }
	       
            &.edgtf-google_plus-share {
	
	            a {
		
		            &:hover {
			            color: #dd4b39;
		            }
	            }
            }
    
            &.edgtf-linkedin-share {
	
	            a {
		
		            &:hover {
			            color: #007bb6;
		            }
	            }
            }
    
            &.edgtf-tumblr-share {
	
	            a {
		
		            &:hover {
			            color: #32506d;
		            }
	            }
            }
    
            &.edgtf-pinterest-share {
	
	            a {
		
		            &:hover {
			            color: #cb2027;
		            }
	            }
            }
    
            &.edgtf-vk-share {
	
	            a {
		
		            &:hover {
			            color: #45668e;
		            }
	            }
            }
        }
    }
}

/* List type - begin
========================================================================== */
.edgtf-social-share-holder.edgtf-list {

    .edgtf-social-title {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0 5px 0 0;
    }

    li {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 0;
	    margin: 0 11px 0 0;
	
	    &:last-child {
		    margin: 0;
	    }

        a {
            font-size: 14px;
        }
    }
}

/* List type - end
========================================================================== */

/* Dropdown type - begin
========================================================================== */

$socialShareWidth: 88px;
$socialShareHeight: 28px;

.edgtf-social-share-holder.edgtf-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: bottom;

    .edgtf-social-share-dropdown-opener {
        display: block;
        color: $default-text-color;

        .edgtf-social-share-title {
            display: inline-block;
            vertical-align: top;
            margin-right: 5px;
        }

        .social_share {
            font-size: 12px;
            color: $default-heading-color;
        }

        &:hover {

            .social_share {
                color: inherit;
            }
        }
    }

    .edgtf-social-share-dropdown {
        position: relative;
        visibility: hidden;
        z-index: 950;

        ul {
            position: relative;
            display: block;
            z-index: 990;
            margin: 0;
            padding: 0 !important;
            top: 3px;
        }

        ul li {
            width: $socialShareWidth;
            height: $socialShareHeight;
            line-height: $socialShareHeight;
            visibility: hidden;
            position: absolute;
            text-align: center;
            opacity: 0;
            margin: 0;
            padding: 0;
            border: 1px solid $default-border-color;
            background-color: #fff;
            font-size: 12px;
            color: $default-text-color;
            box-sizing: border-box;
            @include edgtfTransition(
                            opacity .2s ease-out 0s,
                            visibility .2s ease-out 0s,
                            background-color .2s ease-out 0s);

            &.edgtf-facebook-share:hover {
                background-color: #3b5998;
                color: #fff;
            }

            &.edgtf-twitter-share:hover {
                background-color: #00aced;
                color: #fff;
            }

            &.edgtf-google_plus-share:hover {
                background-color: #dd4b39;
                color: #fff;
            }

            &.edgtf-linkedin-share:hover {
                background-color: #007bb5;
                color: #fff;
            }

            &.edgtf-tumblr-share:hover {
                background-color: #32506d;
                color: #fff;
            }

            &.edgtf-pinterest-share:hover {
                background-color: #cb2027;
                color: #fff;
            }

            &.edgtf-vk-share:hover {
                background-color: #45668e;
                color: #fff;
            }

            &:not(:first-child) {
                border-top: none;
            }

            a {
                display: block;
                color: inherit !important;

                span {
                    display: block;
                    line-height: inherit;
                }
            }

            @for $i from 1 through 7 {
                &:nth-child(#{$i}) {
                    bottom: #{-$i*(($socialShareHeight)+1)};
                }
            }
        }
    }
}

.edgtf-social-share-holder.edgtf-dropdown:hover {

    .edgtf-social-share-dropdown ul li {
        opacity: 1;
        visibility: visible;
        cursor: pointer;
    }

    .edgtf-social-share-dropdown ul li {

        /* opacity and visibility need to be different, but not background-color */
        @for $i from 2 through 7 {
            &:nth-child(#{$i}) {
                @include edgtfTransition(
                                opacity .2s ease-out #{($i)/10+s},
                                visibility .2s ease-out #{($i)/10+s},
                                background-color .2s ease-out);
            }
        }
    }
}

/* Dropdown type - end
========================================================================== */

/* ==========================================================================
   Social Share shortcode style - end
   ========================================================================== */