/* ==========================================================================
   Tabs shortcode style - begin
   ========================================================================== */

.edgtf-tabs {
	@include edgtfRelativeHolderLayout();
	
	.edgtf-tabs-nav {
		@include edgtfRelativeHolderLayout();
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			float: left;
			margin: 0;
			padding: 0;
			
			a {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				box-sizing: border-box;
				@include edgtfTransition(color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out);
			}
		}
	}
	
	.edgtf-tab-container {
		@include edgtfRelativeHolderLayout();
		
		p {
			margin: 0;
		}
	}
	
	&.edgtf-tabs-standard {
		
		.edgtf-tabs-nav {
			
			li {
				
				a {
					padding: 7px 26px;
					font-size: 11px;
					line-height: 25px;
					color: $default-heading-color;
					background-color: #f6f6f6;
				}
				
				&.ui-state-active a,
				&.ui-state-hover a {
					color: #fff;
					background-color: $first-main-color;
				}
			}
		}
		
		.edgtf-tab-container {
			margin: 25px 0 0;
		}
	}
	
	&.edgtf-tabs-boxed {
		
		.edgtf-tabs-nav {
			
			li {
				margin: 0 12px 0 0;
				
				a {
					padding: 7px 26px;
					font-size: 11px;
					line-height: 25px;
					color: #fff;
					background-color: $default-heading-color;
				}
				
				&.ui-state-active a,
				&.ui-state-hover a {
					color: #fff;
					background-color: $first-main-color;
				}
				
				&:last-child {
					margin: 0;
				}
			}
		}
		
		.edgtf-tab-container {
			margin: 25px 0 0;
		}
	}
	
	&.edgtf-tabs-simple {
		
		.edgtf-tabs-nav {
			border-bottom: 1px solid $default-border-color;
			
			li {
				margin: 0 31px 0 0;
				
				a {
					padding: 12px 0;
					font-size: 16px;
					line-height: 26px;
					color: $default-text-color;
				}
				
				&.ui-state-active a,
				&.ui-state-hover a {
					color: $default-heading-color;
				}
				
				&:last-child {
					margin: 0;
				}
			}
		}
		
		.edgtf-tab-container {
			padding: 31px 0;
			border-bottom: 1px solid $default-border-color;
		}
	}
	
	&.edgtf-tabs-vertical {
		
		.edgtf-tabs-nav {
			display: table-cell;
			vertical-align: top;
			width: 160px;
			height: 100%;
			border-right: 1px solid $default-border-color;
			box-sizing: border-box;
			
			li {
				display: block;
				float: none;
				margin: 0 0 22px;
				
				a {
					font-size: 16px;
					line-height: 26px;
					color: $default-text-color;
				}
				
				&.ui-state-active a,
				&.ui-state-hover a {
					color: $default-heading-color;
				}
				
				&:last-child {
					margin: 0;
				}
			}
		}
		
		.edgtf-tab-container {
			display: table-cell;
			vertical-align: top;
			width: calc(100% - 160px);
			height: 100%;
			padding: 0 0 0 30px;
			box-sizing: border-box;
		}
	}
}
/* ==========================================================================
   Tabs shortcode style - end
   ========================================================================== */