/* ==========================================================================
   Team shortcode style - begin
   ========================================================================== */

.edgtf-team-holder {
    @include edgtfRelativeHolderLayout();
	
	&.edgtf-team-info-below-image {
		
		.edgtf-team-info {
			margin: 30px 0 0;
		}

	    .edgtf-team-image {
	    	.edgtf-team-icon {
	    		display: inline-block;
	    		opacity:0;
	    		@include edgtfTransform(scale(.3));
	    		@include edgtfTransition(all 0s .4s);
	    	}
		}

	    &:hover {
		    .edgtf-team-social-wrapper {
			    opacity: 1;

			    .edgtf-team-icon {
			    	@for $i from 1 through 6 {
			    		&:nth-child(#{$i}) {
			    			opacity:1;
					    	@include edgtfTransform(scale(1));
			    			@include edgtfTransition(all .45s cubic-bezier(0.64, 0.01, 0.15, 1.16) ($i - 1)*.1s)
			    		}
			    	}
			    }
		    }
	    }
	}
	
	&.edgtf-team-info-on-image {
		
		.edgtf-team-social-holder {
			margin: 15px 0 0;
		}
		
		.edgtf-team-name,
		.edgtf-team-position {
			color: #fff;
		}

		.edgtf-team-social-inner {
			opacity: 0;
			@include edgtfTransform(translate3d(0,40px,0));
    		-webkit-transition: -webkit-transform .0s .3s, opacity .3s;
    		transition: transform .0s .3s, opacity .3s;
		}

		&:hover {
			.edgtf-team-social-inner {
				opacity: 1;
				@include edgtfTransform(translate3d(0,0,0));
				-webkit-transition: -webkit-transform .45s cubic-bezier(0.64, 0.01, 0.15, 1.16), opacity .5s;
				transition: transform .45s cubic-bezier(0.64, 0.01, 0.15, 1.16), opacity .5s;
			}
		}
	}

	&.edgtf-team-circle {

		.edgtf-team-image {
			border-radius: 100%;
			overflow: hidden;
			@include edgtfTransform(translate3d(0,0,0));
			@include edgtfTransition(all .3s cubic-bezier(.38, 3,.57,1.38));
		}

		&:hover {
			.edgtf-team-image {
				@include edgtfTransform(translate3d(0,-5px,0));
			}
		}

		.edgtf-team-social-wrapper{
			border-radius: 100%;
		}
	}

    .edgtf-team-image {
        position: relative;
        display: inline-block;
        max-width: 100%;
        vertical-align: middle;

        img {
            display: block;
        }

        &:hover {
    	    .edgtf-team-social-wrapper {
    		    opacity: 1;
    	    }
        }
    }
	
	.edgtf-team-info {
		@include edgtfRelativeHolderLayout();
		text-align: center;
	}

    .edgtf-team-name {
        margin: 0;
    }

    .edgtf-team-position {
	    display: block;
        margin: 8px 0 0;
    }
	
	.edgtf-team-social-wrapper {
		@include edgtfAbsoluteHolderLayout();
		background-color: rgba(#151515, .5);
		z-index: 1;
		opacity: 0;
		@include edgtfTransform(translateZ(0));
		@include edgtfTransition(opacity .2s ease-out);
	}
	
	.edgtf-team-social-outer {
		@include edgtfTableLayout();
		text-align: center;
	}
	
	.edgtf-team-social-inner {
		@include edgtfTableCellLayout();
	}
	
	.edgtf-team-social-holder {
		@include edgtfRelativeHolderLayout();
		
		.edgtf-team-icon {
			font-size: 24px;
			margin: 0 8px;
			
			.edgtf-icon-element {
				color: #fff;
				font-size: inherit;
				
				&:hover {
					color: $first-main-color;
				}
			}
		}
	}
}

.touch .edgtf-team-holder .edgtf-team-image {
    cursor: pointer;
}
/* ==========================================================================
   Team shortcode style - end
   ========================================================================== */