/* ==========================================================================
   Testimonials shortcode style - begin
   ========================================================================== */

.edgtf-testimonials-holder {
    @include edgtfRelativeHolderLayout();
	text-align: center;
    visibility: hidden;
    
    .edgtf-testimonials,
    .edgtf-testimonial-content,
    .edgtf-testimonial-text-holder {
        @include edgtfRelativeHolderLayout();
    }
	
	.edgtf-testimonial-text-holder {
		@include edgtfTransform(translateZ(0));
	}

    .edgtf-testimonials {
        padding: 0 40px;
        box-sizing: border-box;
    }

    .edgtf-testimonial-image {
	    @include edgtfRelativeHolderLayout();
	    margin: 0 0 27px;
	    
        img {
	        display: block;
	        margin: 0 auto;
            width: auto !important;
            border-radius: 5em;
        }
    }
    
    .edgtf-testimonial-title {
        margin: 0 0 14px;
    }
	
	.edgtf-testimonial-text {
		font-size: 14px;
		margin: 0;
	}
	
	.edgtf-testimonial-author {
		
		span {
			display: inline-block;
			vertical-align: middle;
		}
	}
	
	&.edgtf-testimonials-standard {
		
		.edgtf-testimonial-author {
			display: block;
			margin: 13px 0 0;
			font-size: 12px;
		}
		
		.edgtf-testimonial-author-label {
			color: $default-heading-color;
			font-weight: 500;
		}
	}
	
	&.edgtf-testimonials-simple {
		
		.edgtf-testimonial-image {
			margin: 0 0 38px;
			
			img {
				border-radius: 0;
			}
		}
		
		.edgtf-testimonial-text {
			font-size: 1.642857142857143em;
			line-height: 40px;
		}
		
		.edgtf-testimonial-author {
			display: block;
			margin: 31px 0 0;
			font-size: 16px;
			font-weight: 600;
		}
		
		.owl-dots {
			margin: 27px 0 0;
		}
	}
	
	&.edgtf-testimonials-boxed {
		
		.edgtf-testimonials {
			padding: 0;
		}
		
		.edgtf-testimonial-content {
			padding: 62px 70px 76px;
			background-color: #fff;
			box-sizing: border-box;
			
			@include laptop-landscape-medium {
				padding: 42px 50px 56px;
			}
			
			@include ipad-portrait {
				padding: 42px 35px 56px;
			}
		}
		
		.edgtf-testimonial-image {
			margin: 0 0 47px;
			
			@include laptop-landscape-medium {
				margin: 0 0 32px;
			}
		}
		
		.edgtf-testimonial-author {
			display: block;
			margin: 19px 0 0;
			font-size: 12px;
		}
		
		.edgtf-testimonial-author-label {
			font-weight: 700;
		}
		
		.owl-nav {
			
			.owl-prev {
				left: -30px;
			}
			
			.owl-next {
				right: -30px;
			}
		}
		
		.owl-dots {
			margin: 46px 0 0;
		}
	}
	
	&.edgtf-testimonials-skin-light {
		
		.edgtf-testimonial-title,
		.edgtf-testimonial-text,
		.edgtf-testimonial-author,
		.edgtf-testimonial-author-label {
			color: #fff;
		}
		
		.owl-nav {
			
			.owl-prev,
			.owl-next {
				
				&:hover {
					
					.edgtf-prev-icon,
					.edgtf-next-icon {
						color: rgba(#fff, .3);
					}
				}
			}
			
			.edgtf-prev-icon,
			.edgtf-next-icon {
				color: #fff;
			}
		}
		
		.owl-dots {
			
			.owl-dot {
				
				span {
					background-color: rgba(#fff, .3);
				}
				
				&.active {
					
					span {
						background-color: #fff;
					}
				}
			}
		}
	}

	&.edgtf-testimonials-skin-dark {

		.edgtf-testimonial-title,
		.edgtf-testimonial-text,
		.edgtf-testimonial-author,
		.edgtf-testimonial-author-label {
			color: #333;
		}

		.owl-nav {

			.owl-prev,
			.owl-next {

				&:hover {

					.edgtf-prev-icon,
					.edgtf-next-icon {
						color: rgba(51, 51, 51, 0.3);
					}
				}
			}

			.edgtf-prev-icon,
			.edgtf-next-icon {
				color: #333;
			}
		}

		.owl-dots {

			.owl-dot {

				span {
					background-color: rgba(51, 51, 51, 0.3);
				}

				&.active {

					span {
						background-color: #333;
					}
				}
			}
		}
	}

    .owl-stage-outer {
        z-index: 1;
    }

    .owl-nav {

        .owl-prev,
        .owl-next {
            position: absolute;
            top: 50%;
            z-index: 3;
            @include edgtfTransform(translateY(-50%));

            &:hover {

                .edgtf-prev-icon,
                .edgtf-next-icon {
                    color: $first-main-color;
                }
            }
        }

        .owl-prev {
            left: 0;
        }

        .owl-next {
            right: 0;
        }

        .edgtf-prev-icon,
        .edgtf-next-icon {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            color: $default-heading-color;
            @include edgtfTransition(color .2s ease-out);

            .edgtf-icon-arrow {
                position: relative;
                display: inline-block;
                vertical-align: top;
                font-size: 50px;
                line-height: 1em;

                &:before {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    line-height: inherit;
                }
            }
        }
    }

    .owl-dots {
        text-align: center;
        margin: 9px 0 0;

        .owl-dot {
	        display: inline-block;
	        vertical-align: middle;
	
	        span {
		        display: inline-block;
		        vertical-align: middle;
		        width: 10px;
		        height: 10px;
		        @include edgtfTransform(scale(.8));
		        margin: 0 6px;
		        border-radius: 3em;
		        background-color: rgba($default-heading-color, .3);
		        box-sizing: border-box;
		        @include edgtfTransition(all .3s cubic-bezier(0.64, 0.01, 0.15, 1.16));
	        }
	
	        &.active {
		
		        span {
		        	@include edgtfTransform(scale(1));
			        background-color: $default-heading-color;
		        }
	        }
        }
    }
	
	.owl-carousel .owl-item img {
		-webkit-transform: translateZ(0); //chrome text cut off fix
	}
}
/* ==========================================================================
   Testimonials shortcode style - end
   ========================================================================== */