/* ==========================================================================
   Video Button shortcode start styles
   ========================================================================== */

.edgtf-video-button-holder {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	
	.edgtf-video-button-image {
		@include edgtfRelativeHolderLayout();
		
		img {
			display: block;
		}
	}
	
	.edgtf-video-button-play,
	.edgtf-video-button-play-image {
		@include edgtfAbsoluteHolderLayout();
		z-index: 1;
		
		.edgtf-video-button-play-inner {
			position: relative;
			top: 50%;
			left: 0;
			display: block;
			text-align: center;
			@include edgtfTransform(translateY(-50%));
			@include edgtfTransition(all .3s cubic-bezier(.38, 3,.57,1.38));
		}
	}
	
	.edgtf-video-button-play {
		color: $default-heading-color;
		font-size: 106px;
		line-height: 1;
		
		span {
			display: block;
			line-height: inherit;
			
			&:before {
				display: block;
				line-height: inherit;
			}
		}
	}
	
	.edgtf-video-button-play-image {

		&:hover {
			.edgtf-video-button-play-inner {
				@include edgtfTransform(translateY(-50%) scale(.9));	
			}
		}
		
		&.edgtf-vb-has-hover-image {
			
			&:hover {
				
				img {
					
					&:first-child {
						opacity: 0;
					}
				}
			}
		}
		
		img {
			display: block;
			margin: 0 auto;
			
			&:first-child {
				position: relative;
				opacity: 1;
				@include edgtfTransition(opacity .3s ease-in-out);
			}
			
			&:nth-child(2) {
				position: absolute;
				top: 0;
				left: 50%;
				@include edgtfTransform(translateX(-50%) translateZ(0));
				
				.rev_slider_wrapper & {
					@include edgtfTransform(translateZ(0));
				}
			}
		}
	}
}
/* ==========================================================================
   Video Button shortcode end styles
   ========================================================================== */