.edgtf-logo-wrapper {
    display: inline-block;
    vertical-align: middle;

    a {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;

        img {
            height: 100%;
            width: auto;
            @include edgtfTransition(opacity 0.2s ease);

            &.edgtf-normal-logo {
                opacity: 1;
            }

            &.edgtf-dark-logo {
                opacity: 0;
                @include edgtfTransform(translateY(-100%));
            }

            &.edgtf-light-logo {
                opacity: 0;
                @include edgtfTransform(translateY(-200%));
            }
        }
    }
}