.edgtf-main-menu {
    @include edgtfRelativeHolderLayout();
    height: 100%;
    
    ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;
        text-align: left;
        
        li {
            position: relative;
            display: inline-block;
            float: left;
            padding: 0;
            margin: 0;
            
            a {
	            color: $default-text-color;
	            font-size: 14px;
	            line-height: 24px;
	            font-weight: 300;
                
                &:hover {
                    color: $first-main-color;
                }
                
                i:before {
                    margin: 0 7px 0 0;
                }
                
                .menu_icon_wrapper {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                }
                
                .edgtf-menu-featured-icon {
                    position: relative;
                    top: -4px;
                    left: 5px;
                    color: currentColor;
                    font-size: 10px;
                    margin: 0;
                    
                    &:before {
                        margin: 0;
                    }
                }
            }
        }
    }
    
    > ul {
        @include edgtfRelativeHolderLayout();
        height: 100%;
        
        > li {
            float: left;
            height: 100%;
            box-sizing: border-box;
            
            > a {
                @include edgtfRelativeHolderLayout();
                height: 100%;
                padding: 0 19px;
                color: $default-heading-color;
                font-size: 11px;
                line-height: 23px;
                font-weight: 700;
                letter-spacing: 1px;
	            text-transform: uppercase;
                box-sizing: border-box;
                
                > span.item_outer {
                    position: relative;
                    display: block;
                    top: 50%;
                    @include edgtfTransform(translateY(-50%));
                    
                    .item_text {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                    }
                }
            }
            
            &.edgtf-active-item > a {
                color: $first-main-color;
            }
            
            &.has_sub {
                
                > a .edgtf-menu-arrow {
                    display: none;
                }
            }
        }
    }
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) {
    
    .edgtf-main-menu > ul > li {
        
        > a {
            color: $header-light-color;
            
            &:hover {
                color: $header-light-hover-color;
            }
        }
        
        &.edgtf-active-item > a {
            color: $header-light-hover-color;
        }
    }
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) {
    
    .edgtf-main-menu > ul > li {
        
        > a {
            color: $header-dark-color;
            
            &:hover {
                color: $header-dark-color;
            }
        }
        
        &.edgtf-active-item > a {
            color: $header-dark-color;
        }
    }
}

/* Narrow drop down styles
   ========================================================================== */
.edgtf-drop-down {
    
    .second {
        position: absolute;
        display: block;
        left: 0;
        top: 100%;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        z-index: 10;
        @include edgtfTransition(top 0.15s ease-out);
        
        &.edgtf-drop-down-start {
            visibility: visible;
            overflow: visible;
            opacity: 1;
            @include edgtfTransition(opacity 0.2s ease-out);
        }
        
        &.right {
            right: 0;
            left: auto;
        }
    }
    
    .second .inner {
        position: relative;
        display: block;
        padding: 0;
        margin: 0;
        z-index: 997;
	    border-top: 6px solid $first-main-color;
        box-shadow: 0 5px 5px 0 rgba(0,0,0, .05);
        
        ul {
            
            li {
                display: block;
                float: none;
                height: auto;
                
                .widget {
                    display: block;
                    width: 100%;
                    margin: 0 !important;
                }
                
                a {
                    display: block;
                    float: none;
                    margin: 0;
                    padding: 6px 40px;

                    .item_outer {
                        position: relative;
                        display: block;
                        overflow: hidden;
                        padding: 0 15px 0 0;
                        box-sizing: border-box;
                        @include edgtfTransition(padding .35s);

                        &:before {
                            display: inline-block;
                            content: '\e04b';
                            font-family: 'linea-arrows-10';
                            font-size: 17px;
                            font-weight: normal;
                            font-style: normal;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            color: $first-main-color;
                            position: absolute;
                            left:-6px;
                            top: 50%;
                            width: 20px;
                            @include edgtfTransform(translateX(-20px) translateY(-50%));
                            @include edgtfTransition(all .3s cubic-bezier(0.04, 0.82, 0.46, 1.09));
                        }
                    }
                    
                    &:hover {
                        .item_outer {
                            padding: 0 0 0 15px;
                            @include edgtfTransition(padding .35s cubic-bezier(0.13, 0.47, 0.15, 1));

                            &:before {
                                @include edgtfTransform(translateX(0) translateY(-50%));
                            }
                        }
                    }
                }
                
                &.current-menu-ancestor > a,
                &.current-menu-item > a {
                    color: $first-main-color;
                    
                    .item_outer {
                        padding: 0 0 0 15px;
                        
                        &:before {
                            @include edgtfTransform(translateX(0) translateY(-50%));
                        }
                    }
                }
                
                &.sub {
                    
                    > a {
                        
                        .item_outer {
                            
                            &:after {
                                position: absolute;
                                content: '\e04b';
                                font-family: 'linea-arrows-10';
                                font-size: 17px;
                                font-weight: normal;
                                font-style: normal;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                right: -2px;
                                left:auto;
                            }
                        }
                    }
                }
            }
            
            &.right {
                
                li {
                    
                    a {
                        
                        .item_outer {
                            padding: 0 0 0 15px;

                            &:before {
                                content: "\e03f";
                                position: absolute;
                                left:auto;
                                right:-6px;
                                @include edgtfTransform(translateX(20px) translateY(-50%));
                            }
                        }
                        
                        &:hover {
                            
                            .item_outer {
                                padding: 0 15px 0 0;

                                &:before {
                                    @include edgtfTransform(translateX(0) translateY(-50%));
                                }
                            }
                        }
                    }
                    
                    &.current-menu-ancestor > a,
                    &.current-menu-item > a {
                        
                        .item_outer {
                            padding: 0 13px;
                        }
                    }
                    
                    &.sub {
                        
                        > a {
                            
                            .item_outer {
                                
                                &:after {
                                    right: auto;
                                    left: -2px;
                                    content: "\e03f";
                                }
                            }
                        }
                    }
                    
                    a {
                        text-align: right;
                    }
                    
                    ul {
                        left: -100%;
                    }
                }
            }
        }
    }
    
    li.left_position .second {
        left: 0;
    }
    
    li.right_position .second {
        left: auto;
        right: 0;
    }
    
    > ul > li {
        &:hover > .second {
            z-index: 20;
        }
    }
    
    .narrow .second .inner {
        
        ul {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            background-color: #fff;
            padding: 25px 0 27px;
            
            li {
                width: 250px;
                
                ul {
                    position: absolute;
                    left: 100%;
                    top: -21px;
                    height: auto;
                    opacity: 0;
                    overflow: hidden;
                    z-index: 10;
	                border-top: 6px solid $first-main-color;
	                box-shadow: 0 5px 5px 0 rgba(0,0,0, 0.05);
	                -webkit-transform: translateZ(0);
	                @include edgtfTransition(top .2s);
                }
                
                &:hover ul {
                    z-index: 20;
                    opacity: 1;
                    top:-31px; // 25 padding top + 6 border top
                }
            }
            
            &.right li ul {
                left: -100%;
            }
        }
    }
}

/* Wide drop down styles
   ========================================================================== */
.edgtf-drop-down .wide {
    
    .second {
        
        .inner {
            background-color: #fff;
            text-align: center;
            
            ul {
                
                li {
                    
                    a {
                        padding: 6px 0;
                    }
                    
                    ul {
                        position: relative;
                        display: block;
                        top: 0;
                        left: 0;
	                    padding: 0 0 4px;
                        visibility: visible;
                    }
                }
            }
            
            > ul {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                width: 1100px;
                padding: 42px 0;
                box-sizing: border-box;
                
                .edgtf-grid-1300 &{
                    width: $grid-width-1300;
                }
                
                .edgtf-grid-1200 &{
                    width: $grid-width-1200;
                }
                
                .edgtf-grid-1000 &{
                    width: $grid-width-1000;
                }
                
                .edgtf-grid-800 &{
                    width: $grid-width-800;
                }
                
                > li {
                    float: left;
                    width: 25%;
                    margin: 0;
                    padding: 0 40px;
                    border-left: 1px solid $default-border-color;
                    box-sizing: border-box;
                    
                    &:nth-child(4n+1) {
                        clear: both;
                    }
                    
                    > a {
                        padding: 0 0 15px;
                        color: $default-heading-color;
                        font-size: 16px;
                        line-height: 22px;
	                    font-weight: 500;
                        
                        &.no_link {
                            cursor: default;
                        }
                        
                        .item_outer {
                            padding: 0;
                            overflow: inherit;
                            
                            &:before,
                            &:after {
                                display: none;
                            }
                        }
                    }
                    
                    &.current-menu-ancestor > a,
                    &.current-menu-item > a {
                        color: $first-main-color;
                    }
                }
            }
        }
    }
    
    &.left_position,
    &.right_position {
        
        .second .inner > ul {
            width: auto;
            white-space: nowrap;
            
            > li {
                float: none;
                display: inline-block;
                vertical-align: top;
                
                &:nth-child(4n+1) {
                    border-left: none;
                }
            }
        }
        
        .second ul li {
            width: 200px;
        }
    }
}