/* ==========================================================================
#Sticky Nav header styles - start
========================================================================== */
.edgtf-sticky-header {

    body[class*='edgtf-sticky'] & .edgtf-search-opener .edgtf-search-opener-wrapper {
        top: 0;
        @include edgtfTransform(none);
    }

    .edgtf-vertical-align-containers {

        .edgtf-position-center {

            .edgtf-position-center-inner {
                height: 100%;
            }
        }
    }
}
/* ==========================================================================
#Sticky Nav header styles - end
========================================================================== */