.edgtf-blog-slider-holder {

    @include ipad-landscape {
        
        .active {
            
            .edgtf-blog-slider-item {
                
                .edgtf-item-text-wrapper {
                    opacity: 1;
                }
            }
        }
    }
}
