/* #Latest posts
   ========================================================================== */
.edgtf-blog-slider-holder{

    .edgtf-blog-slider-item {
        position:relative;
        list-style-type: none;
        text-align: center;

        .edgtf-item-image {
            @include edgtfRelativeHolderLayout();

            &::after {
                @include edgtfAbsoluteHolderLayout();
                content: '';
                background: rgba($default-heading-color, 0.3);
            }
        }

        .edgtf-item-text-wrapper {
            @include edgtfAbsoluteHolderLayout();
            opacity: 0;
            @include edgtfTransition(opacity 0.45s ease-out);
        }

        .edgtf-item-text-holder {
            @include edgtfTableLayout();
        }
    
        .edgtf-item-text-holder-inner {
            @include edgtfTableCellLayout();
            padding: 0 5%;
        }
    
        .edgtf-item-info-section{
            margin-bottom: 3px;
        
            > div {
                position: relative;
                display: inline-block;
                padding-right: 8px;
                margin-right: 3px;
                color: #fff;
                text-transform: uppercase;
            
                a {
                    color: inherit;
                
                    &:hover {
                        color: $first-main-color;
                    }
                }
            
                &:after {
                    content: "/";
                    position: absolute;
                    top: 0;
                    right: -2px;
                }
            
                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                
                    &:after {
                        content: '';
                    }
                }
            }
        }
    
        .edgtf-item-title {
            margin: 0 0 2px;
            color: #fff;
        }

        .edgtf-section-button-holder {
	        display: block;
	        margin: 6px 0 0;
	        
	        a {
		        color: #fff;
		        
		        &:hover {
			        color: $first-main-color !important;
		        }
	        }
        }

    }

    .active.center {
        
        .edgtf-blog-slider-item {
            
            .edgtf-item-text-wrapper {
                opacity: 1;
            }
        }
    }
    
    .owl-nav {
        
        .owl-prev,
        .owl-next {
            position: absolute;
            top: 50%;
            z-index: 3;
            @include edgtfTransform(translateY(-50%));
            
            &:hover {
                
                .edgtf-prev-icon,
                .edgtf-next-icon {
                    color: $first-main-color;
                }
            }
        }
        
        .owl-prev {
            left: 0;
        }
        
        .owl-next {
            right: 0;
        }
        
        .edgtf-prev-icon,
        .edgtf-next-icon {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            color: $default-heading-color;
            line-height: 1;
            @include edgtfTransition(color .2s ease-out);
            
            .edgtf-icon-arrow {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                font-size: 35px;
                line-height: inherit;
                
                &:before {
                    display: block;
                    line-height: inherit;
                }
            }
        }
    }
    
    .owl-dots {
        text-align: center;
        margin: 15px 0 0;
        
        .owl-dot {
            display: inline-block;
            vertical-align: middle;
            
            span {
                display: inline-block;
                vertical-align: middle;
                width: 10px;
                height: 10px;
                margin: 0 5px;
                border-radius: 3em;
                background-color: #ccc;
                border: 1px solid transparent;
                box-sizing: border-box;
                @include edgtfTransition(background-color .2s ease-out, border-color .2s ease-out);
            }
            
            &:hover,
            &.active {
                
                span {
                    background-color: $default-heading-color;
                    border-color: $default-heading-color;
                }
            }
        }
    }
    
    .owl-carousel .owl-item img {
        -webkit-transform: translateZ(0); //chrome text cut off fix
    }
}