/* ==========================================================================
   Portfolio Item Layout - Gallery Overlay style - begin
   ========================================================================== */

.edgtf-portfolio-list-holder {
	
	&.edgtf-pl-gallery-overlay {
		
		&.edgtf-pl-shadow {
			
			article {
				
				.edgtf-pl-item-inner {
					box-shadow: 0 10px 10px 2px rgba($default-heading-color, .12);
				}
			}
		}
		
		&.edgtf-pl-no-content {
			
			.edgtf-pli-text-holder {
				display: none;
			}
		}
		
		article {
			.edgtf-pli-image {
				overflow: hidden;

				img {
					display: block;
					@include edgtfTransition(all .4s cubic-bezier(0.23, 1, 0.32, 1));
				}
			}
			
			&:hover {
				
				.edgtf-pli-text-holder {
					opacity: 1;
				}
				
				.edgtf-pli-text {
					-webkit-transition: -webkit-transform .4s cubic-bezier(0.23, 1, 0.32, 1);
					-moz-transition: -moz-transform .4s cubic-bezier(0.23, 1, 0.32, 1);
					transition: transform .4s cubic-bezier(0.23, 1, 0.32, 1);
					@include edgtfTransform(translateY(0) translateX(0));
				}

				img {
					@include edgtfTransform(scale(1.1));
				}
			}
			
			.edgtf-pli-text {
				-webkit-transition: -webkit-transform .3s ease-in-out .3s;
				-moz-transition: -moz-transform .3s ease-in-out .3s;
				transition: transform .3s ease-in-out .3s;
				@include edgtfTransform(translateY(-40px) translateX(-40px));
				
				.edgtf-pli-title {
					color: #fff;
				}
				
				.edgtf-pli-category-holder {
					
					a {
						color: #fff;
						
						&:hover {
							color: rgba(#fff, .7);
						}
					}
				}
				
				.edgtf-pli-excerpt {
					color: #fff;
				}
			}
		}
		
		.edgtf-pli-text-holder {
			@include edgtfAbsoluteHolderLayout();
			padding: 21px 30px;
			background-color: rgba($default-heading-color, .5);
			opacity: 0;
			box-sizing: border-box;
			@include edgtfTransition(opacity .3s ease-in-out);
		}
	}
}
/* ==========================================================================
   Portfolio Item Layout - Gallery Overlay style - end
   ========================================================================== */