/* ==========================================================================
   Portfolio Item Layout - Standard Shader style - begin
   ========================================================================== */

.edgtf-portfolio-list-holder {
	
	&.edgtf-pl-standard-shader {
		
		article {
			
			&:hover {
				
				.edgtf-pli-image {
					&:after {
						opacity: 1;
					}
										
					img {
						@include edgtfTransform(scale(1.04) translateZ(0));
					}
				}
			}
			
			.edgtf-pli-image {
				position: relative;
				overflow: hidden;

				&:after {
					content:'';
					position: absolute;
					top:0; 
					left:0;
					height: 100%;
					width: 100%;
					z-index: 100;
					background-color: rgba(0,0,0,.25);
					@include edgtfTransition(opacity .5s cubic-bezier(0.23, 1, 0.32, 1));
					opacity: 0;
				}
				
				img {
					-webkit-transition: -webkit-transform .3s ease-in-out;
					-moz-transition: -moz-transform .3s ease-in-out;
					transition: transform .3s ease-in-out;
					@include edgtfTransform(scale(1) translateZ(0));
				}
			}
			
			.edgtf-pli-text {
				
				.edgtf-pli-category-holder,
				.edgtf-pli-excerpt {
					margin: 5px 0 0;
				}
				
				.edgtf-pli-category-holder {
					
					a {
						color: $default-text-color;
						
						&:hover {
							color: $default-heading-color;
						}
					}
				}
			}
			
			.edgtf-pli-link {
				z-index: 200;
			}
		}
		
		.edgtf-pli-text-holder {
			@include edgtfRelativeHolderLayout();
			margin: 20px 0 15px;
		}
		
		.edgtf-pl-load-more-holder {
			
			.edgtf-pl-load-more {
				margin: 30px 0 0;
			}
		}
	}
}
/* ==========================================================================
   Portfolio Item Layout - Standard Shader style - end
   ========================================================================== */