/* ==========================================================================
   Blog Common style - begin
   ========================================================================== */

.edgtf-blog-holder {
    @include edgtfRelativeHolderLayout();
    clear: both;
    
    article {
        @include edgtfRelativeHolderLayout();
        box-sizing: border-box;
        
        &.sticky {
            
            .edgtf-post-title a {
                color: $first-main-color;
            }
        }
        
        .edgtf-post-content {
            @include edgtfRelativeHolderLayout();
        }
        
        .edgtf-post-heading {
            @include edgtfRelativeHolderLayout();
	        margin: 0 0 23px;
        }
        
        .edgtf-post-image {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
            
            a, img {
                display: block;
            }
        }
        
        .edgtf-post-text {
            @include edgtfRelativeHolderLayout();
            box-sizing: border-box;
        }
        
        .edgtf-post-excerpt-holder {
            @include edgtfRelativeHolderLayout();
	        margin: 10px 0 0;
	        
	        p {
		        margin: 0;
	        }
        }
        
        .edgtf-more-link-container {
            @include edgtfRelativeHolderLayout();
            margin: 20px 0 0;
        }
        
        .edgtf-post-read-more-button {
            display: block;
            margin: 10px 0 1px;
        }
    
        .edgtf-post-title {
            margin: 0;
        }
	
	    .edgtf-post-info-top {
		    @include edgtfRelativeHolderLayout();
		    margin: 0 0 10px;
		    
		    a {
			    color: $first-main-color;
			    font-size: 13px;
			    line-height: 19px;
			    font-weight: 500;
			    
			    &:hover {
				    color: $default-heading-color;
			    }
		    }
	    }
    
        .edgtf-post-info-middle {
	        @include edgtfRelativeHolderLayout();
            margin: 5px 0;
	        
            > div {
                position: relative;
                display: inline-block;
                padding-right: 8px;
                margin-right: 2px;
                font-size: 13px;
                font-weight: 500;
                color: $default-heading-color;
            
                &:after {
                    content: "/";
                    position: absolute;
                    top: 0;
                    right: -3px;
                }
            
                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                
                    &:after {
                        content: '';
                    }
                }
            }
        }
	
	    .edgtf-post-info-bottom {
		    @include edgtfRelativeHolderLayout();
			margin: 20px 0 0;
		    
		    > div {
			    position: relative;
			    display: inline-block;
			    margin: 0 14px 0 0;
			    font-size: 13px;
			    font-weight: 500;
			    color: $default-heading-color;
			
			    &:last-child {
				    margin: 0;
			    }
		    }
		    
		    .edgtf-blog-share-label {
			    position: relative;
			    top: -1px;
			    display: inline-block;
			    vertical-align: middle;
			    margin: 0 11px 0 0;
		    }
		
		    .edgtf-social-share-holder {
			 
			    li {
					margin: 0 13px 0 0;
				    
				    &:last-child {
					    margin: 0;
				    }
				    
				    
				    a {
					    color: #666;
				    }
			    }
		    }
	    }
        
        //Gallery post style
        &.format-gallery {
            
            .edgtf-blog-gallery {
                visibility: hidden;
            }
            
            .edgtf-post-image {
                width: 100%;
            }
            
            .owl-carousel .owl-item {
                z-index: 2;
                
                &.active {
                    z-index: 3;
                }
            }
        }
        
        //Audio post style
        &.format-audio {
            
            &.edgtf-post-no-media.has-post-thumbnail {
                
                .edgtf-post-heading {
                    margin-bottom: 23px;
                }
            }
            
            &.has-post-thumbnail {
                
                .edgtf-blog-audio-holder {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            
            .edgtf-post-image {
                width: 100%;
                max-width: inherit;
                
                img {
                    width: 100%;
                }
            }
            
            .edgtf-blog-audio-holder {
                
                .mejs-container, .mejs-embed, .mejs-embed body, .mejs-container .mejs-controls {
                    background: none;
                }
                
                .mejs-container {
                    background-color: rgba(#333, .8);
                }
                
                .mejs-container,
                .mejs-container .mejs-controls {
                    height: 36px !important;
                }
                
                .mejs-container .mejs-controls {
                    padding: 0 10px 0 0;
                    box-sizing: border-box;
                }
                
                .mejs-container .mejs-controls > .mejs-playpause-button {
                    width: 36px;
	                
	                button {
		                top: -1px;
	                }
                }
                
                .mejs-container .mejs-controls > .mejs-volume-button {
                    width: 30px;
                }
                
                .mejs-container .mejs-controls > .mejs-playpause-button,
                .mejs-container .mejs-controls > .mejs-volume-button {
                    height: 36px;
                    
                    button {
                        position: relative;
                        height: 100%;
                        background: none;
                        background-position: center;
                        background-repeat: no-repeat;
                        margin: 0;
                        border: 0;
                        outline: none;
                    }
                    
                    &.mejs-play button {
                        width: 36px;
                        background-image: url('img/audio/play.png');
                    }
                    
                    &.mejs-pause button {
                        width: 36px;
                        background-image: url('img/audio/pause.png');
                    }
                    
                    &.mejs-stop button {
                        width: 36px;
                        background-image: url('img/audio/stop.png');
                    }
                    
                    &.mejs-mute button {
                        width: 30px;
                        background-image: url('img/audio/sound.png');
                    }
                    
                    &.mejs-unmute button {
                        width: 30px;
                        background-image: url('img/audio/mute.png');
                    }
                }
                
                .mejs-container .mejs-controls > .mejs-time {
                    height: 100%;
                    padding: 0;
                    font-family: inherit;
                    font-size: 13px;
                    color: #fff;
                    line-height: 36px;
                }
                
                .mejs-container .mejs-controls > .mejs-time-rail {
                    height: 100%;
                    padding: 0;
                    font-family: inherit;
                    
                    .mejs-time-total {
                        height: 6px;
                        margin: 15px 14px;
                        background: none;
                        background-color: $default-heading-color;
                        
                        .mejs-time-current {
                            height: 6px;
                            background-color: $first-main-color;
                        }
                        
                        .mejs-time-float {
                            top: -15px;
                            border: 0;
                            color: #fff;
                            
                            .mejs-time-float-corner {
                                border-top-color: #fff;
                            }
                        }
                        
                        .mejs-time-loaded,
                        .mejs-time-float {
                            background: none;
                        }
                    }
                }
                
                .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider {
                    height: 36px;
                    
                    
                    .mejs-horizontal-volume-total,
                    .mejs-horizontal-volume-current {
                        height: 6px;
                        top: 15px;
                        background: none;
                    }
                    
                    .mejs-horizontal-volume-total {
                        background-color: $default-heading-color;
                    }
                    
                    .mejs-horizontal-volume-current {
                        background-color: $first-main-color;
                    }
                }
            }
        }
        
        //Quote post style
        &.format-quote {
            
            .edgtf-post-quote-holder {
                @include edgtfRelativeHolderLayout();
	            padding: 48px 25px 67px;
	            background-color: $first-main-color;
	            text-align: center;
	            box-sizing: border-box;
	            
	            > * {
		            color: #fff;
	            }
	            
	            .edgtf-quote-icon {
		            display: block;
		            font-size: 40px;
		            margin: 0 0 15px;
	            }
	            
	            .edgtf-post-title {
		            font-size: 23px;
		            line-height: 40px;
		            font-weight: 400;
	            }
	            
	            .edgtf-quote-author {
		            display: block;
		            margin: 17px 0 0;
		            font-size: 16px;
		            font-weight: 600;
	            }
	
	            .edgtf-post-quote-link {
		            @include edgtfAbsoluteHolderLayout();
	            }
            }
        }
	
	    //Link post style
	    &.format-link {
		
		    .edgtf-post-link-holder {
			    @include edgtfRelativeHolderLayout();
			    padding: 49px 25px 37px;
			    background-color: #5b63ce;
			    text-align: center;
			    box-sizing: border-box;
			
			    > * {
				    color: #fff;
			    }
			
			    .edgtf-link-icon {
				    display: block;
				    font-size: 40px;
				    margin: 0 0 15px;
			    }
			
			    .edgtf-post-title {
				    font-size: 23px;
				    line-height: 40px;
				    font-weight: 400;
			    }
			
			    .edgtf-post-link-link {
				    @include edgtfAbsoluteHolderLayout();
			    }
		    }
	    }
    }
}

/* ==========================================================================
   Blog Common style - end
   ========================================================================== */

/* Blog List styles
   ========================================================================== */
@import 'list/blog-list';

/* Blog Single styles
   ========================================================================== */
@import 'single/blog-single';

/* Blog Parts styles
   ========================================================================== */
@import 'parts/author';
@import 'parts/pagination';
@import 'parts/posts-navigation';
@import 'parts/related-posts';

/* Blog Shortcodes styles
   ========================================================================== */
@import 'shortcodes/blog-list/blog-list';
@import 'shortcodes/blog-slider/blog-slider';