.edgtf-menu-list {

	&.edgtf-ml-with-featured-image {

		.edgtf-mlw-title-holder {
			margin: 0 0 37px;
		}
	}

	.edgtf-mlw-title-holder {
		margin: 0 0 27px;

		.edgtf-mlw-title {
			padding: 0;
		}

		&.edgtf-mlw-title-holder-center {
			.edgtf-mlw-title {
				text-align: center;
			}
		}
	}

	> ul {
		list-style-type: none;
		padding: 0;

		> li {
			margin-bottom: 26px;

			&:last-child {
				margin-bottom: 0;
			}

			h5 {
				margin: 10px 0;
			}
		}
	}

	&.edgtf-ml-with-featured-image {
		h5 {
			margin: 0 0 10px;
		}

		.edgtf-ml-item-content {
			padding-left: 75px;
		}

		.edgtf-ml-item-image {
			float: left;
			width: 60px;
			position: relative;
			top: 0px;

			a, img {
				display: block;
			}
		}
	}

	.edgtf-ml-title-holder {
		display: table-cell;
		width: 1%;
		white-space: nowrap;
		padding-right: 4px;

		.edgtf-ml-label-holder {
			position: relative;
			text-align: right;
			margin: 0 5px;

			.edgtf-ml-label {
				position: absolute;
				top: 50%;
				background-color: $first-main-color;
				color: #fff;
				padding: 1px 7px;
				font-size: 11px;
				line-height: 11px;
				text-align: center;
				@include edgtfTransform(translateY(-50%));
			}
		}
	}

	.edgtf-ml-dots {
		height: 3px;
		display: table-cell;
		width: 98%;
		z-index: 1;
		position: relative;
	}

	.edgtf-ml-price-holder {
		display: table-cell;
		width: 1%;
		padding-left: 4px;
		white-space: nowrap;

		.edgtf-ml-price {
			font-weight: normal;
		}
	}

	.edgtf-smi-ingredients-list {
		padding: 0;

		li {
			display: inline-block;
			position: relative;

			&:after {
				content: "/";
				display: inline-block;
				margin: 0 1px 0 3px;
			}

			&:last-child:after {
				display: none;
			}
		}
	}
}