@include ipad-landscape {

	.edgtf-menu-grid {

		$columns_number: ('two', 'three', 'four');

		@for $i from 0 to length($columns_number) {
			&.edgtf-mg-#{nth($columns_number,$i+1)}-cols {
				$column_width: 100%/2;

				> ul {

					> li {
						width: $column_width;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $ipad-landscape) and (max-width: $laptop-landscape-medium) {

	.edgtf-menu-grid {
		$columns_number: ('three', 'four');

		@for $i from 0 to length($columns_number) {
			&.edgtf-mg-#{nth($columns_number,$i+1)}-cols {
				$column_width: 100%/3;

				> ul {

					> li {
						width: $column_width;

						&:nth-child(3n+1) {
							clear: both;
						}

						&:nth-child(4n+1) {
							clear: none;
						}
					}
				}
			}
		}
	}
}

@include phone-landscape {

	 .edgtf-menu-grid {
		 $columns_number: ('two', 'three', 'four');

		 @for $i from 0 to length($columns_number) {
			 &.edgtf-mg-#{nth($columns_number,$i+1)}-cols {
				 $column_width: 100%;

				 > ul {

					 > li {
						 width: $column_width;
					 }
				 }
			 }
		 }
	 }
 }