.edgtf-menu-grid {
	@include edgtfRelativeHolderLayout();
	clear: both;

	> ul {
		list-style-type: none;
		margin: 0 -15px;
		padding: 0;

		> li {
			float: left;
			padding: 0 15px;
			margin: 0 0 30px;
			box-sizing: border-box;
		}
	}

	$columns_number: ('two', 'three', 'four');

	@for $i from 0 to length($columns_number) {
		&.edgtf-mg-#{nth($columns_number,$i+1)}-cols {

			> ul {

				> li {
					width: round(100% / ($i+2));
				}

				@if ($i > 1) { // set different break point for four columns
					@media only screen and (min-width: $ipad-landscape-plus-pixel) {

						> li {

							&:nth-child(#{$i+2}n+1) {
								clear: both;
							}
						}
					}
				} @else {
					@media only screen and (min-width: $phone-landscape-plus-pixel) {

						> li {

							&:nth-child(#{$i+2}n+1) {
								clear: both;
							}
						}
					}
				}
			}
		}
	}

	.edgtf-mg-image-holder {
		position: relative;

		a, img {
			display: block;
		}

		a {
			display: block;

			&:hover {

				&:before {
					opacity: 1;
				}
			}

			&:before {
				@include edgtfAbsoluteHolderLayout();
				content: '';
				opacity: 0;
				background-color: rgba(5, 5, 5, 0.28);
				@include edgtfTransition(opacity 0.3s ease-in-out);
			}

			img {
				display: block;
			}
		}

		&:hover {
			.edgtf-mg-price-holder {
				@include edgtfTransform(translate3d(0,-5px,0));
			}
		}

		.edgtf-mg-price-holder {
			position: absolute;
			top: 15px;
			right: 15px;
			z-index: 9;
			@include edgtfTransform(translate3d(0,0,0));
			@include edgtfTransition(all .3s cubic-bezier(.38, 3,.57,1.38));

			.edgtf-mg-price {
				display: inline-block;
				position: relative;
				color: #fff;
				font-size: 20px;
				font-weight: 700;
				text-align: center;
				min-width: 62px;
				min-height: 62px;
				line-height: 62px;
				background-color: $first-main-color;
				border-radius: 50%;
			}
		}

		.edgtf-mg-label-holder {
			position: absolute;
			top: 12px;
			left: 12px;
			background-color: $first-main-color;
			color: #fff;
			padding: 4px 10px;
			font-size: 12px;
			line-height: 17px;
			vertical-align: top;
		}
	}

	.edgtf-mg-content-holder {
		text-align: center;
		position: relative;
		padding: 24px 17px 20px;

		.edgtf-mg-title {
			margin: 0 0 6px;
		}

		.edgtf-smi-ingredients-list li {
			display: inline-block;
			position: relative;
			width: auto;
			float: none;
			margin: 0;
			padding: 0;

			&:after {
				content: ",";
				display: inline-block;
				font-size: 1.5em;
				margin: 0 0 3px;
			}

			&:last-child:after {
				display: none;
			}
		}
	}
}