@import "blocks/mobile-navigation";

/* ==========================================================================
#Mobile header styles
========================================================================== */
.edgtf-mobile-header {
    display: none;
    position: relative;
    z-index: 101; //one more thatn the content

   /* #General mobile header styles
   ========================================================================== */
    .edgtf-mobile-header-inner {
        position: relative;
        height: 80px;
        background-color: #fff;
        border-bottom: 1px solid $default-border-color;
	    box-sizing: border-box;

        .edgtf-mobile-header-holder {
            position: relative;
            z-index: 2;
            height: 100%;
        }
    }

    .edgtf-grid {
        height: 100%;
    }

    .edgtf-vertical-align-containers {
        padding: 0;
    }

    /* #End of general mobile header styles
   ========================================================================== */

    /* #Mobile logo styles
    ========================================================================== */
    .edgtf-mobile-logo-wrapper a {
        display: block;
    }

    .edgtf-mobile-logo-wrapper img {
        height: 100%;
        width: auto;
    }
    /* #End of mobile logo styles
    ========================================================================== */

    /* #Mobile menu opener styles
    ========================================================================== */
    .edgtf-mobile-menu-opener {
        float: left;
        position: relative;
        z-index: 2;
        height: 100%;

        a {
            display: table;
            height: 100%;
            padding-right: 10px;

            .edgtf-mo-lines {
	            position: relative;
	            display: inline-block;
	            vertical-align: middle;
	            width: 18px;
	            height: 12px;

	            .edgtf-mo-line {
		            position: absolute;
		            left: 0;
		            height: 2px;
		            width: 100%;
		            background-color: currentColor;
		            -webkit-transition: -webkit-transform .3s ease, top .2s ease-out, background-color .2s ease-out;
		            -moz-transition: -moz-transform .3s ease, top .2s ease-out, background-color .2s ease-out;
		            transition: transform .3s ease, top .2s ease-out, background-color .2s ease-out;
		
		            &.edgtf-line-1 {
			            top: 0;
			            outline: transparent solid 1px;
		            }
		
		            &.edgtf-line-2 {
			            top: calc(50% - 1px);
			            outline: transparent solid 1px;
		            }
		
		            &.edgtf-line-3 {
			            top: calc(100% - 2px);
			            outline: transparent solid 1px;
		            }
	            }
            }

            .edgtf-mobile-menu-text {
                position: relative;
                top: 0;
                margin: 0;
                padding-left: 3px;
            }

	        &:hover {

		        .edgtf-mo-lines .edgtf-mo-line {
			
			        &.edgtf-line-1,
			        &.edgtf-line-3 {
				        top: calc(50% - 1px);
			        }
			
			        &.edgtf-line-2 {
				        @include edgtfTransform(rotate(90deg));
			        }
		        }
	        }
        }

        .edgtf-mo-icon-holder {
            display: table-cell;
            vertical-align: middle;
            line-height: 1em;

            > * {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    /* #End of mobile menu opener styles
    ========================================================================== */
}

/* ==========================================================================
#End of mobile header styles
========================================================================== */

/* ==========================================================================
#Sticky mobile header styles
========================================================================== */
.edgtf-sticky-up-mobile-header {
    .edgtf-animate-mobile-header {
        .edgtf-mobile-header-inner {
            width: 100%;

			//Added left and right transition values because of sidearea transitions on open/close
			-webkit-transition: -webkit-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
			-moz-transition: -moz-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
			-o-transition: -o-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
			transition: transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
            @include edgtfTransform(translateY(-100%));
        }
    }

    .mobile-header-appear {
        .edgtf-mobile-header-inner {
            top: 0;
			left: 0;
            width: 100%;
            position: fixed;
            @include edgtfTransform(translateY(0));
        }
    }
}
/* ==========================================================================
#End of sticky mobile header styles
========================================================================== */