/*==========================================================================
# Fullscreen menu style - begin
========================================================================== */

/* Fullscreen general style - begin
========================================================================== */

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-menu-opener,
.edgtf-dark-header .edgtf-top-bar .edgtf-fullscreen-menu-opener {
    color: $header-dark-color !important; //Color can be set inline from widget opener
    
    &:hover {
        color: $header-dark-hover-color !important; //Color can be set inline from widget opener
    }
	&.edgtf-fm-opened {
		color: #fff !important; //Color can be set inline from widget opener
	}
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-menu-opener,
.edgtf-light-header .edgtf-top-bar .edgtf-fullscreen-menu-opener {
    color: $header-light-color !important; //Color can be set inline from widget opener
    
    &:hover,
    &.edgtf-fm-opened {
        color: $header-light-hover-color !important; //Color can be set inline from widget opener
    }
}

.edgtf-fullscreen-menu-opener {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    
    .edgtf-fm-lines {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 12px;
        
        .edgtf-fm-line {
            position: absolute;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: currentColor;
            -webkit-transition: -webkit-transform .3s ease, top .2s ease-out, background-color .2s ease-out;
            -moz-transition: -moz-transform .3s ease, top .2s ease-out, background-color .2s ease-out;
            transition: transform .3s ease, top .2s ease-out, background-color .2s ease-out;
            
            &.edgtf-line-1 {
                top: 0;
                outline: transparent solid 1px;
            }
            
            &.edgtf-line-2 {
                top: calc(50% - 1px);
                outline: transparent solid 1px;
            }
            
            &.edgtf-line-3 {
                top: calc(100% - 2px);
                outline: transparent solid 1px;
            }
        }
    }
    
    &:hover {
        color: $first-main-color !important; //Color can be set inline from widget opener
        
        .edgtf-fm-lines {
            
            .edgtf-fm-line {
                
                &.edgtf-line-1,
                &.edgtf-line-3 {
                    top: calc(50% - 1px);
                }
                
                &.edgtf-line-2 {
                    @include edgtfTransform(rotate(90deg));
                }
            }
        }
    }
    
    &.edgtf-fm-opened {
        color: $first-main-color !important; //Color can be set inline from widget opener
        
        .edgtf-fm-lines {
            
            .edgtf-fm-line {
                
                &.edgtf-line-1 {
                    display: none;
                }
                
                &.edgtf-line-2 {
                    top: 50%;
                    @include edgtfTransform(rotate(45deg));
                }
                
                &.edgtf-line-3 {
                    top: 50%;
                    @include edgtfTransform(rotate(-45deg));
                }
            }
        }
    }
}

.edgtf-fullscreen-menu-opened {

    .edgtf-page-header,
    .edgtf-top-bar {
        visibility: hidden;
    }

    .edgtf-fullscreen-menu-opener,
    .edgtf-logo-wrapper {
        visibility: visible;
    }

    .edgtf-fullscreen-menu-holder-outer {
        visibility: visible !important;
        opacity: 1 !important;
    }
}

.edgtf-fullscreen-menu-holder-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden !important;
    visibility: hidden;
    opacity: 0;
    z-index: 105; /* this has to be between header z-index and content z-index */
}

.edgtf-fullscreen-menu-holder {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $default-heading-color;
    display: table;
    background-repeat: repeat;
    background-position: 0 0;
}

.edgtf-fullscreen-menu-holder-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 100px 0;
}

.touch {

    .edgtf-fullscreen-menu-holder-outer {
        display: none;
    }

    .edgtf-fullscreen-menu-opened .edgtf-fullscreen-menu-holder-outer {
        display: block;
    }
}

nav.edgtf-fullscreen-menu {
    position: relative;
    top: 0;
    margin: 0 auto;
    text-align: left;

    ul {
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0;
            padding: 0;
            text-align: center;

            a {
                position: relative;
                display: inline-block;
	            vertical-align: middle;
                margin: 11px 0;
	            font-size: 20px;
	            line-height: 1.3em;
				font-weight: 700;
				color: #fff;

				&:hover {
					color: $first-main-color;
				}

                span {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                }

                .edgtf-fullscreen-menu-arrow {
                    position: relative;
                    top: 0;
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 0 0 10px;
                    font-size: 0.65em;
                    line-height: inherit;
                }
            }

            ul {
                padding: 7px 0;

                &.sub_menu {
                    display: none;
					padding: 16px 0;
					margin: 6px 0 20px;

					&:before,
					&:after {
						content: " ";
						@include edgtfAbsoluteHolderLayout();
						left: 50%;
						max-width: 420px;
						height: 1px;
						background-color: #4c4c4c;
						@include edgtfTransform(translateX(-50%));
					}

					&:after {
						top: auto;
						bottom: 0px;
					}
                }

                li {

                    &.current-menu-ancestor > a,
                    &.current-menu-item > a {
                        color: $first-main-color;
                    }

					a {
						margin: 11px 0;
					}

                    ul {

                        li {

                            a {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    > ul {
        display: block;

        > li {

            > a {
                font-size: 35px;
            }

            &.edgtf-active-item > a {
                color: $first-main-color;
            }
        }
    }
}

.edgtf-fullscreen-below-menu-widget-holder {
    text-align: center;
    margin-top: 20px;
}

.edgtf-fullscreen-above-menu-widget-holder {
    text-align: center;
}

/* Fullscreen general style - end
========================================================================== */

/* Fullscreen fade animations general - begin
========================================================================== */

@-webkit-keyframes fade_out {
    0% {
        opacity: 1;
        visibility: visible
    }
    100% {
        opacity: 0;
        visibility: hidden
    }
}

@-moz-keyframes fade_out {
    0% {
        opacity: 1;
        visibility: visible
    }
    100% {
        opacity: 0;
        visibility: hidden
    }
}

@keyframes fade_out {
    0% {
        opacity: 1;
        visibility: visible
    }
    100% {
        opacity: 0;
        visibility: hidden
    }
}

@-webkit-keyframes fade_in {
    0% {
        opacity: 0;
        visibility: hidden
    }
    100% {
        opacity: 1;
        visibility: visible
    }
}

@-moz-keyframes fade_in {
    0% {
        opacity: 0;
        visibility: hidden
    }
    100% {
        opacity: 1;
        visibility: visible
    }
}

@keyframes fade_in {
    0% {
        opacity: 0;
        visibility: hidden
    }
    100% {
        opacity: 1;
        visibility: visible
    }
}

.edgtf-fade-push-text-right .edgtf-fullscreen-menu-holder-outer,
.edgtf-fade-push-text-top .edgtf-fullscreen-menu-holder-outer,
.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden !important;
    z-index: 105;
    opacity: 0;
}

.edgtf-fullscreen-fade-out .edgtf-fullscreen-menu-holder-outer {
    -webkit-animation: fade_out .25s linear both;
    -moz-animation: fade_out .25s linear both;
    animation: fade_out .25s linear both;
}

.edgtf-fullscreen-menu-opened.edgtf-fullscreen-fade-in .edgtf-fullscreen-menu-holder-outer {
    -webkit-animation: fade_in .25s linear both;
    -moz-animation: fade_in .25s linear both;
    animation: fade_in .25s linear both;
}

/* Fullscreen fade animations general - end
========================================================================== */

/* Fullscreen animation push text right - begin
========================================================================== */

@-webkit-keyframes push_text_right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes push_text_right {
    0% {
        opacity: 0;
        -moz-transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@keyframes push_text_right {
    0% {
        opacity: 0;
        transform: translateX(-60px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-webkit-keyframes push_nav_right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes push_nav_right {
    0% {
        opacity: 0;
        -moz-transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@keyframes push_nav_right {
    0% {
        opacity: 0;
        transform: translateX(-60px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-right .edgtf-fullscreen-menu-holder-outer nav > ul > li > a,
.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-right .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder > div,
.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-right .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder > div {
    @include edgtfAnimation(push_text_right .4s cubic-bezier(0.175, 0.885, 0.32, 1) both);
}

.edgtf-fade-push-text-right.edgtf-push-nav-right .edgtf-fullscreen-menu-holder-outer nav,
.edgtf-fade-push-text-right.edgtf-push-nav-right .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder,
.edgtf-fade-push-text-right.edgtf-push-nav-right .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder {
    @include edgtfTransition(opacity .55s cubic-bezier(0.23, 1, 0.32, 1));
    opacity:0;
}

/* Fullscreen animation push text right - end
========================================================================== */

/* Fullscreen animation push text top - begin
========================================================================== */

@-webkit-keyframes push_text_top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(60px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes push_text_top {
    0% {
        opacity: 0;
        -moz-transform: translateY(60px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@keyframes push_text_top {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-top .edgtf-fullscreen-menu-holder-outer nav > ul > li > a,
.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-top .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder > div,
.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-top .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder > div {
    @include edgtfAnimation(push_text_top .4s ease-out both .5s);
}

.edgtf-fade-push-text-top.edgtf-push-text-top .edgtf-fullscreen-menu-holder-outer nav,
.edgtf-fade-push-text-top.edgtf-push-text-top .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder,
.edgtf-fade-push-text-top.edgtf-push-text-top .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder {
    @include edgtfTransform(translateY(-30px));
    @include edgtfTransition(all .75s ease-out);
}

/* Fullscreen animation push text top - end
========================================================================== */

/* Fullscreen animation fade text scaledown - begin
========================================================================== */

.edgtf-fullscreen-menu-opened.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer nav,
.edgtf-fullscreen-menu-opened.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder,
.edgtf-fullscreen-menu-opened.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder {
    opacity: 1;
    @include edgtfTransform(scale(1));
    @include edgtfTransition(all .25s linear 0.1s);
}

.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer nav,
.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder,
.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder {
    opacity: 0;
    @include edgtfTransform(scale(1.1));
    @include edgtfTransition(all .25s linear 0.1s);
}

/* Fullscreen animation fade text scaledown - end
========================================================================== */

/* ==========================================================================
# Fullscreen menu style - end
==========================================================================*/