/* ==========================================================================
   Blog Single style - begin
   ========================================================================== */

.edgtf-blog-holder {
    
    &.edgtf-blog-single {
        margin: 0 0 100px;
	    
        article {
            margin: 0 0 38px;
	        
	        .edgtf-post-text {
		        padding: 0 0 10px;
		        border-bottom: 1px solid $default-border-color;
	        }
	
	        //Quote post style
	        &.format-quote {
		
		        .edgtf-post-quote-holder {
			        margin: 0 0 23px;
		        }
	        }
	
	        //Link post style
	        &.format-link {
		
		        .edgtf-post-link-holder {
			        margin: 0 0 23px;
		        }
	        }
        }
    }
}
/* ==========================================================================
   Blog Single style - end
   ========================================================================== */