@include ipad-portrait {
	
	.edgtf-blog-holder {
		
		&.edgtf-blog-single {
			
			article {
				
				.edgtf-post-info-bottom {
					
					.edgtf-post-info-bottom-left,
					.edgtf-post-info-bottom-right {
						width: 100%;
						float: none;
					}
					
					.edgtf-post-info-bottom-right {
						text-align: inherit;
						margin: 10px 0 0;
					}
				}
			}
		}
	}
}