/* ==========================================================================
   Portfolio shortcode responsive style - begin
   ========================================================================== */

@include laptop-landscape-large {
	
	.edgtf-portfolio-list-holder {
		
		&.edgtf-pl-large-space {
			
			.edgtf-pl-inner {
				margin: 0 -30px;
			}
			
			article {
				padding: 0 30px;
				margin: 0 0 60px;
			}
		}
		
		&.edgtf-pl-masonry {
			
			$masonry_columns_number: ('five', 'six');
			
			@for $i from 0 to length($masonry_columns_number) {
				&.edgtf-pl-#{nth($masonry_columns_number,$i+1)}-columns {
					$column_width: 100%/4;
					
					article,
					.edgtf-pl-grid-sizer {
						width: $column_width;
					}
					
					article {
						
						&.edgtf-pl-masonry-large-width,
						&.edgtf-pl-masonry-large-width-height {
							width: $column_width * 2;
						}
					}
				}
			}
		}
	}
}

@include laptop-landscape-medium {
	
	.edgtf-portfolio-list-holder {
		
		&.edgtf-pl-large-space {
			
			.edgtf-pl-inner {
				margin: 0 -20px;
			}
			
			article {
				padding: 0 20px;
				margin: 0 0 40px;
			}
		}
	}
}

@include laptop-landscape {
	
	.edgtf-portfolio-list-holder {
		
		&.edgtf-pl-gallery {
			
			$gallery_columns_number: ('four', 'five', 'six');
			
			@for $i from 0 to length($gallery_columns_number) {
				&.edgtf-pl-#{nth($gallery_columns_number,$i+1)}-columns {
					$gallery_item_size: 100% / 3;
					
					article {
						width: round($gallery_item_size);
					}
					
					@media only screen and (min-width: $ipad-landscape-plus-pixel) {
						
						article {
							
							&:nth-child(3n+1) {
								clear: both;
							}
						}
					}
				}
			}
		}
		
		&.edgtf-pl-masonry {
			
			$masonry_columns_number: ('four', 'five', 'six');
			
			@for $i from 0 to length($masonry_columns_number) {
				&.edgtf-pl-#{nth($masonry_columns_number,$i+1)}-columns {
					$column_width: 100% / 3;
					
					article,
					.edgtf-pl-grid-sizer {
						width: round($column_width);
					}
					
					article {
						
						&.edgtf-pl-masonry-large-width,
						&.edgtf-pl-masonry-large-width-height {
							width: $column_width * 2;
						}
					}
				}
			}
		}
	}
}

@include ipad-landscape {
	
	.edgtf-portfolio-list-holder {
		
		&.edgtf-pl-gallery {
			
			$gallery_columns_number: ('three', 'four', 'five', 'six');
			
			@for $i from 0 to length($gallery_columns_number) {
				&.edgtf-pl-#{nth($gallery_columns_number,$i+1)}-columns {
					
					article {
						width: 50%;
					}
					
					@media only screen and (min-width: $phone-landscape-plus-pixel) {
						
						article {
							
							&:nth-child(2n+1) {
								clear: both;
							}
						}
					}
				}
			}
		}
		
		&.edgtf-pl-masonry {
			
			$masonry_columns_number: ('three', 'four', 'five', 'six');
			
			@for $i from 0 to length($masonry_columns_number) {
				&.edgtf-pl-#{nth($masonry_columns_number,$i+1)}-columns {
					
					article,
					.edgtf-pl-grid-sizer {
						width: 50%;
					}
					
					article {
						
						&.edgtf-pl-masonry-large-width,
						&.edgtf-pl-masonry-large-width-height {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@include phone-landscape {
	
	.edgtf-portfolio-list-holder {
		
		&.edgtf-pl-gallery {
			
			article {
				width: 100% !important; // !important is set to override all other stronger selectors
			}
		}
		
		&.edgtf-pl-masonry {
			
			$masonry_columns_number: ('two', 'three', 'four', 'five', 'six');
			
			@for $i from 0 to length($masonry_columns_number) {
				&.edgtf-pl-#{nth($masonry_columns_number,$i+1)}-columns {
					
					article,
					.edgtf-pl-grid-sizer {
						width: 100%;
					}
				}
			}
		}
	}
}
/* ==========================================================================
   Portfolio shortcode responsive style - end
   ========================================================================== */