/* ==========================================================================
   Portfolio shortcode style - begin
   ========================================================================== */

.edgtf-portfolio-list-holder {
    @include edgtfRelativeHolderLayout();

	/***** Article Global Style - begin *****/

    article {
	    @include edgtfRelativeHolderLayout();
        box-sizing: border-box;

	    .touch & {
		    cursor: pointer;
	    }

	    .edgtf-pl-item-inner {
		    @include edgtfRelativeHolderLayout();
		    overflow: hidden;
	    }
	    
	    .edgtf-pli-image {
		    @include edgtfRelativeHolderLayout();
		    
		    img {
			    display: block;
			    width: 100%;
		    }
	    }

	    .edgtf-pli-link {
		    @include edgtfAbsoluteHolderLayout();
	    }

	    .edgtf-pli-text-wrapper {
	        @include edgtfTableLayout();
	    }

	    .edgtf-pli-text {
		    position: relative;
		    display: table-cell;
		    height: 100%;
		    width: 100%;
		    vertical-align: bottom;

		    .edgtf-pli-title {
				margin: 0;
		    }

		    .edgtf-pli-category-holder {
			    position: relative;
			    display: block;
			    margin: 1px 0 0;

			    a {
				    position: relative;
				    display: inline-block;
				    vertical-align: middle;
				    padding: 0 8px 0 0;
				    margin: 0 2px 0 0;
				    z-index: 201;
				    font-size: 12px;
				
				    &:after {
					    content: "/";
					    position: absolute;
					    top: 0;
					    right: -3px;
				    }
				
				    &:last-child {
					    padding: 0;
					    margin: 0;
					
					    &:after {
						    content: '';
					    }
				    }
			    }
		    }

		    .edgtf-pli-excerpt {
			    margin: 1px 0 0;
		    }
	    }
    }

	/***** Article Global Style - end *****/
	
	/***** Portfolio Columns Space - begin *****/
	
	$columns_space_label: ('no', 'tiny', 'small', 'normal', 'large');
	$columns_space: (0, 5, 12, 15, 30);
	
	@for $i from 0 to length($columns_space_label) {
		&.edgtf-pl-#{nth($columns_space_label,$i+1)}-space {
			$item_space: nth($columns_space, $i+1);
			$item_bottom_margin: $item_space * 2;
			
			.edgtf-pl-inner {
				margin: 0 -#{$item_space}px;
			}
			
			article {
				padding: 0 #{$item_space}px;
				margin: 0 0 #{$item_bottom_margin}px;
			}
		}
	}

	&.edgtf-pl-has-filter {
		.edgtf-pl-inner {
			overflow: hidden;
		}
	}
	
	/***** Portfolio Columns Space - end *****/
	
	/***** Portfolio Types - begin *****/
	
	&.edgtf-pl-gallery {
		
		&:not(.edgtf-pl-one-column) {
			
			article {
				float: left;
			}
		}
		
		$gallery_columns_number: ('two', 'three', 'four', 'five', 'six');
		
		@for $i from 0 to length($gallery_columns_number) {
			&.edgtf-pl-#{nth($gallery_columns_number,$i+1)}-columns {
				
				article {
					width: round(100% / ($i+2));
				}
				
				@if ($i > 1) { // set different break point for four and five columns
					@media only screen and (min-width: $laptop-landscape-plus-pixel) {
						
						article {
							
							&:nth-child(#{$i+2}n+1) {
								clear: both;
							}
						}
					}
				} @else {
					@media only screen and (min-width: $ipad-landscape-plus-pixel) {
						
						article {
							
							&:nth-child(#{$i+2}n+1) {
								clear: both;
							}
						}
					}
				}
			}
		}
	}
	
	&.edgtf-pl-masonry {
		
		&.edgtf-pl-images-fixed {
			
			article {
				
				.edgtf-pl-item-inner {
					height: 100%;
				}
				
				.edgtf-pli-image {
					height: 100%;
					
					img {
						height: 100%;
					}
				}
			}
		}
		
		.edgtf-pl-inner {
			opacity: 0;
		}
		
		article,
		.edgtf-pl-grid-sizer {
			width: 100%;
		}
		
		.edgtf-pl-grid-gutter {
			width: 0;
		}
		
		$masonry_columns_number: ('two', 'three', 'four', 'five', 'six');
		
		@for $i from 0 to length($masonry_columns_number) {
			&.edgtf-pl-#{nth($masonry_columns_number,$i+1)}-columns {
				$column_width: 100%/($i+2);
				
				article,
				.edgtf-pl-grid-sizer {
					width: $column_width;
				}
				
				article {
					
					&.edgtf-pl-masonry-large-width,
					&.edgtf-pl-masonry-large-width-height {
						width: $column_width * 2;
					}
				}
			}
		}
	}

	/***** Portfolio Types - end *****/

	/***** Additional Features - begin *****/

	&.edgtf-pl-has-animation {

		article {
			opacity: 0;
			@include edgtfTransform(scale(.8));
			@include edgtfTransition(all .8s cubic-bezier(0,0,0,1));
			pointer-events:none;

			&.edgtf-item-show {
				opacity: 1;
				@include edgtfTransform(scale(1));

				&.edgtf-item-shown {
					pointer-events:auto;
					@include edgtfTransition(none);
				}
			}
			
			.touch & {
				opacity: 1;
				@include edgtfTransform(translateY(0));
			}
		}
	}

	/***** Additional Features - end *****/
}

/***** Layout Collections Style - begin *****/

@import 'layout-collections/gallery-overlay';
@import 'layout-collections/standard-shader';

/***** Layout Collections Style - end *****/

/* ==========================================================================
   Portfolio shortcode style - end
   ========================================================================== */

/* ==========================================================================
   Portfolio filter style - begin
   ========================================================================== */

.edgtf-pl-filter-holder {
    @include edgtfRelativeHolderLayout();
    margin: 0 0 46px;
    text-align: center;

    ul {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 10px;
	        padding: 0 13px;
            cursor: pointer;

            span {
                position: relative;
                display: inline-block;
                vertical-align: middle;
	            font-size: 13px;
                font-weight: 700;
                white-space: nowrap;
				text-transform: uppercase;
                @include edgtfTransition(color .2s ease-out);
            }

            &.edgtf-pl-current,
            &:hover {

                span {
                    color: $default-heading-color;
                }
            }
        }
    }
}
/* ==========================================================================
   Portfolio filter style - end
   ========================================================================== */

/* ==========================================================================
   Portfolio standard pagination style - begin
   ========================================================================== */

.edgtf-portfolio-list-holder {
	
	&.edgtf-pl-pag-standard {
		
		.edgtf-pl-inner {
			opacity: 1;
			@include edgtfTransition(opacity .2s ease-out);
		}
		
		&.edgtf-pl-pag-standard-animate {
			
			.edgtf-pl-inner {
				opacity: 0;
			}
		}
	}
}

.edgtf-pl-standard-pagination {
	@include edgtfRelativeHolderLayout();
	margin: 20px 0 0;
	clear: both;
	
	ul {
		@include edgtfRelativeHolderLayout();
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: center;
		
		li {
			position: relative;
			display: inline-block;
			vertical-align: top;
			margin: 0 6px;
			padding: 0;
			
			a {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				margin: 0;
				padding: 0;
			}
			
			&.edgtf-pl-pag-active {
				
				a {
					color: $first-main-color;
				}
			}
			
			&.edgtf-pl-pag-prev,
			&.edgtf-pl-pag-next {
				position: absolute;
				top: 0;
				
				a {
					font-size: 30px;
					@include edgtfTransition(color .2s ease-out, opacity .2s ease-out);
					
					span {
						display: block;
						line-height: inherit;
						
						&:before {
							display: block;
							line-height: inherit;
						}
					}
				}
			}
			
			&.edgtf-pl-pag-prev {
				left: 0;
				
				a {
					opacity: 0;
				}
			}
			
			&.edgtf-pl-pag-next {
				right: 0;
				
				a {
					opacity: 1;
				}
			}
		}
	}
}
/* ==========================================================================
   Portfolio standard pagination style - end
   ========================================================================== */

/* ==========================================================================
   Portfolio load more pagination style - begin
   ========================================================================== */

.edgtf-pl-load-more-holder {
	@include edgtfRelativeHolderLayout();

    .edgtf-pl-load-more {
	    margin: 55px 0 0;
	    text-align: center;
	    
	    a {
		    color: #fff;
		    background-color: $default-heading-color;
		    border-color: $default-heading-color;
		    
		    &:hover {
			    color: #fff;
			    background-color: $first-main-color;
			    border-color: $first-main-color;
		    }
	    }
    }
}
/* ==========================================================================
   Portfolio load more pagination style - end
   ========================================================================== */

/* ==========================================================================
   Portfolio loading element style - begin
   ========================================================================== */

.edgtf-pl-loading {
	position: relative;
	display: none;
	width: 100%;
	margin: 40px 0 20px;
	color: $default-heading-color;
	text-align: center;

	&.edgtf-filter-trigger {
		position: absolute;
		top: 250px;
		left: 0;
	}
	
    &.edgtf-standard-pag-trigger {
		position: absolute;
		top: 50px;
		left: 0;
	
	    .edgtf-pl-has-filter & {
		    top: 150px;
	    }
    }

	&.edgtf-showing {
		display: block;
	}

	> div {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 14px;
		height: 14px;
		margin: 0 3px;
		background-color: $default-heading-color;
		border-radius: 100%;
		@include edgtfAnimation(sk-bouncedelay 1.4s infinite ease-in-out both);
	}

	.edgtf-pl-loading-bounce1 {
		-webkit-animation-delay: -0.32s;
		-moz-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}

	.edgtf-pl-loading-bounce2 {
		-webkit-animation-delay: -0.16s;
		-moz-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1.0);
	}
}

@-moz-keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-moz-transform: scale(0);
	}
	40% {
		-moz-transform: scale(1.0);
	}
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}
/* ==========================================================================
   Portfolio loading element style - end
   ========================================================================== */