/* ==========================================================================
   Portfolio Project Info shortcode style - begin
   ========================================================================== */

.edgtf-portfolio-project-info {
    position: relative;
	display: inline-block;
	vertical-align: middle;

	> div {
		position: relative;
		display: inline-block;
		vertical-align: middle;

		a {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			margin: 0 4px 0 0;

			&:last-child {
				margin: 0;
			}
		}
	}

	.edgtf-ppi-title,
	.edgtf-ppi-label {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}
	
	.edgtf-ppi-label {
		padding: 0 4px 0 0;
	}
}
/* ==========================================================================
   Portfolio Project Info shortcode style - end
   ========================================================================== */