/* ==========================================================================
   Blog Masonry general style - begin
   ========================================================================== */

.edgtf-blog-holder {
    
    &.edgtf-blog-type-masonry {
	
	    .edgtf-blog-holder-inner {
		    opacity: 0;
	    }
	
	    article {
		    float: left;
	    }
	
	    article,
	    .edgtf-blog-masonry-grid-sizer {
		    width: 100%;
	    }
	
	    .edgtf-blog-masonry-grid-gutter {
		    width: 0;
	    }
	
	    /***** Number of Columns - begin *****/
	    
	    $columns_number: ('two', 'three', 'four', 'five');
	
	    @for $i from 0 to length($columns_number) {
		    &.edgtf-blog-#{nth($columns_number,$i+1)}-columns {
			    $column_width: 100%/($i+2);
			
			    article,
			    .edgtf-blog-masonry-grid-sizer {
				    width: $column_width;
			    }
			    
                article {
                    &.edgtf-post-size-large-width,
                    &.edgtf-post-size-large-width-height {
                        width: 2*$column_width;
                    }
                }
		    }
	    }
	
	    /***** Number of Columns - end *****/
	
	    /***** Space Between Items - begin *****/
	
	    $columns_space_label: ('no', 'tiny', 'small', 'normal');
	    $columns_space: (0, 5, 10, 15);
	
	    @for $i from 0 to length($columns_space_label) {
		    &.edgtf-blog-#{nth($columns_space_label,$i+1)}-space {
			    $item_space: nth($columns_space, $i+1);
			    $item_bottom_margin: $item_space * 2;
			
			    .edgtf-blog-holder-inner {
				    margin: 0 -#{$item_space}px;
			    }
			
			    article {
				    padding: 0 #{$item_space}px;
				    margin: 0 0 #{$item_bottom_margin}px;
			    }
		    }
	    }
	
	    /***** Space Between Items - end *****/
    }
}
/* ==========================================================================
   Blog Masonry general style - end
   ========================================================================== */