/* ==========================================================================
   Blog List - Masonry style - begin
   ========================================================================== */

.edgtf-blog-holder {
	
    &.edgtf-blog-masonry {
	
	    &.edgtf-blog-masonry-full-width {
		    box-sizing: border-box;
		
		    $columns_space_label: ('tiny', 'small', 'normal');
		    $columns_space: (5, 10, 15);
		
		    @for $i from 0 to length($columns_space_label) {
			    &.edgtf-blog-#{nth($columns_space_label,$i+1)}-space {
				    $item_space: nth($columns_space, $i+1);
				
				    padding: 0 #{2*$item_space}px;
			    }
		    }
	    }
	
	    article {
		
		    .edgtf-post-content {
			    margin: 0 0 39px;
		    }
		    
		    .edgtf-post-image {
			
			    a, img {
				    width: 100%;
			    }
		    }
		    
		    .edgtf-blog-list-button {
			    margin: 0 0 0 9px;
		    }
		
		    &.format-gallery {
			
			    .owl-nav {
				
				    .owl-prev {
					    left: 18px;
				    }
				
				    .owl-next {
					    right: 18px;
				    }
			    }
		    }
		    
		    &.format-quote,
		    &.format-link {
			
			    .edgtf-post-heading {
				    margin: 0;
			    }
		    }
	    }
    }
}
/* ==========================================================================
   Blog List - Masonry style - end
   ========================================================================== */