/* ==========================================================================
   Blog Masonry general style - begin
   ========================================================================== */

@include laptop-landscape-large {
	
	.edgtf-blog-holder {
		
		&.edgtf-blog-type-masonry {
			
			$columns_number: ('five');
			
			@for $i from 0 to length($columns_number) {
				&.edgtf-blog-#{nth($columns_number,$i+1)}-columns {
					$column_width: 100%/4;
					
					article,
					.edgtf-blog-masonry-grid-sizer {
						width: $column_width;
					}
					
                    article {

                        &.edgtf-post-size-large-width,
                        &.edgtf-post-size-large-width-height {
                            width: 2*$column_width;
                        }
                    }
				}
			}
		}
	}
}

@include laptop-landscape {
	
	.edgtf-blog-holder {
		
		&.edgtf-blog-type-masonry {
			
			$columns_number: ('four', 'five');
			
			@for $i from 0 to length($columns_number) {
				&.edgtf-blog-#{nth($columns_number,$i+1)}-columns {
					$column_width: 100% / 3;
					
					article,
					.edgtf-blog-masonry-grid-sizer {
						width: $column_width;
					}

                    article {

                        &.edgtf-post-size-large-width,
                        &.edgtf-post-size-large-width-height {
                            width: 2*$column_width;
                        }
                    }
				}
			}
		}
	}
}

@include ipad-landscape {
	
	.edgtf-blog-holder {
		
		&.edgtf-blog-type-masonry {
			
			$columns_number: ('three', 'four', 'five');
			
			@for $i from 0 to length($columns_number) {
				&.edgtf-blog-#{nth($columns_number,$i+1)}-columns {
					
					article,
					.edgtf-blog-masonry-grid-sizer {
						width: 50%;
					}

                    article {

                        &.edgtf-post-size-large-width,
                        &.edgtf-post-size-large-width-height {
                            width: 100%;
                        }
                    }
				}
			}
		}
	}
}

@include phone-landscape {
	
	.edgtf-blog-holder {
		
		&.edgtf-blog-type-masonry {
			
			$columns_number: ('two', 'three', 'four', 'five');
			
			@for $i from 0 to length($columns_number) {
				&.edgtf-blog-#{nth($columns_number,$i+1)}-columns {
					
					article,
					.edgtf-blog-masonry-grid-sizer {
						width: 100%;
					}
					
                    article {

                        &.edgtf-post-size-large-width,
                        &.edgtf-post-size-large-width-height {
                            width: 100%;
                        }
                    }
				}
			}
		}
	}
}
/* ==========================================================================
   Blog Masonry general style - end
   ========================================================================== */