/* ==========================================================================
   Blog List - Standard style - begin
   ========================================================================== */

.edgtf-blog-holder {
	
    &.edgtf-blog-standard {
	
	    article {
		    margin: 0 0 50px;
		    
		    .edgtf-post-title {
			    margin: 1px 0 3px;
		    }
	    }
    }
}
/* ==========================================================================
   Blog List - Standard style - end
   ========================================================================== */