/* ==========================================================================
   WooCommerce Single Product Page styles - begin
   ========================================================================== */

.edgtf-woo-single-page {

	&.edgtf-woo-single-thumb-on-left-side {

		.edgtf-single-product-content {
			
			.images {
				
				@media only screen and (min-width: $ipad-portrait-plus-pixel) {
					
					figure {
						width: 100%;
						margin: 0;
					}
					
					.woocommerce-product-gallery__image {
						
						&:first-child {
							left: 120px;
							width: calc(100% - 120px);
						}
					}
					
					&.woocommerce-product-gallery--with-images {
						
						.woocommerce-product-gallery__image {
							
							&:not(:first-child) {
								position: absolute;
								top: 0;
								left: 0;
								width: 100px;
								height: calc(25% + 5px);
								padding: 0 0 20px;
								box-sizing: border-box;
								
								a {
									height: 100%;
									
									img {
										height: 100%;
									}
								}
							}
							
							$thumbnail_numbers: (2, 3, 4, 5, 6, 7, 8, 9);
							@for $i from 0 to length($thumbnail_numbers) {
								$thumbnail_number_value: nth($thumbnail_numbers, $i+1);
								
								&:nth-child(#{$thumbnail_number_value}#{n}) {
									$first_param: (25 * $i)#{'%'};
									$second_param: (5 * $i)#{px};
									$topPos: calc(#{$first_param} + #{$second_param});
									
									top: $topPos;
								}
							}
						}
					}
				}
			}
		}
	}

	.product {
		@include edgtfRelativeHolderLayout();
		float: none;
		margin: 0 0 46px;
	}

	.edgtf-single-product-content {
		@include edgtfRelativeHolderLayout();
		clear: both;
		margin: 0 0 30px;
		padding: 0 0 72px;
		border-bottom: 1px solid $default-border-color;
		
		.images {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 46%;
			margin: 0;
			padding: 0 41px 0 0;
			float: left;
			box-sizing: border-box;
			
			figure {
				position: relative;
				display: inline-block;
				vertical-align: top;
				margin: 0 -10px;
				
				a {
					@include edgtfRelativeHolderLayout();
					overflow: hidden;
					
					img {
						position: relative;
						width: 100%;
						display: block;
						z-index: 1;
						
						&.edgtf-fake-featured-image {
							position: absolute;
							top: 0;
							left: 0;
							z-index: 2;
						}
					}
				}
			}
			
			.woocommerce-product-gallery__image {
				position: relative;
				display: inline-block;
				vertical-align: top;
				margin: 0;
				padding: 0 10px;
				box-sizing: border-box;
				
				&:first-child {
					left: 10px;
					width: calc(100% - 20px);
					padding: 0;
					
					> a {
						overflow: hidden;
						
						&:hover {
							
							img {
								@include edgtfTransform(scale(1.06) translateZ(0));
							}
						}
					}
					
					img {
						-webkit-transition: -webkit-transform .3s ease-in-out;
						-moz-transition: -moz-transform .3s ease-in-out;
						transition: transform .3s ease-in-out;
						@include edgtfTransform(scale(1) translateZ(0));
					}
				}
			}
			
			&.woocommerce-product-gallery--with-images {
				
				.woocommerce-product-gallery__image {
					
					&:not(:first-child) {
						float: left;
						padding-top: 20px;
						
						a {
							
							&:hover {
								
								&:after {
									opacity: 1;
								}
							}
							
							&:after {
								@include edgtfAbsoluteHolderLayout();
								content: '';
								background-color: rgba(#fff, .3);
								opacity: 0;
								z-index: 1;
								@include edgtfTransition(opacity .2s ease-in-out);
							}
						}
					}
				}
			}
			
			$thumb_3_columns_label: ('columns-2', 'columns-3', 'columns-4');
			@for $i from 0 to length($thumb_3_columns_label) {
				&.woocommerce-product-gallery--#{nth($thumb_3_columns_label, $i+1)} {
					$column_width: 100%/($i+2);
					
					.woocommerce-product-gallery__image {
						
						&:not(:first-child) {
							width: $column_width;
						}
					}
				}
			}
		}
	}

	.edgtf-single-product-summary {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 54%;
		padding: 0 0 0 41px;
		float: left;
		box-sizing: border-box;

		.edgtf-single-product-title {
			display: block;
			margin: 0 0 19px;
			line-height: 1em;
		}

		.price {
			position: relative;
			display: block;
			margin: 17px 0 0;
			font-size: 18px;
			line-height: 1;
			font-weight: 700;
			color: $default-heading-color;

			* {
				font-size: inherit;
				line-height: inherit;
			}

			del {
				margin: 0 8px 0 0;
				color: #999;
			}

			ins {
				text-decoration: none;
			}
		}

		.woocommerce-product-rating {
			@include edgtfRelativeHolderLayout();
			line-height: 1;
			margin: 22px 0 3px;
		}

		div[itemprop="description"] {
			@include edgtfRelativeHolderLayout();
			padding: 19px 0;

			p {
				margin: 0;
			}
		}

		.product_meta {
			margin: 17px 0 0;

			> span {
				display: block;
				margin: 0 0 8px;
				color: $default-heading-color;
				font-size: 1.142857142857143em;
				font-weight: 500;
				
				.sku {
					color: $default-text-color;
					font-size: 14px;
					font-weight: 400;
				}

				a {
					color: $default-text-color;
					font-size: 14px;
					font-weight: 400;

					&:hover {
						color: $default-heading-color;
					}
				}
			}
		}

		.edgtf-woo-social-share-holder {
			@include edgtfRelativeHolderLayout();
			margin: 0;

			> * {
				display: table-cell;
				vertical-align: middle;
			}

			> span {
				padding: 0 6px 0 0;
				color: $default-heading-color;
				font-size: 1.142857142857143em;
				font-weight: 500;
			}
		}

		p.stock.out-of-stock,
		p.stock.in-stock {
			color: $default-heading-color;
			margin: 18px 0 0;
		}

		form.cart {
			@include edgtfRelativeHolderLayout();
			margin: 47px 0 0;
		}

		.edgtf-quantity-buttons {
			margin: 0 20px 0 0;
		}
	}

	.woocommerce-tabs {
		@include edgtfRelativeHolderLayout();
		margin: 50px 0 0;
		
		.entry-content > h2 {
			display: none;
		}

		ul.tabs {
			@include edgtfRelativeHolderLayout();
			list-style: none;
			margin: 0;
			padding: 0;
			border-bottom: 1px solid $default-border-color;
			clear: both;

			> li {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				float: left;
				margin: 0;
				padding: 0;

				a {
					position: relative;
					display: inline-block;
					vertical-align: top;
					padding: 0 3px 12px;
					font-weight: 500;
					color: #999;
					margin-right: 50px;

					&:after {
						content: '';
						position: absolute;
						bottom: -1px;
						left: 0;
						display: block;
						height: 1px;
						width: 100%;
						background-color: transparent;
						@include edgtfTransition(all 0.2s ease-in-out);
					}
				}
				
				&:last-child {
					
					a {
						margin-right: 0;
					}
				}

				&.active {

					a {
						color: $default-heading-color;

						&:after {
							height: 1px;
							bottom: -1px;
							background-color: $default-heading-color;
						}
					}
				}
			}
		}

		.entry-content {
			padding: 22px 0;
		}

		table {
			margin: 0 0 20px;

			tr, th {
				border: 0;
			}

			td, th {
				padding: 3px 0;
				vertical-align: middle;
				text-align: left;
			}

			th {
				color: $default-heading-color;
				width: 1%;
				padding: 0 10px 0 0;
			}

			td {
				width: 99%;
			}
		}

		#reviews {
			
			.woocommerce-Reviews-title {
				display: none;
			}
			
			div[itemprop="description"] {
				padding: 0;
			}

			ol.commentlist {
				list-style: none;

				li {
					padding-top: 15px;

					&:first-child {
						padding: 0;
					}
				}

				.comment_container {
					@include edgtfRelativeHolderLayout();

					img {
						float: left;
						width: 60px;
					}

					.comment-text {
						padding: 0 0 0 80px;

						.star-rating {
							margin: 0;
						}

						p {
							display: block;
							margin: 5px 0 0;
						}
					}
				}
			}

			.comment-respond {
				margin-top: 15px;

				.comment-reply-title {
					margin: 0 0 10px;
					font-size: 25px;
					font-weight: 700;
				}

				.stars {
					overflow: hidden;
					padding: 0;
					margin: 0;
				}

				.stars a {
					position: relative;
					display: inline-block;
					color: transparent;
					font-size: 0;
					margin: 0;

					&:before {
						position: relative;
						display: inline-block;
						vertical-align: middle;
						font-family: "ElegantIcons";
						content: "\e031";
						font-size: 12px;
						line-height: 1;
						letter-spacing: 3px;
						color: $default-heading-color;
						overflow: hidden;
						z-index: -1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}

					&.active:after {
						position: absolute;
						right: 0px;
						bottom: 7px;
						display: block;
						font-family: "ElegantIcons";
						font-size: 12px;
						line-height: 1;
						letter-spacing: 3px;
						color: $default-heading-color;
						content: "\e033\e033\e033\e033\e033";
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}
				}

				.comment-form-comment label {
					display: block;
					margin: 0 0 10px;
				}
			}
		}
	}

	.related.products,
	.upsells.products {
		margin: 51px 0 0;

		> h2 {
			display: block;
			margin: 0 0 88px;
			text-align: center;
		}
	}
}

/* ==========================================================================
   WooCommerce Single Product Page styles - end
   ========================================================================== */