/* ==========================================================================
   WooCommerce Cart page styles - begin
   ========================================================================== */

.edgtf-woocommerce-page {
	
	table.cart {
		
		thead {
			
			tr {
				border: 0;
				border-bottom: 1px solid $default-border-color;
				
				th {
					padding: 10px 0;
					color: $default-heading-color;
					text-align: left;
				}
			}
		}
		
		tbody {
			
			tr {
				border: 0;
			}
		}
		
		tr.cart_item {
			border-bottom: 1px solid $default-border-color;
			
			td {
				padding: 25px 0;
				vertical-align: middle;
				text-align: inherit;
				
				&.product-remove {
					padding-right: 8px;
					
					a {
						color: #999;
						font-size: 0;
						
						&:after {
							content: "\f2d7";
							display: inline-block;
							vertical-align: middle;
							speak: none;
							color: inherit;
							font-family: "Ionicons";
							font-size: 20px;
							font-style: normal;
							font-weight: normal;
							font-variant: normal;
							text-transform: none;
							text-rendering: auto;
							line-height: 1;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
						}
						
						&:hover {
							color: $default-heading-color;
						}
					}
				}
				
				&.product-thumbnail {
					width: 105px;
					padding-right: 18px;
					
					a, img {
						display: block;
					}
				}
				
				&.product-name {
					
					a {
						font-size: 18px;
						font-weight: 700;
					}
				}
				
				.variation {
					
					> * {
						display: inline-block;
						vertical-align: middle;
						padding: 0;
						margin: 0;
					}
					
					p {
						margin: 0;
					}
				}
			}
		}
		
		td.actions {
			padding: 35px 0 36px;
			text-align: inherit;
			
			.coupon {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				float: left;
				
				label {
					display: none;
				}
				
				input[type="text"] {
					margin: 0 20px 0 0;
				}
			}
			
			.button {
				height: 44px;
				line-height: 44px;
				padding: 0 26px;
			}
			
			> input {
				float: right;
			}
		}
	}
	
	.cart-collaterals {
		@include edgtfRelativeHolderLayout;
		margin: 0 0 70px;
		
		table {
			margin: 0 0 35px;
			
			tr {
				border: 0;
				border-bottom: 1px solid $default-border-color;
			}
			
			td, th {
				padding: 14px 0;
				text-align: left;
				vertical-align: middle;
			}
			
			th {
				width: 20%;
				border: 0;
				font-weight: 300;
			}
		}
		
		tr.shipping {
			
			#shipping_method {
				list-style: none;
				margin: 0 0 7px;
				
				li {
					margin: 3px 0;
					padding: 0;
					
					> * {
						display: inline-block;
						vertical-align: middle;
						margin: 0;
					}
				}
			}
		}
		
		.woocommerce-shipping-calculator {
			
			.shipping-calculator-button {
				display: block;
				margin: 0 0 10px;
			}
			
			p {
				margin: 0;
			}
		}
	}
	
	.cross-sells {
		margin: 13px 0 0;
		
		> h2 {
			display: block;
			margin: 73px 0 67px;
			text-align: center;
		}
	}
	
	.cart_totals {
		margin: 22px 0 0;
		
		> h2 {
			display: block;
			margin: 50px 0 46px;
			text-align: center;
		}
	}
}

.edgtf-woocommerce-page {
	
	.cart-empty {
		position: relative;
		display: block;
		font-size: 25px;
		line-height: 1.5em;
		font-weight: 400;
		text-align: center;
		color: $default-heading-color;
		margin: 40px 0 33px;
	}
	
	.return-to-shop {
		position: relative;
		display: block;
		text-align: center;
		margin: 0 0 70px;
	}
}
/* ==========================================================================
   WooCommerce Cart page styles - end
   ========================================================================== */