/* ==========================================================================
   Footer responsive style - begin
   ========================================================================== */

@include laptop-landscape-medium {
    
    footer {
        
        .edgtf-footer-top-holder {
            
            .edgtf-footer-top-inner{
                
                &.edgtf-full-width{
                    padding-left: 50px;
	                padding-right: 50px;
                }
            }
        }
        
        .edgtf-footer-bottom-holder {
            
            .edgtf-footer-bottom-inner {
                
                &.edgtf-full-width {
	                padding-left: 50px;
	                padding-right: 50px;
                }
            }
        }
    }
}

@include ipad-landscape {
    
    footer {
    
        .edgtf-footer-top-holder {
    
	        @media only screen and (min-width: $ipad-portrait-plus-pixel) {
		
		        .edgtf-columns-wrapper.edgtf-content-columns-four {
			
			        > .edgtf-columns-inner {
				
				        > .edgtf-column-content {
					        width: 50%;
					
					        &:nth-child(3),
					        &:nth-child(4) {
						        margin-top: 30px;
					        }
					
					        &:nth-child(2n+1) {
						        clear: both;
					        }
				        }
			        }
		        }
	        }
        }
    }
}

@include ipad-portrait {

    footer {

        .edgtf-column-content {
            
            &:not(:first-child) {
                margin-top: 30px;
            }
        }
    }
}
/* ==========================================================================
   Footer responsive style - end
   ========================================================================== */