/* ==========================================================================
   Footer style - begin
   ========================================================================== */

footer {
    @include edgtfRelativeHolderLayout();
    z-index: 100;
    box-sizing: border-box;

    .edgtf-footer-top-holder {
        @include edgtfRelativeHolderLayout();
        background-color: #262626;
        box-sizing: border-box;

        .edgtf-footer-top-alignment-center{
            text-align: center;
        }
	    
        .edgtf-footer-top-alignment-left{
            text-align: left;
        }
	    
        .edgtf-footer-top-alignment-right{
            text-align: right;
        }

        .edgtf-footer-top-inner{
            box-sizing: border-box;
	        
            &.edgtf-grid{
                padding: 68px 0;
            }
	        
            &.edgtf-full-width{
                padding: 68px 80px;
            }
        }

        .edgtf-content-columns-three {
	        
            &.edgtf-25-25-50 {
	            
                .edgtf-column-content1,
                .edgtf-column-content2 {
                    width: 25%;
                }
	            
                .edgtf-column-content3 {
                    width: 50%;
                }
            }
	        
            &.edgtf-50-25-25 {
	            
                .edgtf-column-content1 {
                    width: 50%;
                }
	            
                .edgtf-column-content2,
                .edgtf-column-content3 {
                    width: 25%;
                }
            }
        }
    }

    .edgtf-footer-bottom-holder {
        @include edgtfRelativeHolderLayout();
        background-color: #262626;
        box-sizing: border-box;
        text-align: center;

        .edgtf-footer-bottom-inner {
            box-sizing: border-box;
	        
            &.edgtf-grid {
                padding: 19px 0;
            }
	        
            &.edgtf-full-width {
                padding: 19px 80px;
            }
        }
    }
}
/* ==========================================================================
   Footer style - end
   ========================================================================== */