/* ==========================================================================
# Search covers header - start
========================================================================== */

.edgtf-search-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    background-color: #fff;
    box-shadow: 0 5px 5px 0 rgba($default-heading-color, .05);
    z-index: 115;
    
    .edgtf-form-holder-outer {
        display: table;
        width: 100%;
        height: 100%;
    }
    
    .edgtf-form-holder {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        padding: 0 50px;
    }
    
    .edgtf-form-holder-inner {
        @include edgtfRelativeHolderLayout();
    }
    
    .edgtf-container-inner {
        
        .edgtf-form-holder {
            padding: 0;
        }
        
        .edgtf-search-close {
            right: 0;
        }
    }
    
    input {
        display: inline-block;
        vertical-align: middle;
        width: 90%;
        margin: 0;
        padding: 0;
        float: left;
        font-family: inherit;
        color: $default-heading-color;
        font-size: 18px;
        font-weight: 700;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        outline: none;
        outline-offset: 0;
        border-radius: 0;
        
        @include edgtfPlaceholder {
            color: $default-heading-color;
        }
    }
    
    input[type="submit"] {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0px,0px,0px,0px);
        visibility: hidden;
    }
    
    .edgtf-search-close {
        position: absolute;
        top: 50%;
        right: 0;
        @include edgtfTransform(translateY(-50%));
    }
    
    .edgtf-search-close {
        
        a {
            display: inline-block;
            vertical-align: middle;
            font-size: 26px;
            line-height: 1em;
            
            * {
                display: block;
                line-height: inherit;
            }
        }
    }
}

.edgtf-search-cover.disabled {
    
    input,
    input:focus {
        font-weight: normal;
    }
}

/* ==========================================================================
# Search covers header - end
========================================================================== */