/* ==========================================================================
# Fullscreen search - start
========================================================================== */


/* Fullscreen search general style - start
========================================================================== */

.edgtf-fullscreen-search-holder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 105;
    opacity: 0;
    
    .edgtf-form-holder-inner {
        position: relative;
        width: 40%;
        margin: auto;
        
        .edgtf-line {
            position: absolute;
            left: 0;
            bottom: -11px;
            width: 0;
            border-bottom: 1px solid #666;
            @include edgtfTransition(all .3s .2s);
            
            .edgtf-fullscreen-search-opened & {
                width: 100%;
                @include edgtfTransition(width 0.5s ease .6s);
            }
        }
    }
    
    .edgtf-field-holder {
        display: block;
        position: relative;
    }
    
    .edgtf-search-field {
        position: relative;
        height: 100%;
        width: 100%;
	    padding: 0 10px;
        border: 0;
        background: transparent;
        outline: none;
        font-family: inherit;
        font-size: 25px;
	    line-height: 2em;
	    font-weight: 700;
	    color: #fff;
	    box-sizing: border-box;
	    
	    @include edgtfPlaceholder {
		    color: #fff;
	    }
    }
    
    .edgtf-search-submit {
        position: absolute;
        right: 0;
        bottom: -20px;
        width: auto;
        font-size: 26px;
        line-height: 1em;
        color: #fff;
        background-color: transparent;
        border: none;
        outline: none;
        opacity: 0;
        cursor: pointer;
        @include edgtfTransition(all .3s .2s);
    
        &:hover {
            color: rgba(#fff, .7);
        }
        
        .edgtf-fullscreen-search-opened & {
            opacity: 1;
            bottom: 1px;
            @include edgtfTransition(color 0.2s ease, opacity .2s ease-out 1.1s, bottom .4s ease-out .9s);
        }
    }
    
    .edgtf-search-close-holder {
        float: right;
        margin-right: 45px;
    }
    
    .edgtf-fullscreen-search-close-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        
        a {
            position: absolute;
            top: 40px;
            right: 40px;
            color: #fff;
            font-size: 45px;
            opacity: 0;
            visibility: hidden;
            
            &:hover {
                color: rgba(#fff, .7);
            }
        }
    }
}

.edgtf-fullscreen-search-table {
    display: table;
    width: 100%;
    height: 100%;
}

.edgtf-fullscreen-search-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Fullscreen search general style - end
========================================================================== */

/* Fullscreen search fade style - start
========================================================================== */

.edgtf-search-fade .edgtf-fullscreen-search-holder {
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    z-index: 112;
    box-sizing: border-box;

    .edgtf-fullscreen-search-table {
        background-color: #262626;
    }
}

.edgtf-search-fade-out.edgtf-search-fade .edgtf-fullscreen-search-holder {
    @include edgtfAnimation(search_fade_out .2s ease-out both);
}

.edgtf-search-fade-in.edgtf-search-fade .edgtf-fullscreen-search-holder.edgtf-animate {
    @include edgtfAnimation(search_fade_in .3s ease both);
}

.edgtf-search-fade .edgtf-fullscreen-search-holder.edgtf-animate .edgtf-fullscreen-search-close {
    opacity: 1;
    visibility: visible;
}

@-webkit-keyframes search_fade_out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes search_fade_out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes search_fade_in {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes search_fade_in {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

/* Fullscreen search fade style - end
========================================================================== */

/* ==========================================================================
# Fullscreen search - end
========================================================================== */
