/* ==========================================================================
   Portfolio Single page style - begin
   ========================================================================== */

.edgtf-portfolio-single-holder {
	@include edgtfRelativeHolderLayout();
	margin: 0 0 70px;
	
    .edgtf-ps-image-holder {
	    @include edgtfRelativeHolderLayout();
	    
	    .edgtf-ps-image {
		    @include edgtfRelativeHolderLayout();
		    box-sizing: border-box;
		    
		    a, img {
			    position: relative;
			    display: block;
		    }
	    }
    }
	
	.edgtf-ps-info-holder {
		@include edgtfRelativeHolderLayout();
		
		.edgtf-ps-info-item {
			@include edgtfRelativeHolderLayout();
			margin: 0 0 8px;
			
			> * {
				display: table-cell;
				vertical-align: top;
			}
			
			p {
				margin: 0;
			}
			
			a {
				padding: 0 4px;
			}
			
			a:not(.edgtf-share-link) {
				color: $default-text-color;
				
				&:hover {
					color: $first-main-color;
				}
			}
			
			&.edgtf-ps-social-share {
				margin: 2px 0 0;
			}
		}
		
		.edgtf-ps-info-title {
			padding: 0 4px 0 0;
			color: $default-heading-color;
			font-size: 1.142857142857143em;
			font-weight: 500;
		}
	}
}

/***** Layout Collections Style - begin *****/

@import 'layout-collections/images';
@import 'layout-collections/small-images';
@import 'layout-collections/slider';
@import 'layout-collections/small-slider';
@import 'layout-collections/gallery';
@import 'layout-collections/small-gallery';
@import 'layout-collections/masonry';
@import 'layout-collections/small-masonry';

/***** Layout Collections Style - end *****/

/***** Parts Style - begin *****/

@import 'parts/navigation';

/***** Parts Style - end *****/

/* ==========================================================================
   Portfolio Single page style - end
   ========================================================================== */

/* ==========================================================================
   Portfolio Single page specific style for types - begin
   ========================================================================== */

.edgtf-portfolio-single-holder {
	
	.edgtf-ps-image-holder {
		
		&.edgtf-ps-gallery-images {
			
			/***** Columns Layout - begin *****/
			
			$columns_number: ('two', 'three', 'four');
			
			@for $i from 0 to length($columns_number) {
				&.edgtf-ps-#{nth($columns_number,$i+1)}-columns {
					
					.edgtf-ps-image {
						width: 100% / ($i+2);
					}
					
					@if ($i > 1) { // set different break point for four columns
						@media only screen and (min-width: $laptop-landscape-plus-pixel) {
							
							.edgtf-ps-image {
								
								&:nth-child(#{$i+2}n+1) {
									clear: both;
								}
							}
						}
					} @else {
						@media only screen and (min-width: $ipad-landscape-plus-pixel) {
							
							.edgtf-ps-image {
								
								&:nth-child(#{$i+2}n+1) {
									clear: both;
								}
							}
						}
					}
				}
			}
			
			/***** Columns Layout - end *****/
			
			/***** Space Between Columns Space - begin *****/
			
			$columns_space_label: ('no', 'tiny', 'small', 'normal');
			$columns_space: (0, 5, 10, 15);
			
			@for $i from 0 to length($columns_space_label) {
				&.edgtf-ps-#{nth($columns_space_label,$i+1)}-space {
					$item_space: nth($columns_space, $i+1);
					$item_bottom_margin: $item_space * 2;
					
					@if($item_space == 0) {
						.edgtf-ps-image-inner {
							margin: 0;
						}
					} @else {
						$reduced_margin: 45 - $item_bottom_margin; // 45 is bottom margin of image holder
						margin: 0 0 #{$reduced_margin}px;
						
						.edgtf-ps-image-inner {
							margin: 0 -#{$item_space}px;
						}
					}
					
					.edgtf-ps-image {
						padding: 0 #{$item_space}px;
						margin: 0 0 #{$item_bottom_margin}px;
					}
				}
			}
			
			/***** Space Between Columns Space - end *****/
		}
		
		&.edgtf-ps-masonry-images {
			
			.edgtf-ps-image,
			.edgtf-ps-grid-sizer {
				width: 25%;
			}
			
			.edgtf-ps-grid-gutter {
				width: 0;
			}
			
			/***** Columns Layout - begin *****/
			
			$columns_number: ('two', 'three', 'four');
			
			@for $i from 0 to length($columns_number) {
				&.edgtf-ps-#{nth($columns_number,$i+1)}-columns {
					$column_width: 100%/($i+2);
					
					.edgtf-ps-image,
					.edgtf-ps-grid-sizer {
						width: $column_width;
					}
					
					.edgtf-ps-image.edgtf-ps-masonry-large-item {
						width: $column_width * 2;
					}
				}
			}
			
			/***** Columns Layout - end *****/
			
			/***** Space Between Columns Space - begin *****/
			
			$columns_space_label: ('no', 'tiny', 'small', 'normal');
			$columns_space: (0, 5, 10, 15);
			
			@for $i from 0 to length($columns_space_label) {
				&.edgtf-ps-#{nth($columns_space_label,$i+1)}-space {
					$item_space: nth($columns_space, $i+1);
					$item_bottom_margin: $item_space * 2;
					
					@if($item_space == 0) {
						.edgtf-ps-image-inner {
							margin: 0;
						}
					} @else {
						$reduced_margin: 45 - $item_bottom_margin; // 45 is bottom margin of image holder
						margin: 0 0 #{$reduced_margin}px;
						
						.edgtf-ps-image-inner {
							margin: 0 -#{$item_space}px;
						}
					}
					
					.edgtf-ps-image {
						padding: 0 #{$item_space}px;
						margin: 0 0 #{$item_bottom_margin}px;
					}
				}
			}
			
			/***** Space Between Columns Space - end *****/
		}
	}
}
/* ==========================================================================
   Portfolio Single page specific style for types - end
   ========================================================================== */