.edgtf-top-bar {
    @include edgtfRelativeHolderLayout();
    height: 42px;
    color: #fff;
    font-size: 11px;
    background-color: $default-heading-color;
    z-index: 111;

    > .edgtf-vertical-align-containers {
        padding: 0 50px;
    }

    .edgtf-grid {
        height: 100%;

        .edgtf-vertical-align-containers {
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    .edgtf-position-right-inner {
        height: 100%;
    }
}

.edgtf-light-header .edgtf-top-bar {
    color: $header-light-color !important; //Beacause of inline color styles

    .widget {
        color: $header-light-color !important; //Beacause of inline color styles

        p,
        a,
        span,
        i,
        .widgettitle {
            color: $header-light-color !important; //Beacause of inline color styles
        }

        a:hover {
            color: $header-light-hover-color !important; //Beacause of inline color styles
        }
    }
}

.edgtf-dark-header .edgtf-top-bar {
    color: $header-dark-color !important; //Beacause of inline color styles

    .widget {
        color: $header-dark-color !important; //Beacause of inline color styles

        p,
        a,
        span,
        i,
        .widgettitle {
            color: $header-dark-color !important; //Beacause of inline color styles
        }

        a:hover {
            color: $header-dark-hover-color !important; //Beacause of inline color styles
        }
    }
}