@include ipad-portrait {

	.edgtf-rf {

		.edgtf-rf-col-holder {
			width: 50%;
			margin: 0 0 24px;

			&:nth-child(3),
			&:nth-child(4) {
				margin: 0;
			}
		}
	}
}

@include phone-landscape {
	
	.edgtf-rf {

		.edgtf-rf-col-holder {
			width: 100%;

			&:nth-child(3) {
				margin: 0 0 24px;
			}
		}
	}
}