.edgtf-rf-holder {
	@include edgtfRelativeHolderLayout();

	.edgtf-rf-row {
		margin: 0 -12px;
	}

	.edgtf-rf-col-holder {
		float: left;
		width: 25%;
		padding: 0 12px;
		box-sizing: border-box;

		.edgtf-rf-field-holder {
			@include edgtfRelativeHolderLayout();
			background-color: #fff;

			select,
			input[type=text] {
				display: block;
				width: 100%;
				color: $default-text-color;
				font-size: 13px;
				padding: 19px 57px 19px 24px;
				margin: 0;
				border-radius: 0;
				border: none;
				outline: none;
				background-color: transparent;
				box-sizing: border-box;
			}

			select {
				-webkit-appearance: none;
				-moz-appearance: none;
				text-indent: 1px;
				text-overflow: '';
				cursor: pointer;

				&::-ms-expand {
					display: none;
				}
			}

			.edgtf-rf-icon {
				position: absolute;
				right: 0;
				top: 0;
				font-size: 18px;
				width: 57px;
				line-height: 55px;
				height: 100%;
				text-align: center;

				span {
					vertical-align: top;
				}
			}
		}
	}

	.edgtf-btn {
		display: block;
		width: 100%;
		padding: 16px 10px;
	}

	.edgtf-rf-copyright {
		font-size: 10px;
		margin: 0;
	}
}