/* ==========================================================================
# Side area style - start
========================================================================== */

/* Side area general style - start
========================================================================== */

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-side-menu-button-opener,
.edgtf-light-header .edgtf-top-bar .edgtf-side-menu-button-opener {
	color: $header-light-color !important; //Color can be set inline from widget opener;
	
	&.opened,
	&:hover {
		color: $header-light-hover-color !important; //Color can be set inline from widget opener;
	}
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-side-menu-button-opener,
.edgtf-dark-header .edgtf-top-bar .edgtf-side-menu-button-opener {
	color: $header-dark-color !important; //Color can be set inline from widget opener;
	
	&.opened,
	&:hover {
		color: $header-dark-hover-color !important; //Color can be set inline from widget opener;
	}
}

.edgtf-side-menu-button-opener {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	
	.edgtf-side-menu-title {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0 8px 0 0;
		color: currentColor;
	}
	
	.edgtf-side-menu-icon {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-size: 25px;
		line-height: 1em;
		
		* {
			display: block;
			line-height: inherit;
		}
	}
	
	&.opened,
	&:hover {
		color: $first-main-color; //Color can be set inline from widget opener;
	}
}

.edgtf-side-menu {
	position: fixed;
	top: 0;
	right: -405px;
	width: 405px;
	height: 100%;
	min-height: 100%;
	padding: 50px 50px 30px;
	background-color: #262626;
	text-align: left;
	overflow: hidden;
	visibility: hidden;
	z-index: 9999;
	-webkit-backface-visibility: hidden;
	box-sizing: border-box;
	@include edgtfTransition(all .6s cubic-bezier(.77,0,.175,1));
	
	.edgtf-close-side-menu-holder {
		position: absolute;
		top: 25px;
		right: 72px;
		z-index: 1000;
	}
	
	a.edgtf-close-side-menu {
		display: block;
		color: #fff;
		font-size: 26px;
		z-index: 1000;
		
		&:hover {
			color: rgba(#fff, .7);
		}
		
		span {
			display: block;
			line-height: inherit;
			
			&:before {
				display: block;
				line-height: inherit;
			}
		}
	}
}

.admin-bar .edgtf-side-menu {
	top: 32px;
}

/* Side area general style - end
========================================================================== */

/* Side area slides over content style - start
========================================================================== */

.edgtf-side-menu-slide-from-right {
	
	.edgtf-wrapper {
		
		.edgtf-cover {
			z-index: -1;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			opacity: 0;
		}
	}
}

.edgtf-side-menu-slide-from-right.edgtf-right-side-menu-opened {
	
	.edgtf-wrapper {
		.edgtf-cover {
			z-index: 3000;
		}
	}
	
	.edgtf-side-menu {
		right: 0px;
		visibility: visible;
	}
}

/* Side area slides over content style - end
========================================================================== */

/* ==========================================================================
# Side area style - end
========================================================================== */