/*------------------------------------------------------------------
 * This is main responsive css file for theme. It is broken into following sections:
 * 1. Global responsive styles
 * 2. Header responsive styles
 * 3. Footer responsive styles
 * 4. Title area responsive styles
 * 5. Search functionality responsive styles
 * 6. Portfolio responsive styles
 * 7. Blog responsive styles
 * 8. Shortcodes responsive styles
 * 9. Widgets responsive styles
 * 10. Plugins responsive styles
-------------------------------------------------------------------*/
/* ==========================================================================
   1. Global responsive styles
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-content {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-row-grid-section,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-row-grid-section,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 768px;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-row-grid-section,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 600px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-row-grid-section,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-row-grid-section,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-row-grid-section,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 95%;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner {
    width: 818px;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner {
    width: 96%;
  }
}

/* ==========================================================================
   Grid System responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 800px) {
  .edgtf-columns-wrapper .edgtf-column-content {
    width: 100% !important;
    float: none !important;
  }
  .edgtf-columns-wrapper.edgtf-columns-large-space > .edgtf-columns-inner {
    margin: 0 -15px;
  }
  .edgtf-columns-wrapper.edgtf-columns-large-space > .edgtf-columns-inner > .edgtf-column-content {
    padding: 0 15px;
  }
}

/* ==========================================================================
   Grid System responsive style - end
   ========================================================================== */
/* ==========================================================================
   2. Header responsive styles
   ========================================================================== */
@media only screen and (max-width: 1300px) {
  .edgtf-header-standard .edgtf-menu-area .edgtf-grid,
  .edgtf-header-boxed .edgtf-menu-area .edgtf-grid {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-page-header .edgtf-vertical-align-containers .edgtf-position-center {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }
  .edgtf-page-header .edgtf-sticky-header .edgtf-vertical-align-containers .edgtf-position-center {
    width: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-page-header {
    display: none;
  }
  .edgtf-mobile-header {
    display: block;
  }
  .edgtf-top-bar {
    display: inline-block;
    vertical-align: middle;
    height: auto !important;
    padding: 15px 0;
  }
  .edgtf-top-bar > .edgtf-vertical-align-containers {
    padding: 0 20px;
  }
  .edgtf-top-bar .edgtf-vertical-align-containers .edgtf-position-left,
  .edgtf-top-bar .edgtf-vertical-align-containers .edgtf-position-right {
    position: relative;
    display: block;
    float: none;
    width: 100%;
    height: auto;
    text-align: inherit;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-drop-down .wide .second > .inner > ul {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-drop-down .wide .second > .inner > ul {
    width: 768px;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header,
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 818px;
    left: auto;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 96%;
  }
}

/* ==========================================================================
   3. Footer responsive styles
   ========================================================================== */
/* ==========================================================================
   Footer responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  footer .edgtf-footer-top-holder .edgtf-footer-top-inner.edgtf-full-width {
    padding-left: 50px;
    padding-right: 50px;
  }
  footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner.edgtf-full-width {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  footer .edgtf-footer-top-holder .edgtf-columns-wrapper.edgtf-content-columns-four > .edgtf-columns-inner > .edgtf-column-content {
    width: 50%;
  }
  footer .edgtf-footer-top-holder .edgtf-columns-wrapper.edgtf-content-columns-four > .edgtf-columns-inner > .edgtf-column-content:nth-child(3), footer .edgtf-footer-top-holder .edgtf-columns-wrapper.edgtf-content-columns-four > .edgtf-columns-inner > .edgtf-column-content:nth-child(4) {
    margin-top: 30px;
  }
  footer .edgtf-footer-top-holder .edgtf-columns-wrapper.edgtf-content-columns-four > .edgtf-columns-inner > .edgtf-column-content:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  footer .edgtf-column-content:not(:first-child) {
    margin-top: 30px;
  }
}

/* ==========================================================================
   Footer responsive style - end
   ========================================================================== */
/* ==========================================================================
   4. Title area responsive styles
   ========================================================================== */
/* ==========================================================================
   Title responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-title.edgtf-has-background {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    height: auto !important;
    padding: 0 !important;
  }
  .edgtf-title.edgtf-title-image-not-responsive .edgtf-title-image {
    display: block;
  }
  .edgtf-title .edgtf-title-holder {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100% !important;
    padding: 0 !important;
  }
  .edgtf-title .edgtf-title-holder .edgtf-container {
    display: block;
    height: 100%;
  }
  .edgtf-title .edgtf-title-holder .edgtf-container-inner {
    display: table;
    height: 100%;
  }
  .edgtf-title .edgtf-title-holder .edgtf-title-subtitle-holder {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 0 !important;
  }
  .edgtf-title .edgtf-title-holder span.edgtf-page-title {
    font-size: 50px;
  }
  .edgtf-title .edgtf-title-holder .edgtf-subtitle {
    margin: 20px 0 0;
    font-size: 16px;
    line-height: 1.6em;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-title.edgtf-standard-type .edgtf-breadcrumbs-holder {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    width: 100%;
  }
  .edgtf-title .edgtf-title-holder span.edgtf-page-title {
    font-size: 40px;
  }
  .edgtf-title .edgtf-title-holder .edgtf-subtitle {
    margin: 15px 0 0;
    line-height: 1.5em;
  }
}

/* ==========================================================================
   Title responsive style - end
   ========================================================================== */
/* ==========================================================================
   5. Search functionality responsive styles
   ========================================================================== */
/* ==========================================================================
# Search responsive styles - start
========================================================================== */
/* ==========================================================================
# Search template responsive style - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .search .edgtf-content .edgtf-content-inner > .edgtf-container > .edgtf-container-inner {
    padding: 40px 0 0;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-search-page-holder article .edgtf-post-image {
    display: block;
    float: none;
  }
  .edgtf-search-page-holder article .edgtf-post-title-area {
    padding: 20px 0 0;
    min-height: inherit;
  }
}

/* ==========================================================================
# Search template responsive style - end
========================================================================== */
/* ==========================================================================
# Search responsive styles - end
========================================================================== */
/* Pricing Tables responsive styles
   ========================================================================== */
/* ==========================================================================
   Pricing Tables shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .edgtf-pricing-tables.edgtf-five-columns .edgtf-price-table {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 801px) {
  .edgtf-pricing-tables.edgtf-five-columns .edgtf-price-table:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-pricing-tables.edgtf-pt-simple .edgtf-pt-inner ul li.edgtf-pt-prices {
    padding: 59px 5px 27px;
  }
  .edgtf-pricing-tables.edgtf-pt-simple .edgtf-pt-inner ul li.edgtf-pt-prices .edgtf-pt-price-inner {
    padding: 0 7px 0 0;
  }
  .edgtf-pricing-tables.edgtf-pt-simple .edgtf-pt-inner ul li.edgtf-pt-prices .edgtf-pt-title-inner {
    padding: 0 0 0 7px;
  }
  .edgtf-pricing-tables.edgtf-pt-simple .edgtf-pt-inner ul li .edgtf-pt-price {
    font-size: 60px;
  }
  .edgtf-pricing-tables.edgtf-pt-simple .edgtf-pt-inner ul li .edgtf-pt-value {
    font-size: 20px;
  }
  .edgtf-pricing-tables.edgtf-pt-simple .edgtf-pt-inner ul li .edgtf-pt-title {
    font-size: 20px;
  }
  .edgtf-pricing-tables.edgtf-pt-simple .edgtf-pt-inner ul li .edgtf-pt-mark {
    margin: 9px 0 0;
  }
  .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-price-table .edgtf-pt-inner ul li {
    padding: 12px 20px;
  }
  .edgtf-price-table .edgtf-pt-inner ul li.edgtf-pt-prices {
    padding: 22px 10px 0;
  }
  .edgtf-price-table .edgtf-pt-inner ul li.edgtf-pt-prices .edgtf-pt-price-inner,
  .edgtf-price-table .edgtf-pt-inner ul li.edgtf-pt-prices .edgtf-pt-title-inner {
    display: block !important;
    width: 100% !important;
    text-align: center !important;
  }
  .edgtf-price-table .edgtf-pt-inner ul li .edgtf-pt-title-inner {
    padding: 7px 0 0 !important;
  }
  .edgtf-price-table .edgtf-pt-inner ul li.edgtf-pt-content {
    padding: 12px 10px;
  }
  .edgtf-price-table .edgtf-pt-inner ul li.edgtf-pt-button {
    padding: 18px 15px 50px;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table {
    width: 50%;
  }
  .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table:nth-child(2n+1) {
    clear: both;
  }
  .edgtf-pricing-tables.edgtf-five-columns .edgtf-price-table {
    width: 50%;
  }
  .edgtf-pricing-tables.edgtf-five-columns .edgtf-price-table:nth-child(2n+1) {
    clear: both;
  }
  .edgtf-pricing-tables.edgtf-three-columns .edgtf-price-table {
    width: 100%;
  }
  .edgtf-pricing-tables.edgtf-three-columns.edgtf-pt-no-space .edgtf-price-table .edgtf-pt-inner {
    margin: 0 0 0px;
  }
  .edgtf-pricing-tables.edgtf-three-columns.edgtf-pt-tiny-space .edgtf-price-table .edgtf-pt-inner {
    margin: 0 0 10px;
  }
  .edgtf-pricing-tables.edgtf-three-columns.edgtf-pt-small-space .edgtf-price-table .edgtf-pt-inner {
    margin: 0 0 20px;
  }
  .edgtf-pricing-tables.edgtf-three-columns.edgtf-pt-normal-space .edgtf-price-table .edgtf-pt-inner {
    margin: 0 0 30px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-pricing-tables.edgtf-two-columns .edgtf-price-table {
    width: 100%;
  }
  .edgtf-pricing-tables.edgtf-three-columns .edgtf-price-table {
    width: 100%;
  }
  .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table {
    width: 100%;
  }
  .edgtf-pricing-tables.edgtf-five-columns .edgtf-price-table {
    width: 100%;
  }
  .edgtf-pricing-tables.edgtf-pt-no-space .edgtf-price-table .edgtf-pt-inner {
    margin: 0 0 0px;
  }
  .edgtf-pricing-tables.edgtf-pt-tiny-space .edgtf-price-table .edgtf-pt-inner {
    margin: 0 0 10px;
  }
  .edgtf-pricing-tables.edgtf-pt-small-space .edgtf-price-table .edgtf-pt-inner {
    margin: 0 0 20px;
  }
  .edgtf-pricing-tables.edgtf-pt-normal-space .edgtf-price-table .edgtf-pt-inner {
    margin: 0 0 30px;
  }
  .edgtf-pricing-tables .edgtf-pt-inner ul li.edgtf-pt-prices .edgtf-pt-price-inner,
  .edgtf-pricing-tables .edgtf-pt-inner ul li.edgtf-pt-prices .edgtf-pt-title-inner {
    display: table-cell !important;
    vertical-align: middle !important;
    width: 50% !important;
  }
  .edgtf-pricing-tables .edgtf-pt-inner ul li.edgtf-pt-prices .edgtf-pt-title-inner {
    text-align: left !important;
  }
  .edgtf-pricing-tables .edgtf-pt-inner ul li.edgtf-pt-prices .edgtf-pt-price-inner {
    text-align: right !important;
  }
}

/* ==========================================================================
   Pricing Tables shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   6. Portfolio responsive styles
   ========================================================================== */
/* Portfolio List responsive styles
   ========================================================================== */
/* ==========================================================================
   Portfolio shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .edgtf-portfolio-list-holder.edgtf-pl-large-space .edgtf-pl-inner {
    margin: 0 -30px;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-large-space article {
    padding: 0 30px;
    margin: 0 0 60px;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-five-columns article,
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-five-columns .edgtf-pl-grid-sizer {
    width: 25%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-five-columns article.edgtf-pl-masonry-large-width, .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-five-columns article.edgtf-pl-masonry-large-width-height {
    width: 50%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-six-columns article,
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-six-columns .edgtf-pl-grid-sizer {
    width: 25%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-six-columns article.edgtf-pl-masonry-large-width, .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-six-columns article.edgtf-pl-masonry-large-width-height {
    width: 50%;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-portfolio-list-holder.edgtf-pl-large-space .edgtf-pl-inner {
    margin: 0 -20px;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-large-space article {
    padding: 0 20px;
    margin: 0 0 40px;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-portfolio-list-holder.edgtf-pl-gallery.edgtf-pl-four-columns article {
    width: 33%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .edgtf-portfolio-list-holder.edgtf-pl-gallery.edgtf-pl-four-columns article:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-portfolio-list-holder.edgtf-pl-gallery.edgtf-pl-five-columns article {
    width: 33%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .edgtf-portfolio-list-holder.edgtf-pl-gallery.edgtf-pl-five-columns article:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-portfolio-list-holder.edgtf-pl-gallery.edgtf-pl-six-columns article {
    width: 33%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .edgtf-portfolio-list-holder.edgtf-pl-gallery.edgtf-pl-six-columns article:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-four-columns article,
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-four-columns .edgtf-pl-grid-sizer {
    width: 33%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-four-columns article.edgtf-pl-masonry-large-width, .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-four-columns article.edgtf-pl-masonry-large-width-height {
    width: 66.6666666667%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-five-columns article,
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-five-columns .edgtf-pl-grid-sizer {
    width: 33%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-five-columns article.edgtf-pl-masonry-large-width, .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-five-columns article.edgtf-pl-masonry-large-width-height {
    width: 66.6666666667%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-six-columns article,
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-six-columns .edgtf-pl-grid-sizer {
    width: 33%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-six-columns article.edgtf-pl-masonry-large-width, .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-six-columns article.edgtf-pl-masonry-large-width-height {
    width: 66.6666666667%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-portfolio-list-holder.edgtf-pl-gallery.edgtf-pl-three-columns article {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .edgtf-portfolio-list-holder.edgtf-pl-gallery.edgtf-pl-three-columns article:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-portfolio-list-holder.edgtf-pl-gallery.edgtf-pl-four-columns article {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .edgtf-portfolio-list-holder.edgtf-pl-gallery.edgtf-pl-four-columns article:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-portfolio-list-holder.edgtf-pl-gallery.edgtf-pl-five-columns article {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .edgtf-portfolio-list-holder.edgtf-pl-gallery.edgtf-pl-five-columns article:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-portfolio-list-holder.edgtf-pl-gallery.edgtf-pl-six-columns article {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .edgtf-portfolio-list-holder.edgtf-pl-gallery.edgtf-pl-six-columns article:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-three-columns article,
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-three-columns .edgtf-pl-grid-sizer {
    width: 50%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-three-columns article.edgtf-pl-masonry-large-width, .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-three-columns article.edgtf-pl-masonry-large-width-height {
    width: 100%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-four-columns article,
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-four-columns .edgtf-pl-grid-sizer {
    width: 50%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-four-columns article.edgtf-pl-masonry-large-width, .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-four-columns article.edgtf-pl-masonry-large-width-height {
    width: 100%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-five-columns article,
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-five-columns .edgtf-pl-grid-sizer {
    width: 50%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-five-columns article.edgtf-pl-masonry-large-width, .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-five-columns article.edgtf-pl-masonry-large-width-height {
    width: 100%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-six-columns article,
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-six-columns .edgtf-pl-grid-sizer {
    width: 50%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-six-columns article.edgtf-pl-masonry-large-width, .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-six-columns article.edgtf-pl-masonry-large-width-height {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-portfolio-list-holder.edgtf-pl-gallery article {
    width: 100% !important;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-two-columns article,
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-two-columns .edgtf-pl-grid-sizer {
    width: 100%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-three-columns article,
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-three-columns .edgtf-pl-grid-sizer {
    width: 100%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-four-columns article,
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-four-columns .edgtf-pl-grid-sizer {
    width: 100%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-five-columns article,
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-five-columns .edgtf-pl-grid-sizer {
    width: 100%;
  }
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-six-columns article,
  .edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-six-columns .edgtf-pl-grid-sizer {
    width: 100%;
  }
}

/* ==========================================================================
   Portfolio shortcode responsive style - end
   ========================================================================== */
/* Portfolio Single responsive styles
   ========================================================================== */
/* ==========================================================================
   Portfolio Single page responsive style - begin
   ========================================================================== */
.edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-gallery-images {
  /***** Columns Layout - begin *****/
  /***** Columns Layout - end *****/
}

@media only screen and (max-width: 1200px) {
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-gallery-images.edgtf-ps-four-columns .edgtf-ps-image {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-gallery-images.edgtf-ps-four-columns .edgtf-ps-image:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-gallery-images.edgtf-ps-three-columns .edgtf-ps-image {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-gallery-images.edgtf-ps-three-columns .edgtf-ps-image:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-gallery-images.edgtf-ps-four-columns .edgtf-ps-image {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-gallery-images.edgtf-ps-four-columns .edgtf-ps-image:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-gallery-images .edgtf-ps-image {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-four-columns .edgtf-ps-image,
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-four-columns .edgtf-ps-grid-sizer {
    width: 33.3333333333%;
  }
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-four-columns .edgtf-ps-image.edgtf-ps-masonry-large-item {
    width: 66.6666666667%;
  }
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-five-columns .edgtf-ps-image,
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-five-columns .edgtf-ps-grid-sizer {
    width: 33.3333333333%;
  }
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-five-columns .edgtf-ps-image.edgtf-ps-masonry-large-item {
    width: 66.6666666667%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-three-columns .edgtf-ps-image,
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-three-columns .edgtf-ps-grid-sizer {
    width: 50%;
  }
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-three-columns .edgtf-ps-image.edgtf-ps-masonry-large-item {
    width: 100%;
  }
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-four-columns .edgtf-ps-image,
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-four-columns .edgtf-ps-grid-sizer {
    width: 50%;
  }
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-four-columns .edgtf-ps-image.edgtf-ps-masonry-large-item {
    width: 100%;
  }
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-five-columns .edgtf-ps-image,
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-five-columns .edgtf-ps-grid-sizer {
    width: 50%;
  }
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-five-columns .edgtf-ps-image.edgtf-ps-masonry-large-item {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-two-columns .edgtf-ps-image,
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-two-columns .edgtf-ps-grid-sizer {
    width: 100%;
  }
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-three-columns .edgtf-ps-image,
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-three-columns .edgtf-ps-grid-sizer {
    width: 100%;
  }
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-four-columns .edgtf-ps-image,
  .edgtf-portfolio-single-holder .edgtf-ps-image-holder.edgtf-ps-masonry-images.edgtf-ps-four-columns .edgtf-ps-grid-sizer {
    width: 100%;
  }
}

/* ==========================================================================
   Portfolio Single page responsive style - end
   ========================================================================== */
/* ==========================================================================
   7. Blog responsive styles
   ========================================================================== */
/* Blog List styles
   ========================================================================== */
/* ==========================================================================
   Blog List responsive style - begin
   ========================================================================== */
/* ==========================================================================
   Blog Masonry general style - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns .edgtf-blog-masonry-grid-sizer {
    width: 25%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width-height {
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns .edgtf-blog-masonry-grid-sizer {
    width: 33.3333333333%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-post-size-large-width-height {
    width: 66.6666666667%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns .edgtf-blog-masonry-grid-sizer {
    width: 33.3333333333%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width-height {
    width: 66.6666666667%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns .edgtf-blog-masonry-grid-sizer {
    width: 50%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article.edgtf-post-size-large-width-height {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns .edgtf-blog-masonry-grid-sizer {
    width: 50%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-post-size-large-width-height {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns .edgtf-blog-masonry-grid-sizer {
    width: 50%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width-height {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-two-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-two-columns .edgtf-blog-masonry-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-two-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-two-columns article.edgtf-post-size-large-width-height {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns .edgtf-blog-masonry-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article.edgtf-post-size-large-width-height {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns .edgtf-blog-masonry-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-post-size-large-width-height {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns .edgtf-blog-masonry-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width-height {
    width: 100%;
  }
}

/* ==========================================================================
   Blog Masonry general style - end
   ========================================================================== */
/* ==========================================================================
   Blog List responsive style - end
   ========================================================================== */
/* Blog Single styles
   ========================================================================== */
@media only screen and (max-width: 800px) {
  .edgtf-blog-holder.edgtf-blog-single article .edgtf-post-info-bottom .edgtf-post-info-bottom-left,
  .edgtf-blog-holder.edgtf-blog-single article .edgtf-post-info-bottom .edgtf-post-info-bottom-right {
    width: 100%;
    float: none;
  }
  .edgtf-blog-holder.edgtf-blog-single article .edgtf-post-info-bottom .edgtf-post-info-bottom-right {
    text-align: inherit;
    margin: 10px 0 0;
  }
}

/* Blog Parts styles
   ========================================================================== */
@media only screen and (max-width: 800px) {
  .edgtf-related-posts-holder .edgtf-related-post {
    width: 50% !important;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-blog-single-navigation .edgtf-blog-single-prev .edgtf-blog-single-nav-image,
  .edgtf-blog-single-navigation .edgtf-blog-single-next .edgtf-blog-single-nav-image {
    display: none;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-author-description .edgtf-author-description-inner {
    min-height: inherit;
  }
  .edgtf-author-description .edgtf-author-description-image {
    float: none;
  }
  .edgtf-author-description .edgtf-author-description-text-holder {
    padding: 20px 0 0;
  }
  .edgtf-related-posts-holder .edgtf-related-post {
    width: 100% !important;
  }
}

/* Blog Shortcodes styles
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-grid-sizer {
    width: 25%;
  }
  .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-bli-content {
    padding: 30px 11%;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-bli-content {
    padding: 20px 9%;
  }
  .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-bli-info-top {
    margin: 0 0 7px;
  }
  .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-bli-info-middle {
    margin: 7px 0 0;
  }
  .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-blog-list-button {
    margin: 22px 0 0;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-four-columns .edgtf-bl-item, .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-four-columns .edgtf-bl-item {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 801px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-four-columns .edgtf-bl-item:nth-child(3n+1), .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-four-columns .edgtf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-five-columns .edgtf-bl-item, .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-five-columns .edgtf-bl-item {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 801px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-five-columns .edgtf-bl-item:nth-child(3n+1), .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-five-columns .edgtf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-grid-sizer {
    width: 33.3333333333%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-grid-sizer {
    width: 33.3333333333%;
  }
  .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-bli-content {
    padding: 16px 4%;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-four-columns .edgtf-bl-item, .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-four-columns .edgtf-bl-item {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 681px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-four-columns .edgtf-bl-item:nth-child(2n+1), .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-four-columns .edgtf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-five-columns .edgtf-bl-item, .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-five-columns .edgtf-bl-item {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 681px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-five-columns .edgtf-bl-item:nth-child(2n+1), .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-five-columns .edgtf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-three-columns .edgtf-bl-item, .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-three-columns .edgtf-bl-item {
    width: 100%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-three-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-three-columns .edgtf-bl-grid-sizer {
    width: 50%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-grid-sizer {
    width: 50%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-grid-sizer {
    width: 50%;
  }
  .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-bli-content {
    padding: 15px 5%;
  }
  .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-blog-list-button {
    margin: 17px 0 0;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-blog-list-holder.edgtf-bl-standard .edgtf-bl-item, .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-bl-item {
    width: 100% !important;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-two-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-two-columns .edgtf-bl-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-three-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-three-columns .edgtf-bl-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-grid-sizer {
    width: 100%;
  }
}

/* ==========================================================================
   Blog List shortcode responsive style - end
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-blog-slider-holder .active .edgtf-blog-slider-item .edgtf-item-text-wrapper {
    opacity: 1;
  }
}

/* ==========================================================================
   8. Shortcodes responsive styles
   ========================================================================== */
/* Button responsive styles
   ========================================================================== */
/* ==========================================================================
   Button shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .edgtf-btn.edgtf-btn-large, .edgtf-btn.edgtf-btn-huge {
    padding: 13px 33px;
  }
}

/* ==========================================================================
   Button shortcode responsive style - end
   ========================================================================== */
/* Call To Action responsive styles
   ========================================================================== */
/* ==========================================================================
   Call To Action shortcode responsive style - begin
   ========================================================================== */
@media only screen and (min-width: 1201px) and (max-width: 1300px) {
  .edgtf-call-to-action-holder .edgtf-grid {
    width: 1100px;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-call-to-action-holder.edgtf-three-quarters-columns .edgtf-cta-text-holder, .edgtf-call-to-action-holder.edgtf-four-fifths-columns .edgtf-cta-text-holder {
    width: 66.66666666666667%;
  }
  .edgtf-call-to-action-holder.edgtf-three-quarters-columns .edgtf-cta-button-holder, .edgtf-call-to-action-holder.edgtf-four-fifths-columns .edgtf-cta-button-holder {
    width: 33.33333333333333%;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-call-to-action-holder.edgtf-normal-layout .edgtf-cta-inner,
  .edgtf-call-to-action-holder.edgtf-normal-layout .edgtf-cta-text-holder,
  .edgtf-call-to-action-holder.edgtf-normal-layout .edgtf-cta-button-holder {
    display: block;
  }
  .edgtf-call-to-action-holder.edgtf-normal-layout .edgtf-cta-button-holder {
    margin: 28px 0 0;
    text-align: initial;
  }
  .edgtf-call-to-action-holder.edgtf-two-halves-columns .edgtf-cta-text-holder,
  .edgtf-call-to-action-holder.edgtf-two-halves-columns .edgtf-cta-button-holder, .edgtf-call-to-action-holder.edgtf-two-thirds-columns .edgtf-cta-text-holder,
  .edgtf-call-to-action-holder.edgtf-two-thirds-columns .edgtf-cta-button-holder, .edgtf-call-to-action-holder.edgtf-three-quarters-columns .edgtf-cta-text-holder,
  .edgtf-call-to-action-holder.edgtf-three-quarters-columns .edgtf-cta-button-holder, .edgtf-call-to-action-holder.edgtf-four-fifths-columns .edgtf-cta-text-holder,
  .edgtf-call-to-action-holder.edgtf-four-fifths-columns .edgtf-cta-button-holder {
    width: 100%;
  }
}

/* ==========================================================================
   Call To Action shortcode responsive style - end
   ========================================================================== */
/* Countdown responsive styles
   ========================================================================== */
/* ==========================================================================
   Countdown shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .edgtf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 60px;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-countdown .countdown-row.countdown-show4 .countdown-section, .edgtf-countdown .countdown-row.countdown-show5 .countdown-section, .edgtf-countdown .countdown-row.countdown-show6 .countdown-section, .edgtf-countdown .countdown-row.countdown-show7 .countdown-section {
    width: 33.33333333333333%;
  }
  .edgtf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 50px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 40px;
  }
}

/* ==========================================================================
   Countdown shortcode responsive style - end
   ========================================================================== */
/* Elements holders responsive styles
   ========================================================================== */
/* ==========================================================================
   Elements Holder shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-two-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-three-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-four-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-five-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-six-columns .edgtf-eh-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-two-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-three-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-four-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-five-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-six-columns .edgtf-eh-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-two-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-three-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-four-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-five-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-six-columns .edgtf-eh-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-two-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-three-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-four-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-five-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-six-columns .edgtf-eh-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-two-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-three-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-four-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-five-columns .edgtf-eh-item, .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-six-columns .edgtf-eh-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-elements-holder .edgtf-eh-item-content {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-one-column-alignment-left .edgtf-eh-item .edgtf-eh-item-content {
    text-align: left;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-one-column-alignment-right .edgtf-eh-item .edgtf-eh-item-content {
    text-align: right;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-one-column-alignment-center .edgtf-eh-item .edgtf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-one-column-alignment-left .edgtf-eh-item .edgtf-eh-item-content {
    text-align: left;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-one-column-alignment-right .edgtf-eh-item .edgtf-eh-item-content {
    text-align: right;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-one-column-alignment-center .edgtf-eh-item .edgtf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-one-column-alignment-left .edgtf-eh-item .edgtf-eh-item-content {
    text-align: left;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-one-column-alignment-right .edgtf-eh-item .edgtf-eh-item-content {
    text-align: right;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-one-column-alignment-center .edgtf-eh-item .edgtf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-one-column-alignment-left .edgtf-eh-item .edgtf-eh-item-content {
    text-align: left;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-one-column-alignment-right .edgtf-eh-item .edgtf-eh-item-content {
    text-align: right;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-one-column-alignment-center .edgtf-eh-item .edgtf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-one-column-alignment-left .edgtf-eh-item .edgtf-eh-item-content {
    text-align: left;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-one-column-alignment-right .edgtf-eh-item .edgtf-eh-item-content {
    text-align: right;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-one-column-alignment-center .edgtf-eh-item .edgtf-eh-item-content {
    text-align: center;
  }
}

/* ==========================================================================
   Elements Holder shortcode responsive style - end
   ========================================================================== */
/* Expanded Image Gallery responsive styles
   ========================================================================== */
/* ==========================================================================
   Expanded Image Gallery shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-large-space {
    margin: 0 -15px;
  }
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-large-space .edgtf-eig-image {
    padding: 0 15px;
    margin: 0 0 30px;
  }
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-5 .edgtf-eig-image {
    width: 25%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-5 .edgtf-eig-image:nth-child(5n+1) {
    clear: none;
  }
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-5 .edgtf-eig-image:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-4 .edgtf-eig-image {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-4 .edgtf-eig-image:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-5 .edgtf-eig-image {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-5 .edgtf-eig-image:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-2 .edgtf-eig-image:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-3 .edgtf-eig-image:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-2 .edgtf-eig-image {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 681px) {
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-2 .edgtf-eig-image:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-3 .edgtf-eig-image {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 681px) {
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-3 .edgtf-eig-image:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-4 .edgtf-eig-image {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 681px) {
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-4 .edgtf-eig-image:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-5 .edgtf-eig-image {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 681px) {
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-5 .edgtf-eig-image:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-expanded-image-gallery .edgtf-eig-filter {
    margin: 0 0 48px;
  }
  .edgtf-expanded-image-gallery .edgtf-eig-filter a {
    padding: 16px 18px 16px 16px;
    margin: 0 3px;
  }
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-2 .edgtf-eig-image {
    width: 100%;
  }
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-3 .edgtf-eig-image {
    width: 100%;
  }
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-4 .edgtf-eig-image {
    width: 100%;
  }
  .edgtf-expanded-image-gallery .edgtf-eig-grid.edgtf-eig-columns-5 .edgtf-eig-image {
    width: 100%;
  }
}

/* ==========================================================================
   Expanded Image Gallery shortcode responsive style - end
   ========================================================================== */
/* Google Map responsive styles
   ========================================================================== */
/* ==========================================================================
   Google Map shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .edgtf-google-map-holder .edgtf-google-map-info {
    width: auto !important;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-google-map-overlay {
    display: block;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-google-map-holder .edgtf-google-map-info {
    display: none;
  }
}

/* ==========================================================================
   Google Map shortcode responsive style - end
   ========================================================================== */
/* Image Gallery responsive styles
   ========================================================================== */
/* ==========================================================================
   Image Gallery shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-6 .edgtf-ig-image {
    width: 20%;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1201px) {
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-6 .edgtf-ig-image:nth-child(6n+1) {
    clear: none;
  }
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-6 .edgtf-ig-image:nth-child(5n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-5 .edgtf-ig-image {
    width: 25%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-5 .edgtf-ig-image:nth-child(5n+1) {
    clear: none;
  }
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-5 .edgtf-ig-image:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-6 .edgtf-ig-image {
    width: 25%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-6 .edgtf-ig-image:nth-child(6n+1) {
    clear: none;
  }
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-6 .edgtf-ig-image:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-4 .edgtf-ig-image {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-4 .edgtf-ig-image:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-5 .edgtf-ig-image {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-5 .edgtf-ig-image:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-6 .edgtf-ig-image {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-6 .edgtf-ig-image:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-2 .edgtf-ig-image:nth-child(2n+1) {
    clear: both;
  }
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-3 .edgtf-ig-image:nth-child(3n+1) {
    clear: both;
  }
  .edgtf-image-gallery .owl-nav .owl-prev {
    left: 20px;
  }
  .edgtf-image-gallery .owl-nav .owl-next {
    right: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-4 .edgtf-ig-image {
    width: 50%;
  }
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-4 .edgtf-ig-image:nth-child(2n+1) {
    clear: both;
  }
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-5 .edgtf-ig-image {
    width: 50%;
  }
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-5 .edgtf-ig-image:nth-child(2n+1) {
    clear: both;
  }
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-6 .edgtf-ig-image {
    width: 50%;
  }
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-6 .edgtf-ig-image:nth-child(2n+1) {
    clear: both;
  }
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-3 .edgtf-ig-image {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-2 .edgtf-ig-image {
    width: 100%;
  }
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-3 .edgtf-ig-image {
    width: 100%;
  }
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-4 .edgtf-ig-image {
    width: 100%;
  }
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-5 .edgtf-ig-image {
    width: 100%;
  }
  .edgtf-image-gallery .edgtf-ig-grid.edgtf-ig-columns-6 .edgtf-ig-image {
    width: 100%;
  }
}

/* ==========================================================================
   Image Gallery shortcode responsive style - end
   ========================================================================== */
/* Image Slider responsive styles
   ========================================================================== */
/* ==========================================================================
   Image Slider shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .edgtf-image-slider-holder .edgtf-is-slider-inner .edgtf-is-content {
    padding: 15px 6%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-image-slider-holder .edgtf-is-slider-inner .edgtf-is-content {
    padding: 15px 30px;
  }
  .edgtf-image-slider-holder .owl-nav .owl-prev {
    left: calc(50% + 10px);
  }
  .edgtf-image-slider-holder .owl-nav .owl-next {
    right: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-image-slider-holder .edgtf-is-slider-inner .edgtf-is-item-inner {
    display: inline-block;
    table-layout: auto;
    height: auto;
  }
  .edgtf-image-slider-holder .edgtf-is-slider-inner .edgtf-is-image,
  .edgtf-image-slider-holder .edgtf-is-slider-inner .edgtf-is-content {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .edgtf-image-slider-holder .edgtf-is-slider-inner .edgtf-is-content {
    padding: 25px 30px 45px;
  }
  .edgtf-image-slider-holder .owl-nav .owl-prev {
    left: 25px;
  }
  .edgtf-image-slider-holder .owl-nav .owl-next {
    right: 25px;
  }
}

/* ==========================================================================
   Image Slider shortcode responsive style - end
   ========================================================================== */
/* Info Cards responsive styles
   ========================================================================== */
/* ==========================================================================
   Info Cards shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 800px) {
  .edgtf-info-cards-holder .edgtf-info-cards-wrapper {
    padding: 0 !important;
  }
  .edgtf-info-cards-holder .edgtf-ic-item {
    width: 100%;
    float: none;
    padding: 0 !important;
  }
  .edgtf-info-cards-holder .edgtf-ic-item:nth-child(even) {
    position: relative;
    top: auto;
    right: auto;
    -webkit-transform: translateY(0) !important;
    -moz-transform: translateY(0) !important;
    transform: translateY(0) !important;
  }
  .edgtf-info-cards-holder .edgtf-ic-item-inner {
    padding: 45px 35px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-info-cards-holder .edgtf-ic-item-inner {
    padding: 35px 25px;
  }
}

/* ==========================================================================
   Info Cards shortcode responsive style - end
   ========================================================================== */
/* Item Showcase responsive styles
   ========================================================================== */
/* ==========================================================================
   Item Showcase shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .edgtf-item-showcase-holder .edgtf-is-image {
    position: absolute;
    left: 0;
    width: 44%;
    height: 100%;
    margin-top: 0 !important;
  }
  .edgtf-item-showcase-holder .edgtf-is-image.edgtf-is-has-both-image .edgtf-is-first-image {
    position: relative;
    top: 50%;
    left: 0;
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  .edgtf-item-showcase-holder .edgtf-is-image.edgtf-is-has-both-image .edgtf-is-stack-image {
    top: calc(50% + 90px);
    left: 50px;
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  .edgtf-item-showcase-holder .edgtf-is-image.edgtf-is-has-both-image.edgtf-appeared .edgtf-is-first-image,
  .edgtf-item-showcase-holder .edgtf-is-image.edgtf-is-has-both-image.edgtf-appeared .edgtf-is-stack-image {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .edgtf-item-showcase-holder .edgtf-is-image.edgtf-appeared.edgtf-is-has-both-image .edgtf-is-stack-image {
    top: calc(50% + 50px);
  }
  .edgtf-item-showcase-holder .edgtf-is-image img {
    position: relative;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .edgtf-item-showcase-holder .edgtf-is-item-holder.edgtf-is-left-holder, .edgtf-item-showcase-holder .edgtf-is-item-holder.edgtf-is-right-holder {
    float: right;
    width: 56%;
    padding: 0 0 0 44%;
  }
  .edgtf-item-showcase-holder .edgtf-is-item-holder.edgtf-is-right-holder {
    margin: 36px 0 0;
  }
  .edgtf-item-showcase-holder .edgtf-is-item {
    margin: 30px 0 0;
  }
  .edgtf-item-showcase-holder .edgtf-is-item.edgtf-is-left {
    text-align: left;
  }
  .edgtf-item-showcase-holder .edgtf-is-item.edgtf-is-left .edgtf-is-content {
    padding: 0 0 0 30px;
  }
  .edgtf-item-showcase-holder .edgtf-is-item.edgtf-is-left img {
    margin-left: 0;
  }
  .edgtf-item-showcase-holder .edgtf-is-item.edgtf-is-right .edgtf-is-content {
    padding: 0 0 0 30px;
  }
  .edgtf-item-showcase-holder .edgtf-is-item:not(.edgtf-appeared) {
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  .edgtf-item-showcase-holder .edgtf-is-item .edgtf-is-text {
    margin: 13px 0 0;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-item-showcase-holder .edgtf-is-image.edgtf-is-has-both-image .edgtf-is-stack-image {
    display: none;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-item-showcase-holder .edgtf-is-image {
    display: none;
  }
  .edgtf-item-showcase-holder .edgtf-is-item-holder.edgtf-is-left-holder, .edgtf-item-showcase-holder .edgtf-is-item-holder.edgtf-is-right-holder {
    float: none;
    width: 100%;
    padding: 0;
  }
  .edgtf-item-showcase-holder .edgtf-is-item {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(0) !important;
    -moz-transform: translateX(0) translateY(0) !important;
    transform: translateX(0) translateY(0) !important;
  }
  .edgtf-item-showcase-holder .edgtf-is-item.edgtf-is-left .edgtf-is-content, .edgtf-item-showcase-holder .edgtf-is-item.edgtf-is-right .edgtf-is-content {
    padding: 0;
  }
}

/* ==========================================================================
   Item Showcase shortcode responsive style - end
   ========================================================================== */
/* Pricing Tables responsive styles
   ========================================================================== */
/* ==========================================================================
   Pricing Tables shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .edgtf-pricing-tables.edgtf-five-columns .edgtf-price-table {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 801px) {
  .edgtf-pricing-tables.edgtf-five-columns .edgtf-price-table:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-pricing-tables.edgtf-pt-simple .edgtf-pt-inner ul li.edgtf-pt-prices {
    padding: 59px 5px 27px;
  }
  .edgtf-pricing-tables.edgtf-pt-simple .edgtf-pt-inner ul li.edgtf-pt-prices .edgtf-pt-price-inner {
    padding: 0 7px 0 0;
  }
  .edgtf-pricing-tables.edgtf-pt-simple .edgtf-pt-inner ul li.edgtf-pt-prices .edgtf-pt-title-inner {
    padding: 0 0 0 7px;
  }
  .edgtf-pricing-tables.edgtf-pt-simple .edgtf-pt-inner ul li .edgtf-pt-price {
    font-size: 60px;
  }
  .edgtf-pricing-tables.edgtf-pt-simple .edgtf-pt-inner ul li .edgtf-pt-value {
    font-size: 20px;
  }
  .edgtf-pricing-tables.edgtf-pt-simple .edgtf-pt-inner ul li .edgtf-pt-title {
    font-size: 20px;
  }
  .edgtf-pricing-tables.edgtf-pt-simple .edgtf-pt-inner ul li .edgtf-pt-mark {
    margin: 9px 0 0;
  }
  .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-price-table .edgtf-pt-inner ul li {
    padding: 12px 20px;
  }
  .edgtf-price-table .edgtf-pt-inner ul li.edgtf-pt-prices {
    padding: 22px 10px 0;
  }
  .edgtf-price-table .edgtf-pt-inner ul li.edgtf-pt-prices .edgtf-pt-price-inner,
  .edgtf-price-table .edgtf-pt-inner ul li.edgtf-pt-prices .edgtf-pt-title-inner {
    display: block !important;
    width: 100% !important;
    text-align: center !important;
  }
  .edgtf-price-table .edgtf-pt-inner ul li .edgtf-pt-title-inner {
    padding: 7px 0 0 !important;
  }
  .edgtf-price-table .edgtf-pt-inner ul li.edgtf-pt-content {
    padding: 12px 10px;
  }
  .edgtf-price-table .edgtf-pt-inner ul li.edgtf-pt-button {
    padding: 18px 15px 50px;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table {
    width: 50%;
  }
  .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table:nth-child(2n+1) {
    clear: both;
  }
  .edgtf-pricing-tables.edgtf-five-columns .edgtf-price-table {
    width: 50%;
  }
  .edgtf-pricing-tables.edgtf-five-columns .edgtf-price-table:nth-child(2n+1) {
    clear: both;
  }
  .edgtf-pricing-tables.edgtf-three-columns .edgtf-price-table {
    width: 100%;
  }
  .edgtf-pricing-tables.edgtf-three-columns.edgtf-pt-no-space .edgtf-price-table .edgtf-pt-inner {
    margin: 0 0 0px;
  }
  .edgtf-pricing-tables.edgtf-three-columns.edgtf-pt-tiny-space .edgtf-price-table .edgtf-pt-inner {
    margin: 0 0 10px;
  }
  .edgtf-pricing-tables.edgtf-three-columns.edgtf-pt-small-space .edgtf-price-table .edgtf-pt-inner {
    margin: 0 0 20px;
  }
  .edgtf-pricing-tables.edgtf-three-columns.edgtf-pt-normal-space .edgtf-price-table .edgtf-pt-inner {
    margin: 0 0 30px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-pricing-tables.edgtf-two-columns .edgtf-price-table {
    width: 100%;
  }
  .edgtf-pricing-tables.edgtf-three-columns .edgtf-price-table {
    width: 100%;
  }
  .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table {
    width: 100%;
  }
  .edgtf-pricing-tables.edgtf-five-columns .edgtf-price-table {
    width: 100%;
  }
  .edgtf-pricing-tables.edgtf-pt-no-space .edgtf-price-table .edgtf-pt-inner {
    margin: 0 0 0px;
  }
  .edgtf-pricing-tables.edgtf-pt-tiny-space .edgtf-price-table .edgtf-pt-inner {
    margin: 0 0 10px;
  }
  .edgtf-pricing-tables.edgtf-pt-small-space .edgtf-price-table .edgtf-pt-inner {
    margin: 0 0 20px;
  }
  .edgtf-pricing-tables.edgtf-pt-normal-space .edgtf-price-table .edgtf-pt-inner {
    margin: 0 0 30px;
  }
  .edgtf-pricing-tables .edgtf-pt-inner ul li.edgtf-pt-prices .edgtf-pt-price-inner,
  .edgtf-pricing-tables .edgtf-pt-inner ul li.edgtf-pt-prices .edgtf-pt-title-inner {
    display: table-cell !important;
    vertical-align: middle !important;
    width: 50% !important;
  }
  .edgtf-pricing-tables .edgtf-pt-inner ul li.edgtf-pt-prices .edgtf-pt-title-inner {
    text-align: left !important;
  }
  .edgtf-pricing-tables .edgtf-pt-inner ul li.edgtf-pt-prices .edgtf-pt-price-inner {
    text-align: right !important;
  }
}

/* ==========================================================================
   Pricing Tables shortcode responsive style - end
   ========================================================================== */
/* Stacked Images responsive styles
   ========================================================================== */
/* ==========================================================================
   Stacked Images responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-stacked-images-holder .edgtf-si-images {
    margin: 0 60px 60px 0;
  }
  .edgtf-stacked-images-holder .edgtf-si-images.edgtf-appeared .edgtf-si-stack-image {
    top: 60px;
  }
  .edgtf-stacked-images-holder .edgtf-si-images .edgtf-si-stack-image {
    top: 130px;
    left: 60px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-stacked-images-holder .edgtf-si-images {
    margin: 0 40px 40px 0;
  }
  .edgtf-stacked-images-holder .edgtf-si-images.edgtf-appeared .edgtf-si-stack-image {
    top: 40px;
  }
  .edgtf-stacked-images-holder .edgtf-si-images .edgtf-si-stack-image {
    top: 100px;
    left: 40px;
  }
}

/* ==========================================================================
   Stacked Images responsive style - end
   ========================================================================== */
/* Tabs responsive styles
   ========================================================================== */
/* ==========================================================================
   Tabs shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-tabs.edgtf-tabs-standard .edgtf-tabs-nav li a {
    padding: 7px 21px;
  }
  .edgtf-tabs.edgtf-tabs-boxed .edgtf-tabs-nav li {
    margin: 0 8px 0 0;
  }
  .edgtf-tabs.edgtf-tabs-boxed .edgtf-tabs-nav li a {
    padding: 7px 18px;
  }
  .edgtf-tabs.edgtf-tabs-simple .edgtf-tabs-nav li {
    margin: 0 26px 0 0;
  }
  .edgtf-tabs.edgtf-tabs-vertical .edgtf-tabs-nav {
    width: 180px;
  }
  .edgtf-tabs.edgtf-tabs-vertical .edgtf-tab-container {
    width: calc(100% - 180px);
    padding: 0 0 0 30px;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-tabs.edgtf-tabs-standard .edgtf-tabs-nav li {
    display: block;
    float: none;
  }
  .edgtf-tabs.edgtf-tabs-standard .edgtf-tabs-nav li a {
    width: 100%;
  }
  .edgtf-tabs.edgtf-tabs-boxed .edgtf-tabs-nav li {
    display: block;
    float: none;
    margin: 0 0 8px;
  }
  .edgtf-tabs.edgtf-tabs-boxed .edgtf-tabs-nav li a {
    width: 100%;
  }
  .edgtf-tabs.edgtf-tabs-simple .edgtf-tabs-nav li {
    margin: 0 20px 0 0;
  }
  .edgtf-tabs.edgtf-tabs-vertical .edgtf-tabs-nav,
  .edgtf-tabs.edgtf-tabs-vertical .edgtf-tab-container {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .edgtf-tabs.edgtf-tabs-vertical .edgtf-tabs-nav {
    border-right: 0;
  }
  .edgtf-tabs.edgtf-tabs-vertical .edgtf-tabs-nav li {
    float: left;
    margin: 0 20px 0 0;
  }
  .edgtf-tabs.edgtf-tabs-vertical .edgtf-tab-container {
    padding: 31px 0 0;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-tabs.edgtf-tabs-simple .edgtf-tabs-nav {
    padding: 0 0 20px;
  }
  .edgtf-tabs.edgtf-tabs-simple .edgtf-tabs-nav li {
    display: block;
    float: none;
    margin: 0 0 20px;
  }
  .edgtf-tabs.edgtf-tabs-simple .edgtf-tabs-nav li a {
    padding: 0;
    width: 100%;
  }
  .edgtf-tabs.edgtf-tabs-vertical .edgtf-tabs-nav li {
    display: block;
    float: none;
    margin: 0 0 20px;
  }
  .edgtf-tabs.edgtf-tabs-vertical .edgtf-tabs-nav li a {
    padding: 0;
    width: 100%;
  }
}

/* ==========================================================================
   Tabs shortcode responsive style - end
   ========================================================================== */
/* Vertical Split Screen Slider styles
   ========================================================================== */
/* ==========================================================================
   Vertical Split Slider shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  body.edgtf-vss-initialized {
    overflow-y: visible !important;
    height: auto !important;
  }
  .edgtf-vertical-split-slider,
  #multiscroll-nav {
    display: none;
  }
  .edgtf-vss-responsive {
    display: block;
  }
}

/* ==========================================================================
   Vertical Split Slider shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   9. Widgets responsive styles
   ========================================================================== */
/* ==========================================================================
   Instagram widget responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .edgtf-instagram-feed:not(.edgtf-instagram-carousel).edgtf-col-6 li {
    width: 25%;
  }
  .edgtf-instagram-feed:not(.edgtf-instagram-carousel).edgtf-col-9 li {
    width: 25%;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-instagram-feed:not(.edgtf-instagram-carousel).edgtf-col-6 li {
    width: 33.3333333333%;
  }
  .edgtf-instagram-feed:not(.edgtf-instagram-carousel).edgtf-col-9 li {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-instagram-feed:not(.edgtf-instagram-carousel) li {
    width: 50% !important;
  }
}

/* ==========================================================================
   Instagram widget responsive style - end
   ========================================================================== */
/* ==========================================================================
   10. Plugins responsive styles
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-menu-grid.edgtf-mg-two-cols > ul > li {
    width: 50%;
  }
  .edgtf-menu-grid.edgtf-mg-three-cols > ul > li {
    width: 50%;
  }
  .edgtf-menu-grid.edgtf-mg-four-cols > ul > li {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .edgtf-menu-grid.edgtf-mg-three-cols > ul > li {
    width: 33.3333333333%;
  }
  .edgtf-menu-grid.edgtf-mg-three-cols > ul > li:nth-child(3n+1) {
    clear: both;
  }
  .edgtf-menu-grid.edgtf-mg-three-cols > ul > li:nth-child(4n+1) {
    clear: none;
  }
  .edgtf-menu-grid.edgtf-mg-four-cols > ul > li {
    width: 33.3333333333%;
  }
  .edgtf-menu-grid.edgtf-mg-four-cols > ul > li:nth-child(3n+1) {
    clear: both;
  }
  .edgtf-menu-grid.edgtf-mg-four-cols > ul > li:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-menu-grid.edgtf-mg-two-cols > ul > li {
    width: 100%;
  }
  .edgtf-menu-grid.edgtf-mg-three-cols > ul > li {
    width: 100%;
  }
  .edgtf-menu-grid.edgtf-mg-four-cols > ul > li {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-menu-list .edgtf-ml-title-holder {
    white-space: normal;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-rf .edgtf-rf-col-holder {
    width: 50%;
    margin: 0 0 24px;
  }
  .edgtf-rf .edgtf-rf-col-holder:nth-child(3), .edgtf-rf .edgtf-rf-col-holder:nth-child(4) {
    margin: 0;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-rf .edgtf-rf-col-holder {
    width: 100%;
  }
  .edgtf-rf .edgtf-rf-col-holder:nth-child(3) {
    margin: 0 0 24px;
  }
}

/*# sourceMappingURL=modules-responsive.css.map */