/* ==========================================================================
   WooCommerce Responsive styles - begin
   ========================================================================== */
/*------------------------------------------------------------------
 * This is main woocommerce responsive css file for theme. It is broken into following sections:
 * 1.  Global Responsive
 * 2.  Single Product Responsive
 * 3.  WooCommerce Product Lists and Shortcodes Responsive
 * 4.  Cart Responsive
 * 5.  Checkout Responsive
 * 6.  My Account Responsive
 * 7.  Shortcodes Responsive
 * 8.  Widgets Responsive
-------------------------------------------------------------------*/
/* ==========================================================================
   1. Global responsive styles - begin
   ========================================================================== */
/********** Buttons responsive style **********/
/* ==========================================================================
   WooCommerce Buttons responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .woocommerce-page .edgtf-content a.button,
  .woocommerce-page .edgtf-content a.added_to_cart,
  .woocommerce-page .edgtf-content input[type="submit"],
  .woocommerce-page .edgtf-content button[type="submit"],
  div.woocommerce a.button,
  div.woocommerce a.added_to_cart,
  div.woocommerce input[type="submit"],
  div.woocommerce button[type="submit"] {
    height: 38px;
    line-height: 38px;
    padding: 0 24px;
  }
}

/* ==========================================================================
   WooCommerce Buttons responsive styles - end
   ========================================================================== */
/********** Sale and out of stock responsive style **********/
/* ==========================================================================
   WooCommerce Onsale and Out of Stock responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .edgtf-woo-single-page .edgtf-single-product-content .edgtf-out-of-stock {
    right: 50px;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-woo-single-page .edgtf-single-product-content .edgtf-out-of-stock {
    right: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-woo-single-page .edgtf-single-product-content .edgtf-out-of-stock {
    right: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-woo-single-page.edgtf-woo-single-thumb-on-left-side .edgtf-single-product-content .edgtf-onsale {
    left: 20px;
  }
}

/* ==========================================================================
   WooCommerce Onsale and Out of Stock responsive styles - end
   ========================================================================== */
/********** Message responsive style **********/
/* ==========================================================================
   WooCommerce Message Responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 800px) {
  .edgtf-woocommerce-page .woocommerce-message,
  .edgtf-woocommerce-page .woocommerce-info,
  .edgtf-woocommerce-page .woocommerce-error {
    padding: 17px 25px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-woocommerce-page .woocommerce-message,
  .edgtf-woocommerce-page .woocommerce-info,
  .edgtf-woocommerce-page .woocommerce-error {
    padding: 14px 20px;
    line-height: 2em;
  }
  .edgtf-woocommerce-page .woocommerce-message a,
  .edgtf-woocommerce-page .woocommerce-info a,
  .edgtf-woocommerce-page .woocommerce-error a {
    float: none;
    margin: 0 70% 15px 0;
  }
}

/* ==========================================================================
   WooCommerce Message Responsive styles - end
   ========================================================================== */
/********** Result and ordering responsive style **********/
/* ==========================================================================
   WooCommerce Result and Ordering Responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 480px) {
  .edgtf-woocommerce-page .woocommerce-result-count,
  .edgtf-woocommerce-page .woocommerce-ordering {
    width: 100%;
    margin-bottom: 30px;
  }
  .edgtf-woocommerce-page .woocommerce-ordering {
    text-align: initial;
  }
  .edgtf-woocommerce-page .woocommerce-ordering .orderby {
    display: block;
  }
}

/* ==========================================================================
   WooCommerce Result and Ordering Responsive styles - end
   ========================================================================== */
/********** Quantity inputs and button responsive style **********/
/* ==========================================================================
   WooCommerce Quantity Inputs responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 800px) {
  .woocommerce-page .edgtf-content .edgtf-quantity-buttons .edgtf-quantity-input,
  .woocommerce-page .edgtf-content .edgtf-quantity-buttons .edgtf-quantity-minus,
  .woocommerce-page .edgtf-content .edgtf-quantity-buttons .edgtf-quantity-plus,
  div.woocommerce .edgtf-quantity-buttons .edgtf-quantity-input,
  div.woocommerce .edgtf-quantity-buttons .edgtf-quantity-minus,
  div.woocommerce .edgtf-quantity-buttons .edgtf-quantity-plus {
    font-size: 13px;
  }
  .woocommerce-page .edgtf-content .edgtf-quantity-buttons .edgtf-quantity-input,
  div.woocommerce .edgtf-quantity-buttons .edgtf-quantity-input {
    height: 38px;
    width: 38px;
    margin: 0 19px 0 0;
    line-height: 36px;
  }
  .woocommerce-page .edgtf-content .edgtf-quantity-buttons .edgtf-quantity-minus,
  .woocommerce-page .edgtf-content .edgtf-quantity-buttons .edgtf-quantity-plus,
  div.woocommerce .edgtf-quantity-buttons .edgtf-quantity-minus,
  div.woocommerce .edgtf-quantity-buttons .edgtf-quantity-plus {
    width: 19px;
    height: 19px;
    line-height: 17px;
  }
}

/* ==========================================================================
   WooCommerce Quantity Inputs responsive styles - end
   ========================================================================== */
/* ==========================================================================
   2. Single Product responsive styles - begin
   ========================================================================== */
/* ==========================================================================
   WooCommerce Single Product Page Responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .edgtf-woo-single-page .edgtf-single-product-content .images {
    padding: 0 30px 0 0;
  }
  .edgtf-woo-single-page .edgtf-single-product-summary {
    padding: 0 0 0 30px;
  }
  .edgtf-woo-single-page .woocommerce-tabs ul.tabs > li a {
    margin-right: 35px;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-woo-single-page .edgtf-single-product-content .images {
    padding: 0 20px 0 0;
  }
  .edgtf-woo-single-page .edgtf-single-product-summary {
    padding: 0 0 0 20px;
  }
  .edgtf-woo-single-page .woocommerce-tabs ul.tabs > li a {
    margin-right: 25px;
  }
  .edgtf-woo-single-page .related.products,
  .edgtf-woo-single-page .upsells.products {
    margin: 31px 0 0;
  }
  .edgtf-woo-single-page .related.products > h2,
  .edgtf-woo-single-page .upsells.products > h2 {
    margin: 0 0 58px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-woo-single-page .edgtf-single-product-content .images,
  .edgtf-woo-single-page .edgtf-single-product-content .edgtf-single-product-summary {
    float: none;
    width: 100%;
    padding: 0;
  }
  .edgtf-woo-single-page .edgtf-single-product-content .edgtf-single-product-summary {
    margin: 30px 0 0;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-woo-single-page .edgtf-single-product-content {
    padding: 0 0 42px;
  }
  .edgtf-woo-single-page .woocommerce-tabs ul.tabs > li a {
    margin-right: 18px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-woo-single-page.edgtf-woo-single-thumb-on-left-side .edgtf-single-product-content .images.woocommerce-product-gallery--columns-4 .woocommerce-product-gallery__image:not(:first-child) {
    width: 50%;
  }
  .edgtf-woo-single-page .edgtf-single-product-content .images.woocommerce-product-gallery--columns-4 .woocommerce-product-gallery__image:not(:first-child) {
    width: 50%;
  }
  .edgtf-woo-single-page .woocommerce-tabs ul.tabs > li {
    float: none;
    width: 100%;
    border-bottom: 1px solid #efefef;
  }
  .edgtf-woo-single-page .woocommerce-tabs ul.tabs > li:last-child {
    border-bottom: 0;
  }
  .edgtf-woo-single-page .woocommerce-tabs ul.tabs > li a {
    display: block;
    margin-right: 0;
    padding: 9px 0;
  }
  .edgtf-woo-single-page .woocommerce-tabs ul.tabs > li a:after {
    display: none;
  }
}

/* ==========================================================================
   WooCommerce Single Product Page Responsive styles - end
   ========================================================================== */
/* ==========================================================================
   3. WooCommerce Product Lists and Shortcodes responsive styles - begin
   ========================================================================== */
/********** Product list main and VC responsive style **********/
/* ==========================================================================
   WooCommerce Product List page responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .woocommerce.columns-6 > .products > .product {
    width: 20%;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1201px) {
  .woocommerce.columns-6 > .products > .product:nth-child(5n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .woocommerce.columns-5 > .products > .product {
    width: 25%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .woocommerce.columns-5 > .products > .product:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .woocommerce.columns-6 > .products > .product {
    width: 25%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .woocommerce.columns-6 > .products > .product:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-woocommerce-columns-3 .edgtf-pl-main-holder > .products > .product, .edgtf-woocommerce-columns-3
  .related.products > .products > .product, .edgtf-woocommerce-columns-3
  .upsells.products > .products > .product, .edgtf-woocommerce-columns-3
  .cross-sells > .products > .product {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .edgtf-woocommerce-columns-3 .edgtf-pl-main-holder > .products > .product:nth-child(3n+1), .edgtf-woocommerce-columns-3
  .related.products > .products > .product:nth-child(3n+1), .edgtf-woocommerce-columns-3
  .upsells.products > .products > .product:nth-child(3n+1), .edgtf-woocommerce-columns-3
  .cross-sells > .products > .product:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-woocommerce-columns-4 .edgtf-pl-main-holder > .products > .product, .edgtf-woocommerce-columns-4
  .related.products > .products > .product, .edgtf-woocommerce-columns-4
  .upsells.products > .products > .product, .edgtf-woocommerce-columns-4
  .cross-sells > .products > .product {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .edgtf-woocommerce-columns-4 .edgtf-pl-main-holder > .products > .product:nth-child(3n+1), .edgtf-woocommerce-columns-4
  .related.products > .products > .product:nth-child(3n+1), .edgtf-woocommerce-columns-4
  .upsells.products > .products > .product:nth-child(3n+1), .edgtf-woocommerce-columns-4
  .cross-sells > .products > .product:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-4 > .products > .product {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .woocommerce.columns-4 > .products > .product:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-5 > .products > .product {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .woocommerce.columns-5 > .products > .product:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-6 > .products > .product {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .woocommerce.columns-6 > .products > .product:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-woocommerce-columns-3 .edgtf-pl-main-holder > .products > .product, .edgtf-woocommerce-columns-3
  .related.products > .products > .product, .edgtf-woocommerce-columns-3
  .upsells.products > .products > .product, .edgtf-woocommerce-columns-3
  .cross-sells > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 681px) {
  .edgtf-woocommerce-columns-3 .edgtf-pl-main-holder > .products > .product:nth-child(2n+1), .edgtf-woocommerce-columns-3
  .related.products > .products > .product:nth-child(2n+1), .edgtf-woocommerce-columns-3
  .upsells.products > .products > .product:nth-child(2n+1), .edgtf-woocommerce-columns-3
  .cross-sells > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-woocommerce-columns-4 .edgtf-pl-main-holder > .products > .product, .edgtf-woocommerce-columns-4
  .related.products > .products > .product, .edgtf-woocommerce-columns-4
  .upsells.products > .products > .product, .edgtf-woocommerce-columns-4
  .cross-sells > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 681px) {
  .edgtf-woocommerce-columns-4 .edgtf-pl-main-holder > .products > .product:nth-child(2n+1), .edgtf-woocommerce-columns-4
  .related.products > .products > .product:nth-child(2n+1), .edgtf-woocommerce-columns-4
  .upsells.products > .products > .product:nth-child(2n+1), .edgtf-woocommerce-columns-4
  .cross-sells > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .woocommerce.columns-3 > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 681px) {
  .woocommerce.columns-3 > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .woocommerce.columns-4 > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 681px) {
  .woocommerce.columns-4 > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .woocommerce.columns-5 > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 681px) {
  .woocommerce.columns-5 > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .woocommerce.columns-6 > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 681px) {
  .woocommerce.columns-6 > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-woocommerce-columns-3 .edgtf-pl-main-holder > .products > .product, .edgtf-woocommerce-columns-3
  .related.products > .products > .product, .edgtf-woocommerce-columns-3
  .upsells.products > .products > .product, .edgtf-woocommerce-columns-3
  .cross-sells > .products > .product {
    width: 100%;
  }
  .edgtf-woocommerce-columns-4 .edgtf-pl-main-holder > .products > .product, .edgtf-woocommerce-columns-4
  .related.products > .products > .product, .edgtf-woocommerce-columns-4
  .upsells.products > .products > .product, .edgtf-woocommerce-columns-4
  .cross-sells > .products > .product {
    width: 100%;
  }
  .woocommerce.columns-2 > .products > .product {
    width: 100%;
  }
  .woocommerce.columns-3 > .products > .product {
    width: 100%;
  }
  .woocommerce.columns-4 > .products > .product {
    width: 100%;
  }
  .woocommerce.columns-5 > .products > .product {
    width: 100%;
  }
  .woocommerce.columns-6 > .products > .product {
    width: 100%;
  }
}

/* ==========================================================================
   WooCommerce Product List page responsive styles - end
   ========================================================================== */
/* ==========================================================================
   4. Cart responsive styles - begin
   ========================================================================== */
/* ==========================================================================
   WooCommerce Cart page responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .edgtf-woocommerce-page .cross-sells > h2,
  .edgtf-woocommerce-page .cart_totals > h2 {
    margin: 30px 0 47px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-woocommerce-page table.cart tr.cart_item td.product-thumbnail {
    width: auto;
    padding-right: 0;
  }
  .edgtf-woocommerce-page table.cart tr.cart_item td.product-thumbnail a {
    display: none;
  }
  .edgtf-woocommerce-page table.cart td.actions .coupon input[type="text"] {
    margin: 0 16px 0 0;
  }
  .edgtf-woocommerce-page table.cart td.actions .coupon,
  .edgtf-woocommerce-page table.cart td.actions > input {
    float: none;
    display: block;
  }
  .edgtf-woocommerce-page table.cart td.actions > input {
    margin: 16px 0 0;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-woocommerce-page table.cart td.actions .coupon input[type="submit"] {
    margin: 16px 0 0;
  }
}

/* ==========================================================================
   WooCommerce Cart page responsive styles - end
   ========================================================================== */
/* ==========================================================================
   5. Checkout responsive styles - begin
   ========================================================================== */
/********** Checkout page responsive style **********/
/* ==========================================================================
   WooCommerce Checkout page responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 800px) {
  .edgtf-woocommerce-page .woocommerce-checkout .col-1,
  .edgtf-woocommerce-page .woocommerce-checkout .col-2 {
    width: 100%;
  }
  .edgtf-woocommerce-page .woocommerce-checkout .col-1 {
    margin: 0 0 25px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-woocommerce-page .woocommerce-checkout .col-1 .form-row,
  .edgtf-woocommerce-page .woocommerce-checkout .col-2 .form-row {
    width: 100%;
    margin: 0;
    float: none;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-woocommerce-page .woocommerce-checkout .woocommerce-checkout-payment ul li.payment_method_paypal label img {
    display: none;
  }
}

/* ==========================================================================
   WooCommerce Checkout page responsive styles - end
   ========================================================================== */
/********** Order Received page responsive style **********/
/* ==========================================================================
   WooCommerce Checkout page - Order Received responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 800px) {
  .edgtf-woocommerce-page.woocommerce-order-received .woocommerce .col2-set.addresses .col-1,
  .edgtf-woocommerce-page.woocommerce-order-received .woocommerce .col2-set.addresses .col-2 {
    width: 100%;
  }
  .edgtf-woocommerce-page.woocommerce-order-received .woocommerce .col2-set.addresses .col-1 {
    margin: 0 0 25px;
  }
}

/* ==========================================================================
   WooCommerce Checkout page - Order Received responsive styles - end
   ========================================================================== */
/* ==========================================================================
   6. MyAccount responsive styles - begin
   ========================================================================== */
/* ==========================================================================
   WooCommerce MyAccount page responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 28%;
  }
  .edgtf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
    width: 72%;
    padding: 0 0 0 20px;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation,
  .edgtf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
    float: none;
    width: 100%;
    padding: 0;
  }
  .edgtf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation ul {
    border-right: none;
  }
  .edgtf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation ul li:not(:last-child) {
    margin: 0 0 14px;
  }
  .edgtf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
    margin: 40px 0 0;
  }
  .edgtf-woocommerce-page.woocommerce-account .woocommerce .col2-set.addresses .col-1,
  .edgtf-woocommerce-page.woocommerce-account .woocommerce .col2-set.addresses .col-2 {
    width: 100%;
  }
  .edgtf-woocommerce-page.woocommerce-account .woocommerce .col2-set.addresses .col-1 {
    margin: 0 0 25px;
  }
}

/* ==========================================================================
   WooCommerce MyAccount page responsive styles - end
   ========================================================================== */
/* ==========================================================================
   7. Shortcodes responsive styles - begin
   ========================================================================== */
/********** Product list shortcode responsive style **********/
/* ==========================================================================
   Product List shortcode responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-six-columns .edgtf-pli {
    width: 20%;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1201px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-six-columns .edgtf-pli:nth-child(6n+1) {
    clear: none;
  }
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-six-columns .edgtf-pli:nth-child(5n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1440px) {
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-five-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-five-columns .edgtf-pl-sizer {
    width: 25%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-five-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 50%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-six-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-six-columns .edgtf-pl-sizer {
    width: 25%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-six-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-five-columns .edgtf-pli {
    width: 25%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-five-columns .edgtf-pli:nth-child(5n+1) {
    clear: none;
  }
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-five-columns .edgtf-pli:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-six-columns .edgtf-pli {
    width: 25%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-six-columns .edgtf-pli:nth-child(6n+1) {
    clear: none;
  }
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-six-columns .edgtf-pli:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-two-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-two-columns .edgtf-pl-sizer {
    width: 50%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-two-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 100%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-three-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-three-columns .edgtf-pl-sizer {
    width: 33.3333333333%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-three-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 66.6666666667%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-four-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-four-columns .edgtf-pl-sizer {
    width: 25%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-four-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 50%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-five-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-five-columns .edgtf-pl-sizer {
    width: 25%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-five-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 50%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-six-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-six-columns .edgtf-pl-sizer {
    width: 25%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-six-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-four-columns .edgtf-pli {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-four-columns .edgtf-pli:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-five-columns .edgtf-pli {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-five-columns .edgtf-pli:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-six-columns .edgtf-pli {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-six-columns .edgtf-pli:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-two-columns .edgtf-pli:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-three-columns .edgtf-pli:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-two-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-two-columns .edgtf-pl-sizer {
    width: 50%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-two-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 100%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-three-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-three-columns .edgtf-pl-sizer {
    width: 33.3333333333%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-three-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 66.6666666667%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-four-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-four-columns .edgtf-pl-sizer {
    width: 33.3333333333%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-four-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 66.6666666667%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-five-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-five-columns .edgtf-pl-sizer {
    width: 33.3333333333%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-five-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 66.6666666667%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-six-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-six-columns .edgtf-pl-sizer {
    width: 33.3333333333%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-six-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 66.6666666667%;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-two-columns .edgtf-pli {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 681px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-two-columns .edgtf-pli:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-three-columns .edgtf-pli {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 681px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-three-columns .edgtf-pli:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-four-columns .edgtf-pli {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 681px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-four-columns .edgtf-pli:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-five-columns .edgtf-pli {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 681px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-five-columns .edgtf-pli:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-six-columns .edgtf-pli {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 681px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-six-columns .edgtf-pli:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-two-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-two-columns .edgtf-pl-sizer {
    width: 50%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-two-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 100%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-three-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-three-columns .edgtf-pl-sizer {
    width: 50%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-three-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 100%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-four-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-four-columns .edgtf-pl-sizer {
    width: 50%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-four-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 100%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-five-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-five-columns .edgtf-pl-sizer {
    width: 50%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-five-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 100%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-six-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-six-columns .edgtf-pl-sizer {
    width: 50%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-six-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-two-columns .edgtf-pli {
    width: 100%;
  }
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-three-columns .edgtf-pli {
    width: 100%;
  }
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-four-columns .edgtf-pli {
    width: 100%;
  }
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-five-columns .edgtf-pli {
    width: 100%;
  }
  .edgtf-pl-holder.edgtf-standard-layout.edgtf-six-columns .edgtf-pli {
    width: 100%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-two-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-two-columns .edgtf-pl-sizer,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-two-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 100%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-three-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-three-columns .edgtf-pl-sizer,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-three-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 100%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-four-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-four-columns .edgtf-pl-sizer,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-four-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 100%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-five-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-five-columns .edgtf-pl-sizer,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-five-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 100%;
  }
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-six-columns .edgtf-pli,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-six-columns .edgtf-pl-sizer,
  .edgtf-pl-holder.edgtf-masonry-layout.edgtf-six-columns .edgtf-pli.edgtf-woo-image-large-width {
    width: 100%;
  }
}

/* ==========================================================================
   Product List shortcode responsive styles - end
   ========================================================================== */
/********** Product list - carousel shortcode responsive style **********/
/* ==========================================================================
   Product List - Carousel shortcode responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 800px) {
  .edgtf-plc-holder.edgtf-simple-type .edgtf-plc-image-outer,
  .edgtf-plc-holder.edgtf-simple-type .edgtf-plc-text-wrapper {
    display: inline-block;
    width: 100%;
    padding: 0;
  }
  .edgtf-plc-holder.edgtf-simple-type .edgtf-plc-text-wrapper {
    margin: 30px 0 40px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-plc-holder .owl-nav {
    display: none;
  }
}

/* ==========================================================================
   Product List - Carousel shortcode responsive styles - end
   ========================================================================== */
/********** Product Page shortcode responsive style **********/
/* Woocommerce Product Page shortcode responsive style - begin
========================================================================== */
@media only screen and (max-width: 800px) {
  div.woocommerce > .single-product .woocommerce-tabs ul.tabs > li a {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 680px) {
  div.woocommerce > .single-product .images.woocommerce-product-gallery--columns-4 .woocommerce-product-gallery__image:not(:first-child) {
    width: 50%;
  }
  div.woocommerce > .single-product .woocommerce-tabs ul.tabs > li {
    float: none;
    width: 100%;
    border-bottom: 1px solid #efefef;
  }
  div.woocommerce > .single-product .woocommerce-tabs ul.tabs > li:last-child {
    border-bottom: 0;
  }
  div.woocommerce > .single-product .woocommerce-tabs ul.tabs > li a {
    display: block;
    margin-right: 0;
    padding: 9px 0;
  }
  div.woocommerce > .single-product .woocommerce-tabs ul.tabs > li a:after {
    display: none;
  }
}

/* Woocommerce Product Page shortcode responsive style - end
========================================================================== */
/* ==========================================================================
   8. Widgets responsive styles - begin
   ========================================================================== */
/* ==========================================================================
   WooCommerce Dropdown Cart Responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 800px) {
  .edgtf-shopping-cart-dropdown {
    width: 300px;
  }
  .edgtf-shopping-cart-dropdown ul {
    margin: 20px;
  }
}

/* ==========================================================================
   WooCommerce Dropdown Cart Responsive styles - end
   ========================================================================== */
/* ==========================================================================
   WooCommerce Responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=woocommerce-responsive.css.map */