@media only screen and (max-width: 1300px) {
    
    .edgtf-header-standard,
    .edgtf-header-boxed {
        
        .edgtf-menu-area {
            
            .edgtf-grid {
                width: 100%;
            }
        }
    }
}

@include laptop-landscape {

    .edgtf-page-header {

        .edgtf-vertical-align-containers {

            .edgtf-position-center {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                width: auto;
            }
        }

        .edgtf-sticky-header {

            .edgtf-vertical-align-containers .edgtf-position-center {
                width: auto;
            }
        }
    }
}

@include ipad-landscape {

    .edgtf-page-header {
        display: none;
    }

    .edgtf-mobile-header {
        display: block;
    }

    .edgtf-top-bar {
        display: inline-block;
        vertical-align: middle;
        height: auto !important;
        padding: 15px 0;

        > .edgtf-vertical-align-containers {
            padding: 0 20px;
        }
    
        .edgtf-vertical-align-containers {
        
            .edgtf-position-left,
            .edgtf-position-right {
                position: relative;
                display: block;
                float: none;
                width: 100%;
                height: auto;
                text-align: inherit
            }
        }
    }
}

.edgtf-drop-down .wide .second > .inner > ul {
    @include laptop-landscape {
        width: $grid-width-laptop-landscape;
    }

    @include ipad-landscape {
        width: $grid-width-ipad-landscape;
    }

}

.edgtf-boxed {
    .edgtf-page-header .edgtf-sticky-header,
    .edgtf-page-header .edgtf-fixed-wrapper.fixed {
        @include laptop-landscape {
            width: $grid-width-laptop-landscape-boxed;
        }
    }

    &.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
        @include ipad-landscape {
            width: $grid-width-ipad-landscape-boxed;
            left: auto;
        }

        @include ipad-portrait {
            width: $grid-width-ipad-portrait-boxed;
        }

        @include phone-landscape {
            width: $grid-width-phone-landscape-boxed;
        }

        @include phone-portrait {
            width: $grid-width-phone-portrait-boxed;
        }

        @include smaller-phone-portrait {
            width: $grid-width-smaller-phone-portrait-boxed;
        }
    }
}