/* ==========================================================================
   WooCommerce Buttons styles - begin
   ========================================================================== */

.woocommerce-page .edgtf-content,
div.woocommerce {

    a.button,
    a.added_to_cart,
    input[type="submit"],
    button[type="submit"],
    .wc-forward:not(.added_to_cart):not(.checkout-button) {
        position: relative;
        display: inline-block;
        width: auto;
        height: 48px;
        line-height: 48px;
        padding: 0 36px;
        margin: 0;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: 700;
        color: #fff;
        background-color: $default-heading-color;
        border: 0;
	    border-radius: 0;
        outline: none;
        cursor: pointer;
        vertical-align: middle;
        text-transform: uppercase;
        z-index: 3;
        box-sizing: border-box;
        @include edgtfTransition(color .2s ease-in-out, background-color .2s ease-in-out);
        
        &:hover {
            color: #fff;
            background-color: $first-main-color;
        }
    }
    
    a.button.added {
        display: none;
    }
    
    .wc-forward:not(.added_to_cart):not(.checkout-button) {
        height: 38px;
        line-height: 38px;
        padding: 0 24px;
    }
}
/* ==========================================================================
   WooCommerce Buttons styles - end
   ========================================================================== */