/* ==========================================================================
   WooCommerce Result and Ordering styles - begin
   ========================================================================== */
.edgtf-woocommerce-page {

    .woocommerce-result-count,
    .woocommerce-ordering {
        display: inline;
        width: 50%;
        margin: 0 0 19px;
        float: left;
    }

    .woocommerce-result-count {
        line-height: 38px;
    }

    .woocommerce-ordering {
        text-align: right;
    
        .orderby {
            width: auto;
            min-width: 200px;
            margin: 0;
            text-align: initial;
        }
    }
}
/* ==========================================================================
   WooCommerce Result and Ordering styles - end
   ========================================================================== */