/* ==========================================================================
   WooCommerce Result and Ordering Responsive styles - begin
   ========================================================================== */
.edgtf-woocommerce-page {

    @include phone-portrait {
        .woocommerce-result-count,
        .woocommerce-ordering {
            width: 100%;
            margin-bottom: 30px;
        }
    
        .woocommerce-ordering {
            text-align: initial;
        
            .orderby {
                display: block;
            }
        }
    }
}
/* ==========================================================================
   WooCommerce Result and Ordering Responsive styles - end
   ========================================================================== */