/* ==========================================================================
   WooCommerce Star Rating styles - begin
   ========================================================================== */

.woocommerce {
    
    .star-rating {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-family: "ElegantIcons";
        font-size: 12px;
        line-height: 1;
        letter-spacing: 2px;
        color: $first-main-color;
        overflow: hidden;
        -webkit-font-smoothing: antialiased;
        
        &:before {
            content: "\e031\e031\e031\e031\e031";
        }
        
        span {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            
            &:before {
                content: "\e033\e033\e033\e033\e033";
            }
        }
    }
}
/* ==========================================================================
   WooCommerce Star Rating styles - end
   ========================================================================== */