
/* ==========================================================================
   #Animation styles - start
   ========================================================================== */

@include keyframes(element-from-left) {
	0% {
		opacity: 0;
		transform: translate(-20%, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}


@include keyframes(element-from-right) {
	0% {
		opacity: 0;
		transform: translate(20%, 0);

	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@include keyframes(element-from-top) {
	0% {
		opacity: 0;
		transform: translate(0, -30%);

	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@include keyframes(element-from-bottom) {
	0% {
		opacity: 0;
		transform: translate(0, 30%);

	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}


.edgtf-element-from-left,
.edgtf-element-from-right,
.edgtf-element-from-top,
.edgtf-element-from-bottom,
.edgtf-element-from-fade {
	@include edgtfRelativeHolderLayout();
	
	> div {
		@include edgtfRelativeHolderLayout();
		opacity: 0;
	}
}

.edgtf-element-from-fade {

	&.edgtf-element-from-fade-on {

		> div {
			opacity: 1;
			@include edgtfTransition(opacity .8s ease 0s);
		}
	}
}

.edgtf-element-from-left {

	&.edgtf-element-from-left-on {

		> div {

			@include edgtfAnimation(element-from-left 0.55s 1 ease);
			opacity: 1;
		}
	}
}

.edgtf-element-from-right {

	&.edgtf-element-from-right-on {

		> div {
			@include edgtfAnimation(element-from-right 0.55s 1 ease);
			opacity: 1;
		}
	}
}

.edgtf-element-from-top {

	&.edgtf-element-from-top-on {

		> div {
			@include edgtfAnimation(element-from-top 0.55s 1 ease);
			opacity: 1;
		}
	}
}

.edgtf-element-from-bottom {

	&.edgtf-element-from-bottom-on {

		> div {
			@include edgtfAnimation(element-from-bottom 0.55s 1 ease);
			opacity: 1;
		}
	}
}

.edgtf-flip-in {
	opacity: 0;
	@include edgtfTransform(perspective(1000px) rotateY(25deg));
	@include edgtfTransition(all 1.1s ease-in-out);

	&.edgtf-flip-in-on {
		opacity: 1;
		@include edgtfTransform(rotateY(0deg));
	}
}

.edgtf-grow-in {
	opacity: 0;
	@include edgtfTransform(scale(0.8));
	@include edgtfTransition(all 1s cubic-bezier(0,1,.5,1));

	&.edgtf-grow-in-on {
		opacity: 1;
		@include edgtfTransform(scale(1));
	}
}

.edgtf-z-rotate {
	opacity: 0;
	@include edgtfTransform(rotateZ(7deg));
	@include edgtfTransition(all 300ms cubic-bezier(0.165, 0.84, 0.44, 1));
	@include edgtfTransformOrigin(top right);

	&.edgtf-z-rotate-on {
		opacity: 1;
		@include edgtfTransform(rotateZ(0deg));
	}
}

.edgtf-x-rotate {
	opacity: 0;
	@include edgtfTransform(perspective(900px) rotateX(-45deg));
	@include edgtfTransition(all .6s cubic-bezier(.785,.135,.15,.86));

	&.edgtf-x-rotate-on {
		opacity: 1;
		@include edgtfTransform(rotateX(0deg));
	}
}

.edgtf-y-translate {
	opacity: 0;
	@include edgtfTransform(translate(0,30px));
	@include edgtfTransition(all 700ms cubic-bezier(0.680, -0.650, 0.265, 1.650));

	&.edgtf-y-translate-on {
		opacity: 1;
		@include edgtfTransform(translate(0,0));
	}
}

.edgtf-fade-in-down {
	opacity: 0;
	@include edgtfTransform(translate(0,-25px));
	@include edgtfTransition(all .9s cubic-bezier(0,1,.5,1));

	&.edgtf-fade-in-down-on {
		opacity: 1;
		@include edgtfTransform(translate(0,0));
	}
}

.edgtf-fade-in-left-x-rotate {
	opacity: 0;
	@include edgtfTransform(rotateZ(-5deg) translate(-30px,0));
	@include edgtfTransition(all .4s ease);

	&.edgtf-fade-in-left-x-rotate-on {
		opacity: 1;
		@include edgtfTransform(rotateZ(0deg) translate(0,0));
	}
}

.edgtf-fade-in {
	opacity: 0;
	@include edgtfTransition(all 1s ease);

	&.edgtf-fade-in-on {
		opacity: 1;
	}
}
/* ==========================================================================
   #Animation styles - end
   ========================================================================== */