@import 'variables';
@import 'mixins';

/* ==========================================================================
   #Comments styles - start
   ========================================================================== */

.edgtf-comment-holder {
    @include edgtfRelativeHolderLayout();
    padding: 0;
    border-bottom: 1px solid $default-border-color;
    box-sizing: border-box;

    .edgtf-comment-holder-inner {
        padding: 70px 0 38px;
    }
	
	.edgtf-comment {
		
		&.edgtf-pingback-comment {
			
			.edgtf-comment-text {
				padding: 0;
			}
		}
	}
	
	.edgtf-comment-list {
		list-style: none;
		position: relative;
		z-index: 150;
		padding: 0;
		margin: 0;
		
		li {
			@include edgtfRelativeHolderLayout();
			margin: 0 0 40px;
			padding: 0 0 40px;
			border-bottom: 1px solid $default-border-color;
			
			&:last-child {
				margin: 0;
				padding: 0;
				border-bottom: 0;
			}
		}
		
		.children {
			margin: 40px 0 0;
			padding: 40px 0 0 125px;
			border-top: 1px solid $default-border-color;
		}
	}

    .edgtf-comments-title {
        margin-bottom: 36px;

        > * {
            margin: 0;
        }
    }

    .edgtf-comment-image {
        position: relative;
        display: block;
        top: 0;
        left: 0;
        width: 105px;
        height: 105px;
        float: left;

        img {
            display: block;
            border-radius: 4em;
        }
    }

    .edgtf-comment-text {
        padding: 0 0 0 125px;
        min-height: 105px;

        .edgtf-comment-info {
            @include edgtfRelativeHolderLayout();
            margin: 0;
        }

        .replay,
        .comment-reply-link,
        .comment-edit-link {
            float: right;
            margin-left: 10px;
            font-size: 12px;
            color: $first-main-color;

            &:hover {
                color: $default-heading-color;
            }
        }

        .edgtf-comment-name {
            float: left;
            margin: 0;
        }

        .edgtf-comment-date {
            float: left;
            margin: 0 0 1px;
	        color: $first-main-color;
            font-size: 13px;
	        font-weight: 500;
        }

        .edgtf-text-holder p {
            margin: 11px 0 0;
        }

        .comment-respond {
            margin: 20px 0;

            .comment-reply-title {
                margin: 0 0 10px;
            }

            .logged-in-as {
                margin: 0 0 8px;
            }
        }

        #cancel-comment-reply-link {
            margin-left: 10px;
        }

        li {
            margin: 0 !important;
            padding: 0 !important;
            border: 0 !important;
        }
    }
}

.edgtf-comment-form {
    padding: 0;
    clear: both;
    box-sizing: border-box;
    
    .edgtf-comment-form-inner {
        padding: 65px 0 78px;
    }
    
    .comment-reply-title {
        margin: 0 0 40px;
    }
    
    .logged-in-as {
        margin: 0 0 8px;
    }
}

@include ipad-landscape {

    .edgtf-comment-holder {
	
	    .edgtf-comment-image {
		    width: 80px;
		    height: 80px;
	    }
	
	    .edgtf-comment-text {
		    padding: 0 0 0 100px;
	    }
	    
        .edgtf-comment-list {
	        
            .children {
                padding-left: 100px;
            }
        }
    }
}

@include ipad-portrait {
	
	.edgtf-comment-holder {
		
		.edgtf-comment-list {
			
			.children {
				padding-left: 40px;
			}
		}
	}
}

@include phone-landscape {
	
    .edgtf-comment-holder {
	    
        .edgtf-comment-list {
	        
            .children {
	            padding-left: 0;
            }
        }

        .edgtf-comment-text {
	        
            .edgtf-comment-date,
            .edgtf-comment-name {
                float: none;
            }
	        
            .replay,
            .comment-reply-link,
            .comment-edit-link {
                float: none;
                margin: 0 10px 0 0;
            }
        }
    }
}

@include phone-portrait {
	
    .edgtf-comment-holder {

        .edgtf-comment-image {
            float: none;
        }

        .edgtf-comment-text {
            padding: 20px 0 0;
            min-height: inherit;
        }
    }
}

/* ==========================================================================
   #Comments styles - end
   ========================================================================== */

%input-style {
    width: 100%;
    margin: 0 0 15px;
    padding: 12px 20px;
    font-family: inherit;
    font-size: 13px;
    line-height: 20px;
    font-weight: inherit;
    color: #666;
    background-color: transparent;
    border: 1px solid $default-border-color;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    @include edgtfTransition(border-color 0.2s ease-in-out);

    &:focus {
        background-color: #f7f7f7;
        color: $default-heading-color;
    }
    
    @include edgtfPlaceholder {
        color: #666;
    }
}

#respond textarea,
#respond input[type='text'],
.post-password-form input[type='password'] {
    @extend %input-style;
}

#respond textarea {
    display: block;
    padding: 16px 20px;
}

p.form-submit {
    margin: 0;
}

.wpcf7-form-control {
    &.wpcf7-text,
    &.wpcf7-number,
    &.wpcf7-date,
    &.wpcf7-textarea,
    &.wpcf7-select,
    &.wpcf7-quiz {
        @extend %input-style;
        
        footer &,
        .edgtf-two-columns-form-without-space & {
            margin: 0;
        }
    }

    &.wpcf7-submit {
        box-shadow:inset 0 100px 0 0 rgba(255,255,255,0);

        &:hover {
            box-shadow:inset 0 100px 0 0 rgba(255,255,255,.1);
        }
    }
}

.wpcf7-form {
    
    p {
        margin: 0;
    }
    
    .wpcf7-form-control.wpcf7-textarea {
        display: block;
        padding: 16px 20px;
    }
    
    .ajax-loader {
        
        .edgtf-two-columns-form-without-space & {
            position: absolute;
        }
    }
}

#submit_comment,
.post-password-form input[type='submit'],
input.wpcf7-form-control.wpcf7-submit {
    @include edgtfRelativeHolderLayout();
    height: 48px;
    line-height: 48px;
    padding: 0 34px;
    margin: 0;
    font-family: inherit;
    font-size: 11px;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: #fff;
    background-color: $first-main-color;
    border: 1px solid transparent;
    border-radius: 0;
    outline: 0;
    cursor: pointer;
	text-align: center;
    -webkit-appearance: none;
    @include edgtfTransition(color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .3s);

    &:hover {
        background-color: $default-heading-color;
    }
}

.wpcf7-form p {
    margin: 0;
}

.wpcf7-form textarea {
    vertical-align: middle;
}

.edgtf-two-columns-form-without-space {

    .wpcf7-form .ajax-loader {
        display: none;
    }
}
/* ==========================================================================
   #Comments styles - end
   ========================================================================== */

/* ==========================================================================
   #Owl Slider (Blog list and single, Portfolio single) - begin
   ========================================================================== */
.edgtf-owl-slider {

    .owl-stage-outer {
        z-index: 1;
    }

    .owl-nav {

        .owl-prev,
        .owl-next {
            position: absolute;
            top: 50%;
            z-index: 3;
            @include edgtfTransform(translateY(-50%));
            
            &:hover {
    
                .edgtf-prev-icon,
                .edgtf-next-icon {
                    color: $first-main-color;
                }
            }
        }

        .owl-prev {
            left: 30px;
        }

        .owl-next {
            right: 30px;
        }

        .edgtf-prev-icon,
        .edgtf-next-icon {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            color: #fff;
            @include edgtfTransition(color .2s ease-out);

            .edgtf-icon-arrow {
                position: relative;
                display: inline-block;
                vertical-align: top;
                font-size: 50px;
                line-height: 1em;

                &:before {
                    display: block;
                    line-height: inherit;
                }
            }
        }
    }
}
/* ==========================================================================
   #Owl Slider (Blog list and single, Portfolio single) - end
   ========================================================================== */

/* ==========================================================================
   #404 styles - start
   ========================================================================== */

.edgtf-404-page {

    &.edgtf-wrapper {
        padding: 0 !important;
    }
    
    .edgtf-content {
        height: 100vh;
    }

    .edgtf-content-inner {
        position: relative;
        display: table;
        height: 100%;
        width: 100%;
    }

    .edgtf-page-not-found {
        position: relative;
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        padding: 0 20%;
        text-align: center;

        .edgtf-page-not-found-title {
            margin: 0;
        }
	
	    .edgtf-page-not-found-subtitle {
            margin: 35px 0 0;
        }
	    
	    .edgtf-page-not-found-text {
		    margin: 10px 0 0;
	    }

        .edgtf-btn {
            margin: 30px 0 0;
        }
    }

    @include ipad-portrait {

        .edgtf-page-not-found {
            padding: 40px 30px;
        }
    }
}

/* ==========================================================================
   #404 styles - end
   ========================================================================== */

/* ==========================================================================
   #Back to Top styles - start
   ========================================================================== */
#edgtf-back-to-top {
    position: fixed;
    width: 41px;
    right: 25px;
    bottom: 25px;
    margin: 0;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;

    &.off {
        opacity: 0;
        visibility: hidden;
        @include edgtfTransition(opacity 0.15s ease, visibility .0s .15s);
    }

    &.on {
        opacity: 1;
        visibility: visible;
        @include edgtfTransition(opacity 0.3s ease);
    }

    > span {
        position: relative;
        display: block;
        width: 39px;
        height: 39px;
        line-height: 40px;
        font-size: 15px;
        text-align: center;
        color: #fff;
        background-color: $first-main-color;
        border: 1px solid $first-main-color;
        overflow: hidden;
        @include edgtfTransition(color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out);

        i {
            @include edgtfTransition(.15s ease .05s);
        }

        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 12px;
            left: 19px;
            height: 0;
            width: 0;
            opacity: 0;
            border: 1px solid $default-border-color;
            @include edgtfTransition(0.2s cubic-bezier(0.54, 0.13, 0, 1.43));
        }

        &:hover {
            background-color: $default-heading-color;
            border: 1px solid $default-heading-color;

            &:after {
                height: 12px;
                opacity: 1;
                @include edgtfTransition(0.45s cubic-bezier(0.54, 0.13, 0, 1) .05s);
            }

            i {
                @include edgtfTransform(translateY(-8px));
                @include edgtfTransition(.2s cubic-bezier(1,-1.21, 0.25, 1));
            }
        }
    }

    span span {
        display: block;
        line-height: inherit;
    }
}
/* ==========================================================================
   #Back to Top styles - end
   ========================================================================== */

/* ==========================================================================
   #Self Hosted Video styles - begin
   ========================================================================== */
.edgtf-self-hosted-video-holder {
    .edgtf-video-wrap {
        .mejs-container,
        .mejs-overlay-play {
            height: 100% !important; /*!important because of the inline style*/
            width: 100% !important; /*!important because of the inline style*/
        }
    }
}
/* ==========================================================================
   #Self Hosted Video styles - end
   ========================================================================== */

/* ==========================================================================
   #jQuery Datepicker styles - start
   ========================================================================== */
#ui-datepicker-div {
	z-index: 1000 !important;
	background-color: #fff;
	min-width: 257px;
	font-size: 13px;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 0 5px 5px 5px rgba(0,0,0,0.05);

	table {
		padding: 0 4px 4px;
		
		thead {
			
			th {
				font-weight: 400;
			}
		}
		
		tr {
			border: none;
		}
		
		td {
			padding: 4px;
			line-height: 1.5em;
		}
	}

	.ui-datepicker-header {
		padding: 5px 16px;
		position: relative;
	}

	.ui-datepicker-next,
	.ui-datepicker-prev {
		position: absolute;
		font-size: 14px;
	}

	.ui-datepicker-prev {
		left: 12px;
	}

	.ui-datepicker-next {
		right: 12px;
	}

	.ui-datepicker-title {
		text-align: center;
	}

	.ui-datepicker-today {
		background-color: $first-main-color;

		a {
			color: #fff;
		}
	}
}

/* ==========================================================================
   #jQuery Datepicker styles - end
   ========================================================================== */