@include ipad-landscape {
    
    .edgtf-content {
        margin-top: 0 !important;
    }
}

.edgtf-grid,
.edgtf-container-inner,
.edgtf-row-grid-section,
.edgtf-slider .carousel-inner .edgtf-slider-content-outer {

    @include laptop-landscape {
        width: $grid-width-laptop-landscape;
    }

    @include ipad-landscape {
        width: $grid-width-ipad-landscape;
    }
    
    @include ipad-portrait {
        width: $grid-width-ipad-portrait;
    }

    @include phone-landscape {
        width: $grid-width-phone-landscape;
    }

    @include phone-portrait {
        width: $grid-width-phone-portrait;
    }

    @include smaller-phone-portrait {
        width: $grid-width-smaller-phone-portrait;
    }
}

.edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
.edgtf-boxed .edgtf-wrapper .edgtf-footer-inner {

    @include laptop-landscape {
        width: $grid-width-laptop-landscape-boxed;
    }

    @include ipad-landscape {
        width: $grid-width-ipad-landscape-boxed;
    }

    @include ipad-portrait {
        width: $grid-width-ipad-portrait-boxed;
    }

    @include phone-landscape {
        width: $grid-width-phone-landscape-boxed;
    }

    @include phone-portrait {
        width: $grid-width-phone-portrait-boxed;
    }

    @include smaller-phone-portrait {
        width: $grid-width-smaller-phone-portrait-boxed;
    }
}