/* #Reset default styles - start
   ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: none;
}

article, aside, details, figcaption, figure, footer, header, nav, section {
    display: block;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: medium none;
    vertical-align: middle;
}

table th {
    border: 0;
    padding: 5px 7px;
    text-align: center;
}

table td {
    padding: 5px 10px;
    text-align: center;
}

a img {
    border: none;
}

img, .wp-caption {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%;
}

/* #Reset default styles - end
   ========================================================================== */

/* #General styles that are used in our theme - start
 * Here are defined global styles on body element, on container elements that hold every page,
 * headings and links, inputs, core wp styles and default pagination styles
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.clear:after {
    clear: both;
    content: "";
    display: block;
}

html {
    overflow-y: scroll !important; /* for vertical split screen slider shortcode on touch devices */
}

body {
    font-family: $default-text-font;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: $default-text-color;
    background-color: $default-background-color;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 30px 0;
    color: $default-heading-color;
    line-height: 1.3em;
    font-weight: 700;
    
    a {
        @include edgtfTypographyLayout();
        
        &:hover {
            color: $first-main-color;
        }
    }
}

a,
p a {
    color: $default-heading-color;
    text-decoration: none;
    @include edgtfTransition(color .2s ease-out);

    &:hover {
        color: $first-main-color;
    }
}

p {
    margin: 10px 0;
}

input[type='submit'] {
    -webkit-appearance: none;
}

ul, ol {
    list-style-position: inside;
    margin: 15px 0;
}

ul ul,
ol ol,
ol ul,
ul ol {
    margin: 0;
    padding: 0 0 0 15px;
}

pre {
    background-color: $default-background-color;
    padding: 15px;
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 15px 0;
}

dt {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

dd {
    margin-bottom: 15px;
}

sub, sup {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    top: 0.5ex;
}

sup {
    bottom: 0.5ex;
}

.wp-caption-text {
    margin: 0;
    font-style: italic;
}

table {
    width: 100%;
}

table thead tr, table tbody tr {
    border: 1px solid $default-border-color;
}

table tbody th {
    border-right: 1px solid $default-border-color;
}

blockquote {
    @include edgtfRelativeHolderLayout();
    margin: 10px 0;
    padding: 0 0 0 47px;
    color: $default-heading-color;
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    font-weight: 700;
    
    > * {
        @include edgtfTypographyLayout();
        margin: 0;
    }
    
    &:before {
        position: absolute;
        top: -8px;
        left: 0;
        content: '\7b';
        font-family: 'ElegantIcons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size: 47px;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
    
    strong {
        display: block;
        margin: 12px 0 0;
        color: $default-text-color;
        font-size: 14px;
        font-weight: 400;
    }
    
    cite {
        font-style: normal;
        font-weight: 400;
    }
}

/* Webkit */
::selection {
    background: $first-main-color;
    color: $default-background-color;
}

/* Gecko/Mozilla */
::-moz-selection {
    background: $first-main-color;
    color: $default-background-color;
}

.wp-caption,
.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor {
    opacity: 1;
}

.alignleft {
    float: left;
    margin: 0 20px 20px 0;
}

.alignright {
    float: right;
    margin: 0 0 20px 20px;
}

.aligncenter {
    display: block;
    margin: 10px auto;
}

.alignwide {
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

@include ipad-landscape {

    .alignwide {
        width: 100%;
        max-width: 100%;
    }
}

.alignfull {
    position: relative;
    left: -1rem;
    width: calc( 100% + (2 * 1rem));
    max-width: calc( 100% + (2 * 1rem));
    clear: both;
}

@include ipad-landscape {

    .alignfull {
        left: calc( -12.5% - 75px);
        width: calc( 125% + 150px);
        max-width: calc( 125% + 150px);
        margin-top: calc(2 * 1rem);
        margin-bottom: calc(2 * 1rem);
    }
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.edgtf-wrapper {
    position: relative;
    left: 0;
    z-index: 1000;

    .edgtf-wrapper-inner {
        width: 100%;
        overflow: hidden;
    }
}

.edgtf-content {
    position: relative;
    margin-top: 0;
    z-index: 100;
    background-color: $default-background-color; /*this is needed because of the uncovering footer*/
}

.edgtf-boxed {
    overflow: hidden !important; /* this is because content jumping while using accordion and display:inline-block on 'body.edgtf-boxed .edgtf-wrapper'   */

    .edgtf-wrapper {
        display: inline-block;
        vertical-align: middle;
        width: 100%;

        .edgtf-wrapper-inner {
            width: $grid-width-boxed;
            overflow: visible;
            margin: auto;
        }
    }

    .edgtf-content {
        overflow: hidden;
    }

    .edgtf-footer-inner {
        width: $grid-width-boxed;
        margin: auto;
    }

    .edgtf-page-header .edgtf-sticky-header,
    .edgtf-page-header .edgtf-fixed-wrapper.fixed {
        width: $grid-width-boxed;
        left: auto;
    }
}

.edgtf-paspartu-enabled {

    .edgtf-wrapper {
        padding: 10px;
        background-color: #fff;
        box-sizing: border-box;
    }

    &.edgtf-top-paspartu-disabled {

        .edgtf-wrapper {
            padding-top: 0 !important;
        }
    }
}

.edgtf-smooth-transition-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background-color: #fff;
}

.edgtf-container {
    background-color: #fff; //beacuse of the Edge Slider, since content have to go over it
    position: relative;
    padding: 0;
    width: 100%;
    z-index: 100;

    &:before {
        content: " ";
        display: table;
    }

    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

.edgtf-container-inner { //not in parent selector since this class is used for positioning other elements in grid
    width: $grid-width;
    margin: 0 auto;
}

.edgtf-full-width {
    position: relative;
    z-index: 100;
}

.edgtf-content .edgtf-content-inner > .edgtf-container > .edgtf-container-inner,
.edgtf-content .edgtf-content-inner > .edgtf-full-width > .edgtf-full-width-inner {
	padding-top: 40px; // default value for content top padding
}

@media only screen and (min-width: 1400px) {

    .edgtf-grid-1300 {

        .edgtf-grid,
        .edgtf-container-inner,
        .edgtf-row-grid-section,
        .edgtf-footer-top-border-holder.edgtf-in-grid,
        .edgtf-footer-bottom-border-holder.edgtf-in-grid {
            width: $grid-width-1300;
        }
    }

    .edgtf-grid-1300.edgtf-boxed {

        .edgtf-footer-inner,
        .edgtf-wrapper-inner {
            width: $grid-width-1300 + 50px;
        }

        .edgtf-page-header .edgtf-sticky-header,
        .edgtf-page-header .edgtf-fixed-wrapper.fixed {
            width: $grid-width-1300 + 50px;
            left: auto;
        }
    }
}

@media only screen and (min-width: 1300px) {

    .edgtf-grid-1200 {

        .edgtf-grid,
        .edgtf-container-inner,
        .edgtf-row-grid-section,
        .edgtf-footer-top-border-holder.edgtf-in-grid,
        .edgtf-footer-bottom-border-holder.edgtf-in-grid {
            width: $grid-width-1200;
        }
    }

    .edgtf-grid-1200.edgtf-boxed {

        .edgtf-footer-inner,
        .edgtf-wrapper-inner {
            width: $grid-width-1200 + 50px;
        }

        .edgtf-page-header .edgtf-sticky-header,
        .edgtf-page-header .edgtf-fixed-wrapper.fixed {
            width: $grid-width-1200 + 50px;
            left: auto;
        }
    }
}

@media only screen and (min-width: 1200px) {

    .edgtf-grid-1000 {

        .edgtf-grid,
        .edgtf-container-inner,
        .edgtf-row-grid-section,
        .edgtf-footer-top-border-holder.edgtf-in-grid,
        .edgtf-footer-bottom-border-holder.edgtf-in-grid {
            width: $grid-width-1000;
        }
    }

    .edgtf-grid-1000.edgtf-boxed {

        .edgtf-footer-inner,
        .edgtf-wrapper-inner {
            width: $grid-width-1000 + 50px;
        }

        .edgtf-page-header .edgtf-sticky-header,
        .edgtf-page-header .edgtf-fixed-wrapper.fixed {
            width: $grid-width-1000 + 50px;
            left: auto;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .edgtf-grid-800 {

        .edgtf-grid,
        .edgtf-container-inner,
        .edgtf-row-grid-section,
        .edgtf-footer-top-border-holder.edgtf-in-grid,
        .edgtf-footer-bottom-border-holder.edgtf-in-grid {
            width: $grid-width-800;
        }
    }

    .edgtf-grid-800.edgtf-boxed {

        .edgtf-footer-inner,
        .edgtf-wrapper-inner {
            width: $grid-width-800 + 50px;
        }

        .edgtf-page-header .edgtf-sticky-header,
        .edgtf-page-header .edgtf-fixed-wrapper.fixed {
            width: $grid-width-800 + 50px;
            left: auto;
        }
    }
}

@include keyframes(preload-background) {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.edgtf-preload-background {
    background-repeat: repeat !important;
    background-color: transparent !important;
    background-attachment: scroll !important;
    background-size: inherit !important;
    @include animation(preload-background, 40s, infinite, linear, 0s);
}

.edgtf-grid {
    width: $grid-width;
    margin: 0 auto;
}

.edgtf-vertical-align-containers {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    &.edgtf-25-50-25 {

        .edgtf-position-left,
        .edgtf-position-right {
            width: 25%;
        }

        .edgtf-position-center {
            width: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .edgtf-position-left-inner,
        .edgtf-position-center-inner,
        .edgtf-position-right-inner {
            width: 98%;
        }

    }

    &.edgtf-33-33-33 {

        .edgtf-position-left,
        .edgtf-position-center,
        .edgtf-position-right {
            width: 33.33%;
        }

        .edgtf-position-center {
            width: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .edgtf-position-left-inner,
        .edgtf-position-center-inner,
        .edgtf-position-right-inner {
            width: 98%;
        }

    }

    &.edgtf-50-50 {

        .edgtf-position-left,
        .edgtf-position-right {
            width: 50%;
        }

        .edgtf-position-left-inner,
        .edgtf-position-center-inner,
        .edgtf-position-right-inner {
            width: 98%;
        }

    }

    .edgtf-position-left {
        position: relative;
        float: left;
        z-index: 2;
        height: 100%;
    }
    .edgtf-position-center {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        text-align: center;
        z-index: 1;
    }

    .edgtf-position-right {
        position: relative;
        float: right;
        z-index: 2;
        height: 100%;
        text-align: right;
    }

    .edgtf-position-left-inner,
    .edgtf-position-center-inner,
    .edgtf-position-right-inner {
        vertical-align: middle;
        display: inline-block;
    }
    .edgtf-position-right.edgtf-has-widget .edgtf-position-right-inner {
        height: 100%;
    }

    .edgtf-position-left:before,
    .edgtf-position-center:before,
    .edgtf-position-right:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        margin-right: -3px; /* adjusts for spacing */
    }
}

/* ==========================================================================
   #Row styles - start
   ========================================================================== */

.edgtf-row-grid-section {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    z-index: 20;
}

.edgtf-content-aligment-left {
    text-align: left;
}

.edgtf-content-aligment-center {
    text-align: center;
}

.edgtf-content-aligment-right {
    text-align: right;
}

.vc_row .wpb_gmaps_widget .wpb_wrapper {
    padding: 0;
    background-color: transparent;
}

.vc_row.edgtf-has-anchor-icon {
	position: relative;
}

.edgtf-vc-row-anchor-icon {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
	left: calc(50% - 15px);
    bottom: 34px;
    font-size: 50px;
    line-height: 1;
    z-index: 9999;
	
	&.edgtf-light {
		color: #fff;
		
		&:hover {
			color: rgba(#fff, .8);
		}
	}
    
    span {
        display: block;
        line-height: inherit;
        
        &:before {
            display: block;
            line-height: inherit;
        }
    }
}

/*visual composer override styles*/
.wpb_row,
.wpb_content_element,
ul.wpb_thumbnails-fluid > li,
.last_toggle_el_margin, .wpb_button {
	margin-bottom: 0 !important; // important is in order to prevent visual composer styles in all cases
}
/* ==========================================================================
   #Row styles - end
   ========================================================================== */

/* ==========================================================================
   #Screen reader text - begin
   ========================================================================== */

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    
    &:focus {
	    clip: auto !important;
	    display: block;
	    top: 5px;
	    left: 5px;
	    width: auto;
	    height: auto;
	    padding: 15px 23px 14px;
	    color: #21759b;
	    font-size: 14px;
	    font-weight: bold;
	    line-height: normal;
	    text-decoration: none;
	    background-color: #f1f1f1;
	    border-radius: 3px;
	    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        z-index: 100000; /* Above WP toolbar. */
    }
}
/* ==========================================================================
   #Screen reader text - end
   ========================================================================== */