/* ==========================================================================
   Grid System responsive style - begin
   ========================================================================== */

@include ipad-portrait {
    
    .edgtf-columns-wrapper {
        
        .edgtf-column-content {
            width: 100% !important;
            float: none !important;
        }
        
        $columns_space_label: ('large');
        $columns_space: (15);
        
        @for $i from 0 to length($columns_space_label) {
            &.edgtf-columns-#{nth($columns_space_label,$i+1)}-space {
                $item_space: nth($columns_space, $i+1);
                
                > .edgtf-columns-inner {
                    margin: 0 -#{$item_space}px;
                    
                    > .edgtf-column-content {
                        padding: 0 #{$item_space}px;
                    }
                }
            }
        }
    }
}
/* ==========================================================================
   Grid System responsive style - end
   ========================================================================== */