/* ==========================================================================
   Grid System style - begin
   ========================================================================== */

.edgtf-two-columns-form-without-space {
    
    .edgtf-column-left {
        display: table-cell;
        width: 99%;
        vertical-align: top;
    }
    
    .edgtf-column-right {
        display: table-cell;
        width: 1%;
        text-align: left;
        vertical-align: top;
    }
}

.edgtf-columns-wrapper {
    @include edgtfRelativeHolderLayout();
    clear: both;
    
    .edgtf-column-content {
        @include edgtfRelativeHolderLayout();
        float: left;
        box-sizing: border-box;
    }
    
    &.edgtf-content-sidebar-left {
        
        > .edgtf-columns-inner {
            
            > .edgtf-column-content {
                float: right;
            }
        }
    }
    
    &.edgtf-content-columns-100 {
        
        > .edgtf-columns-inner {
            
            > .edgtf-column-content {
                float: none;
            }
        }
    }
    
    $columns_label: ('66-33', '33-66', '75-25', '25-75');
    $columns_number: (2/3, 1/3, 3/4, 1/4);
    
    @for $i from 0 to length($columns_label) {
        &.edgtf-content-columns-#{nth($columns_label,$i+1)} {
            $column_size: nth($columns_number, $i+1);
            $column_width: 100% * $column_size;
            
            > .edgtf-columns-inner {
                
                @if (($i+1) % 2 == 0) {
                    
                    > .edgtf-column-content1 {
                        width: 100% - $column_width;
                    }
                    
                    > .edgtf-column-content2 {
                        width: $column_width;
                    }
                } @else {
                    
                    > .edgtf-column-content1 {
                        width: $column_width;
                    }
                    
                    > .edgtf-column-content2 {
                        width: 100% - $column_width;
                    }
                }
            }
        }
    }
    
    $columns_simple_label: ('50-50', 'three', 'four', 'five');
    $columns_simple_number: (2, 3, 4, 5);
    
    @for $i from 0 to length($columns_simple_label) {
        &.edgtf-content-columns-#{nth($columns_simple_label,$i+1)} {
            $column_size: nth($columns_simple_number, $i+1);
            $column_width: 100% / $column_size;
            
            > .edgtf-columns-inner {
                
                > .edgtf-column-content {
                    width: $column_width;
                }
            }
        }
    }
    
    $columns_space_label: ('tiny', 'small', 'normal', 'large');
    $columns_space: (7, 12, 15, 25);
    
    @for $i from 0 to length($columns_space_label) {
        &.edgtf-columns-#{nth($columns_space_label,$i+1)}-space {
            $item_space: nth($columns_space, $i+1);
            
            > .edgtf-columns-inner {
                margin: 0 -#{$item_space}px;
                
                > .edgtf-column-content {
                    padding: 0 #{$item_space}px;
                }
            }
        }
    }
}
/* ==========================================================================
   Grid System style - end
   ========================================================================== */