/* ==========================================================================
   Blog List shortcode Common style - begin
   ========================================================================== */

.edgtf-blog-list-holder {
    @include edgtfRelativeHolderLayout();
    clear: both;

    .edgtf-blog-list {
        @include edgtfRelativeHolderLayout();
        list-style: none;
        margin: 0;
        padding: 0;
    }
	
	.edgtf-bl-item {
		@include edgtfRelativeHolderLayout();
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	
	.edgtf-bli-inner {
		@include edgtfRelativeHolderLayout();
	}
	
	.edgtf-bli-content {
		@include edgtfRelativeHolderLayout();
		box-sizing: border-box;
	}
	
	.edgtf-post-image {
		@include edgtfRelativeHolderLayout();
		
		a, img {
			display: block;
		}
	}
	
	.edgtf-bli-info-top {
		@include edgtfRelativeHolderLayout();
		margin: 0 0 10px;
		
		a {
			color: $first-main-color;
			font-size: 13px;
			line-height: 19px;
			font-weight: 500;
			
			&:hover {
				color: $default-heading-color;
			}
		}
	}
	
	.edgtf-bli-info-middle {
		@include edgtfRelativeHolderLayout();
		margin: 5px 0;
		
		> div {
			position: relative;
			display: inline-block;
			padding-right: 8px;
			margin-right: 5px;
			font-size: 13px;
			font-weight: 500;
			color: $default-heading-color;
			
			a {
				color: inherit;
			}
			
			&:after {
				content: "/";
				position: absolute;
				top: 0;
				right: -3px;
			}
			
			&:last-child {
				padding-right: 0;
				margin-right: 0;
				
				&:after {
					content: '';
				}
			}
		}
	}
	
	.edgtf-post-title {
		margin: 0;
	}
	
	.edgtf-bli-excerpt {
		@include edgtfRelativeHolderLayout();
		margin: 10px 0 0;
		
		> div {
			display: inline-block;
			vertical-align: middle;
		}
		
		p {
			margin: 0;
		}
		
		.edgtf-blog-list-button {
			top: -1px;
			margin: 0 0 0 9px;
		}
	}
	
	.edgtf-bl-load-more-holder {
		@include edgtfRelativeHolderLayout();
		margin: 30px 0 0;
		text-align: center;
		clear: both;
		box-sizing: border-box;
	}
	
	/***** Columns Space style - begin *****/
	
	$columns_space_label: ('no', 'tiny', 'small', 'normal');
	$columns_space: (0, 5, 12, 15);
	
	@for $i from 0 to length($columns_space_label) {
		&.edgtf-bl-#{nth($columns_space_label,$i+1)}-space {
			$column_width: nth($columns_space, $i+1);
			$column_width_margin: $column_width * 2;
			
			.edgtf-bl-wrapper {
				@if($column_width == 0) {
					margin: 0;
				} @else {
					margin: 0 -#{$column_width}px;
				}
			}
			
			.edgtf-bl-item {
				padding: 0 #{$column_width}px;
				margin: 0 0 #{$column_width_margin}px;
			}
		}
	}
	
	/***** Columns Space style - end *****/
}
/* ==========================================================================
   Blog List shortcode Common style - end
   ========================================================================== */

@import "standard";
@import "masonry";
@import "boxed";
@import "simple";
@import "minimal";
@import "navigation/loading-element";