/* ==========================================================================
   Blog List shortcode responsive style - begin
   ========================================================================== */

@include laptop-landscape-large {
    
    .edgtf-blog-list-holder {
        
        &.edgtf-bl-masonry {
            
            $masonry_columns_number: ('five');
            
            @for $i from 0 to length($masonry_columns_number) {
                &.edgtf-bl-#{nth($masonry_columns_number,$i+1)}-columns {
                    $column_width: 100%/4;
    
                    .edgtf-bl-item,
                    .edgtf-bl-grid-sizer {
                        width: $column_width;
                    }
                }
            }
        }
    
        &.edgtf-bl-boxed {
	
	        .edgtf-bli-content {
		        padding: 30px 11%;
	        }
        }
    }
}

@include laptop-landscape-medium {
    
    .edgtf-blog-list-holder {
        
        &.edgtf-bl-boxed {
            
            .edgtf-bli-content {
                padding: 20px 9%;
            }
	
	        .edgtf-bli-info-top {
		        margin: 0 0 7px;
	        }
	
	        .edgtf-bli-info-middle {
		        margin: 7px 0 0;
	        }
	
	        .edgtf-blog-list-button {
		        margin: 22px 0 0;
	        }
        }
    }
}

@include laptop-landscape {
    
    .edgtf-blog-list-holder {
        
        &.edgtf-bl-standard,
        &.edgtf-bl-boxed {
    
            $columns_number: ('four', 'five');
            
            @for $i from 0 to length($columns_number) {
                &.edgtf-bl-#{nth($columns_number,$i+1)}-columns {
                    $column_width: 100% / 3;
    
                    .edgtf-bl-item {
                        width: $column_width;
                    }
                    
                    @media only screen and (min-width: $ipad-portrait-plus-pixel) {
                        
                        .edgtf-bl-item {
                            
                            &:nth-child(3n+1) {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
        
        &.edgtf-bl-masonry {
            
            $masonry_columns_number: ('four', 'five');
            
            @for $i from 0 to length($masonry_columns_number) {
                &.edgtf-bl-#{nth($masonry_columns_number,$i+1)}-columns {
                    $column_width: 100% / 3;
                    
                    .edgtf-bl-item,
                    .edgtf-bl-grid-sizer {
                        width: $column_width;
                    }
                }
            }
        }
	
	    &.edgtf-bl-boxed {
		
		    .edgtf-bli-content {
			    padding: 16px 4%;
		    }
	    }
    }
}

@include ipad-portrait {
    
    .edgtf-blog-list-holder {
        
        &.edgtf-bl-standard,
        &.edgtf-bl-boxed {
            
            $columns_number: ('four', 'five');
            
            @for $i from 0 to length($columns_number) {
                &.edgtf-bl-#{nth($columns_number,$i+1)}-columns {
                    
                    .edgtf-bl-item {
                        width: 50%;
                    }
                    
                    @media only screen and (min-width: $phone-landscape-plus-pixel) {
                        
                        .edgtf-bl-item {
                            
                            &:nth-child(2n+1) {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
    
        &.edgtf-bl-standard,
        &.edgtf-bl-boxed {
        
            $columns_number: ('three');
        
            @for $i from 0 to length($columns_number) {
                &.edgtf-bl-#{nth($columns_number,$i+1)}-columns {
                
                    .edgtf-bl-item {
                        width: 100%;
                    }
                }
            }
        }
        
        &.edgtf-bl-masonry {
            
            $masonry_columns_number: ('three', 'four', 'five');
            
            @for $i from 0 to length($masonry_columns_number) {
                &.edgtf-bl-#{nth($masonry_columns_number,$i+1)}-columns {
                    
                    .edgtf-bl-item,
                    .edgtf-bl-grid-sizer {
                        width: 50%;
                    }
                }
            }
        }
	
	    &.edgtf-bl-boxed {
		
		    .edgtf-bli-content {
			    padding: 15px 5%;
		    }
		
		    .edgtf-blog-list-button {
			    margin: 17px 0 0;
		    }
	    }
    }
}

@include phone-landscape {
    
    .edgtf-blog-list-holder {
        
        &.edgtf-bl-standard,
        &.edgtf-bl-boxed {
            
            .edgtf-bl-item {
                width: 100% !important; // !important is set to override all other stronger selectors
            }
        }
        
        &.edgtf-bl-masonry {
            
            $masonry_columns_number: ('two', 'three', 'four', 'five');
            
            @for $i from 0 to length($masonry_columns_number) {
                &.edgtf-bl-#{nth($masonry_columns_number,$i+1)}-columns {
                    
                    .edgtf-bl-item,
                    .edgtf-bl-grid-sizer {
                        width: 100%;
                    }
                }
            }
        }
    }
}
/* ==========================================================================
   Blog List shortcode responsive style - end
   ========================================================================== */