.edgtf-blog-list-holder {
	
    &.edgtf-bl-boxed {

        &:not(.edgtf-bl-one-column) {

            .edgtf-bl-item {
                float: left;
            }
        }

        $columns_number: ('two', 'three', 'four', 'five');

        @for $i from 0 to length($columns_number) {
            &.edgtf-bl-#{nth($columns_number,$i+1)}-columns {

                .edgtf-bl-item {
                    width: 100% / ($i+2);
                }

                @if ($i > 1) { // set different break point for four and five columns
                    @media only screen and (min-width: $laptop-landscape-plus-pixel) {

                        .edgtf-bl-item {

                            &:nth-child(#{$i+2}n+1) {
                                clear: both;
                            }
                        }
                    }
                } @else {
                    @media only screen and (min-width: $ipad-landscape-plus-pixel) {

                        .edgtf-bl-item {

                            &:nth-child(#{$i+2}n+1) {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
	
	    .edgtf-bl-item {
		    overflow: hidden;
		    
		    .touch & {
			    cursor: pointer;
		    }
		    
		    &:hover {
			
			    .edgtf-bli-content {
    		    	&:before {
    		    		opacity: 0;
    	        		@include edgtfTransition(opacity .5s cubic-bezier(0,0,0,1));
    				}
			    }
			
			    .edgtf-bli-info-top a,
			    .edgtf-bli-info-middle > div,
			    .edgtf-post-title {
					color: #fff;
			    }

				.edgtf-bli-info-top a:hover {
					color: $first-main-color;
				}

			    .edgtf-post-image {
			    	img {
				    	@include edgtfTransition(all .4s cubic-bezier(.15,.7,.54,.99));
			    		@include edgtfTransform(scale(1.1));
			    	}
			    }
		    }
		    
		    .edgtf-post-info-category *,
		    .edgtf-post-info-author-text,
			.edgtf-bli-info-middle>div:after {
		        @include edgtfTransition(color .2s ease-out);
		    }
	    }

        .edgtf-bli-content {
            @include edgtfAbsoluteHolderLayout();
            padding: 30px 11% 30px 14%;
	        box-sizing: border-box;

	        &:before {
	        	content:'';
	            @include edgtfAbsoluteHolderLayout();
            	background-color: #f7f6f6;
			    opacity: 1;
		        @include edgtfTransition(opacity .4s cubic-bezier(.15,.7,.54,.99));
	        }
	        
	        a {
		        position: relative;
		        z-index: 2;
	        }

			.edgtf-post-title {

				a:hover {
					color: #fff;
				}
			}
        }
	    
	    .edgtf-bli-outer {
		    @include edgtfTableLayout();
	    }
	    
	    .edgtf-bli-wrapper {
		    @include edgtfTableCellLayout();
	    }
	
	    .edgtf-post-image {
			overflow: hidden;
		
		    a, img {
			    width: 100%;
		    }

	        img {
	        	-webkit-transform-origin: 50% 100%;
	        	transform-origin: 50% 100%;
	    		@include edgtfTransition(all .0s .3s);
	        	will-change:transform;
	        }

			&.edgtf-active {

				img {
					@include edgtfTransform(scale(1.05));
				}
			}
	    }
	
	    .edgtf-bli-info-top {
		    margin: 0 0 14px;
	    }
	    
	    .edgtf-bli-info-middle {
		    margin: 17px 0 0;
	    }
	
	    .edgtf-blog-list-button {
		    width: auto;
		    margin: 27px 0 0;
		    text-transform: uppercase;
		    
		    i {
			    display: none;
		    }
	    }
	    
	    .edgtf-bli-link {
		    @include edgtfAbsoluteHolderLayout();
	    }
    }
}