.edgtf-blog-list-holder {
    &.edgtf-bl-masonry {

        transition: none !important;
        overflow: visible !important;

        .edgtf-blog-list {
            opacity: 0;
            @include edgtfTransition(opacity .2s ease-out);
        }

        .edgtf-bl-item {
            vertical-align: top;
            z-index: 100;
        }

        .edgtf-bl-item,
        .edgtf-bl-grid-sizer {
            width: 100%;
        }

        .edgtf-bl-grid-gutter {
            width: 0;
        }

        $masonry_columns_number: ('two', 'three', 'four', 'five');

        @for $i from 0 to length($masonry_columns_number) {
            &.edgtf-bl-#{nth($masonry_columns_number,$i+1)}-columns {
                $column_width: 100%/($i+2);

                .edgtf-bl-item,
                .edgtf-bl-grid-sizer {
                    width: $column_width;
                }
            }
        }
    
        .edgtf-post-image {
            margin: 0 0 23px;
        }
    }
}