.edgtf-blog-list-holder {
    
    &.edgtf-bl-minimal {
	
	    .edgtf-post-info-date {
		    display: block;
		    margin: 9px 0 1px;
		    color: $first-main-color;
		    font-size: 13px;
		    line-height: 19px;
		    font-weight: 500;
		
		    &:hover {
			    color: $default-heading-color;
		    }
		    
		    a {
			    color: inherit;
		    }
	    }
    }
}