.edgtf-blog-list-holder {
    
    &.edgtf-bl-simple {

        .edgtf-post-image {
            display: table-cell;
            vertical-align: top;
            width: 105px;
	        
	        img {
		        width: 100%;
	        }
        }

        .edgtf-bli-content {
            display: table-cell;
            vertical-align: top;
            width: auto;
            padding-left: 15px;
        }
	    
	    .edgtf-post-info-date {
		    display: block;
		    margin: 9px 0 0;
		    color: $first-main-color;
		    font-size: 13px;
		    line-height: 19px;
		    font-weight: 500;
		
		    &:hover {
			    color: $default-heading-color;
		    }
		
		    a {
			    color: inherit;
		    }
	    }
    }
}