/* ==========================================================================
   Blog List shortcode Standard - begin
   ========================================================================== */

.edgtf-blog-list-holder {
    
    &.edgtf-bl-standard {
        
        &:not(.edgtf-bl-one-column) {

            .edgtf-bl-item {
                float: left;
            }
        }

        $columns_number: ('two', 'three', 'four', 'five');

        @for $i from 0 to length($columns_number) {
            &.edgtf-bl-#{nth($columns_number,$i+1)}-columns {

                .edgtf-bl-item {
                    width: 100% / ($i+2);
                }

                @if ($i > 1) { // set different break point for four and five columns
                    @media only screen and (min-width: $laptop-landscape-plus-pixel) {

                        .edgtf-bl-item {

                            &:nth-child(#{$i+2}n+1) {
                                clear: both;
                            }
                        }
                    }
                } @else {
                    @media only screen and (min-width: $ipad-landscape-plus-pixel) {

                        .edgtf-bl-item {

                            &:nth-child(#{$i+2}n+1) {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
	    
	    .edgtf-post-image {
		    margin: 0 0 23px;
	    }
    }
}

/* ==========================================================================
   Blog List shortcode Standard - end
   ========================================================================== */