/* ==========================================================================
   Sidebar area styles - begin
   ========================================================================== */

aside.edgtf-sidebar {
	position: relative;
	z-index: 11;
	margin: 0 0 60px;
	
	.widget {
		
		&:last-child {
			margin: 0 !important;
		}
	}
}

.wpb_widgetised_column {
	position: relative;
	
	.widget {
		
		.edgtf-sidearea-widget-title {
			margin: 0 0 23px;
		}
		
		&:last-child {
			margin: 0 !important;
		}
	}
}
/* ==========================================================================
   Sidebar area styles - end
   ========================================================================== */

/* ==========================================================================
   Default WordPress Widgets styles - begin
   ========================================================================== */

.widget {
	margin: 0 0 40px;
	
	.edgtf-widget-title {
		margin: 0 0 15px;
	}
	
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		
		li {
			margin: 0 0 10px;
			
			&:last-child {
				margin: 0;
			}
		}
	}
	
	/*
	*   Specific styles
	*/
	&.widget_text {
		
		img {
			display: block;
		}
	}
	
	#wp-calendar {
		width: 100%;
		text-align: center;
		
		caption {
			color: $default-heading-color;
			margin: 0 0 15px;
		}
		
		th, td {
			padding: 3px 4px;
		}
		
		td#today {
			color: #fff;
			background-color: $default-heading-color;
			
			a {
				color: inherit;
			}
		}
	}
	
	&.widget_rss {
		
		.edgtf-widget-title {
			
			.rsswidget {
				color: inherit;
			}
		}
		
		.rss-widget-icon {
			display: inline-block;
		}
		
		ul {
			
			li {
				margin: 0 0 25px;
				
				.rss-date {
					display: block;
				}
			}
		}
	}
	
	&.widget_search {
		
		input,
		button {
			position: relative;
			display: inline-block;
			vertical-align: top;
			padding: 0;
			margin: 0;
			float: left;
			height: 44px;
			font-family: inherit;
			font-size: 13px;
			font-weight: inherit;
			line-height: 44px;
			color: #666;
			background-color: transparent;
			border-radius: 0;
			outline: 0;
			-webkit-appearance: none;
			box-sizing: border-box;
		}
		
		input {
			width: calc(100% - 44px);
			padding: 0 10px 0 20px;
			border: 1px solid $default-border-color;
			border-right: 0;
			
			@include edgtfPlaceholder {
				color: #666;
			}
		}
		
		button {
			width: 44px;
			font-size: 20px;
			color: #fff;
			background-color: $default-heading-color;
			border: 0;
			text-align: center;
			cursor: pointer;
			@include edgtfTransition(background-color .2s ease-in-out);
			
			&:hover {
				background-color: $first-main-color;
			}
			
			span {
				display: block;
				line-height: inherit;
				
				&:before {
					display: block;
					line-height: inherit;
				}
			}
		}
	}
	
	&.widget_pages,
	&.widget_archive,
	&.widget_categories,
	&.widget_meta,
	&.widget_recent_comments,
	&.widget_recent_entries,
	&.widget_nav_menu {
		
		ul {
			
			li {
				margin: 0;
				padding: 7px 0;
				
				ul {
					padding: 0 0 0 10px;
					
					li {
						
						&:last-child {
							padding: 7px 0 0;
						}
					}
				}
			}
		}
	}
	
	&.widget_recent_entries {
		
		ul {
			
			li {
				
				> span {
					display: block;
				}
			}
		}
	}
	
	&.widget_archive,
	&.widget_categories,
	&.widget_text {
		
		select {
			@include edgtfRelativeHolderLayout();
			max-width: 100%;
			padding: 12px;
			font-family: inherit;
			font-size: inherit;
			line-height: inherit;
			font-weight: inherit;
			color: #666;
			background-color: transparent;
			border: 1px solid $default-border-color;
			border-radius: 0;
			outline: 0;
			box-sizing: border-box;
		}
	}
	
	&.posts_holder {
		
		ul {
			
			li {
				
				&.page_item_has_children {
					
					& > a {
						display: block;
					}
					
					& > ul.children {
						padding-left: 10px;
					}
				}
				
				&.menu-item-has-children {
					
					& > a {
						display: block;
					}
					
					& > ul.sub-menu {
						padding-left: 10px;
					}
				}
			}
		}
	}
	
	&.widget_tag_cloud {
		
		.edgtf-widget-title {
			margin: 0 0 32px;
		}
		
		a {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			margin: 0 3px 7px 0;
			padding: 0 22px;
			color: $default-heading-color;
			font-family: $additional-text-font;
			font-size: 10px !important;
			line-height: 39px;
			font-weight: 500;
			letter-spacing: 2px;
			text-transform: uppercase;
			background-color: #f4f4f4;
			@include edgtfTransition(color .2s ease-out, background-color .2s ease-out);
			
			&:hover {
				color: #fff;
				background-color: $first-main-color;
			}
		}
	}
	
	&.edgtf-blog-list-widget {
		margin: 0;
	}
	
	&.edgtf-image-widget {
		margin: 0;
		
		.edgtf-widget-title {
			margin: 0 0 28px;
		}
		
		img {
			display: block;
		}
		
		.edgtf-drop-down .second .inner & {
			
			a {
				padding-top: 0;
			}
		}
	}
	
	&.edgtf-image-slider-widget {
		@include edgtfRelativeHolderLayout();
		
		.edgtf-is-widget-inner {
			@include edgtfRelativeHolderLayout();
			visibility: hidden;
		}
		
		.edgtf-widget-title {
			margin: 0 0 28px;
		}
		
		img {
			display: block;
		}
		
		.owl-dots {
			text-align: center;
			margin: 19px 0 0;
			
			.owl-dot {
				display: inline-block;
				vertical-align: middle;
				
				span {
					display: inline-block;
					vertical-align: middle;
					width: 10px;
					height: 10px;
					@include edgtfTransform(scale(.8));
					margin: 0 6px;
					border-radius: 3em;
					background-color: rgba($default-heading-color, 0.3);
					box-sizing: border-box;
					@include edgtfTransition(all .2s);
				}
				
				&.active {
					
					span {
						@include edgtfTransform(scale(1));
						background-color: $default-heading-color;
					}
				}
			}
		}
		
		.owl-carousel .owl-item img {
			-webkit-transform: translateZ(0); //chrome text cut off fix
		}
	}
	
	&.edgtf-raw-html-widget {
		margin: 0;
		
		&.edgtf-grid-auto-width {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}
	}
	
	&.edgtf-separator-widget {
		margin: 0 !important;
	}
}

aside.edgtf-sidebar,
.wpb_widgetised_column {
	
	.widget {
		
		&.widget_pages,
		&.widget_archive,
		&.widget_categories,
		&.widget_meta,
		&.widget_recent_comments,
		&.widget_recent_entries,
		&.widget_nav_menu {
			
			.edgtf-widget-title {
				margin: 0 0 15px;
			}
			
			ul {
				padding: 0;
				margin: 0;
				list-style: none;
				
				li {
					@include edgtfRelativeHolderLayout();
					padding: 0;
					margin: 0 0 4px;
					clear: both;
					
					&:last-child {
						margin: 0;
					}
					
					a {
						color: $default-text-color;
						
						&:hover {
							color: $first-main-color;
						}
					}
					
					ul {
						margin: 4px 0 0 10px;
					}
				}
			}
		}
		
		&.widget_pages,
		&.widget_archive,
		&.widget_categories,
		&.widget_meta,
		&.widget_recent_entries,
		&.widget_nav_menu {
			
			ul {
				
				li {
					
					a {
						box-sizing: border-box;
						@include edgtfTransition(color .3s ease-in-out, padding .3s ease-in-out);
						
						&:hover {
							padding: 0 0 0 10px;
						}
					}
				}
			}
		}
	}
}

footer {
	
	.widget {
		font-size: 12px;
		
		.edgtf-widget-title {
			font-weight: 500;
		}
		
		p, a {
			font-family: $additional-text-font;
			letter-spacing: 1px;
		}
	}
}

.edgtf-side-menu,
footer {
	
	.widget {
		color: #999;
		
		&:last-child {
			margin: 0 !important;
		}
		
		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			color: #fff;
		}
		
		a {
			color: #999;
			
			&:hover {
				color: #fff;
			}
		}
		
		table thead tr,
		table tbody tr {
			border-color: #fff;
		}
		
		table tbody th {
			border-right-color: #fff;
		}
		
		/*
		*   Specific styles
		*/
		
		#wp-calendar {
			
			caption {
				color: #fff;
			}
			
			td#today {
				color: $default-heading-color;
				background-color: #fff;
			}
		}
		
		&.widget_pages,
		&.widget_archive,
		&.widget_categories,
		&.widget_meta,
		&.widget_recent_comments,
		&.widget_recent_entries,
		&.widget_nav_menu {
			
			.edgtf-widget-title {
				margin: 0 0 23px;
			}
			
			ul {
				
				li {
					padding: 4px 0;
					
					a {
						color: #999;
						
						&:hover {
							color: #fff;
						}
					}
					
					ul {
						
						li {
							
							&:last-child {
								padding: 4px 0 0;
							}
						}
					}
				}
			}
		}
		
		&.widget_search {
			
			input,
			button {
				color: #fff;
			}
			
			input {
				border-color: #fff;
				
				@include edgtfPlaceholder {
					color: #fff;
				}
			}
			
			button {
				color: $default-heading-color;
				background-color: #fff;
				
				&:hover {
					background-color: #fff;
				}
			}
		}
		
		&.widget_archive,
		&.widget_categories,
		&.widget_text {
			
			select {
				color: #fff;
				border-color: #fff;
			}
		}
		
		&.widget_tag_cloud {
			
			a {
				color: #999;
				
				&:hover {
					color: #fff;
				}
			}
		}
		
		&.edgtf-blog-list-widget {
			
			.edgtf-blog-list-holder {
				
				.edgtf-post-title {
					color: #fff;
					
					a {
						color: inherit;
					}
				}
				
				.edgtf-post-info-date {
					
					a {
						color: #999;
						
						&:hover {
							color: #fff;
						}
					}
				}
			}
		}
		
		&.edgtf-image-slider-widget {
			
			.owl-dots {
				
				.owl-dot {
					
					span {
						background-color: rgba(#fff, .3);
					}
					
					&.active {
						
						span {
							background-color: #fff;
						}
					}
				}
			}
		}
	}
}

.edgtf-side-menu {
	
	.widget {
		
		&.widget_nav_menu {
			
			ul {
				
				li {
					padding: 9px 0;
					
					a {
						color: #fff;
						font-size: 18px;
						line-height: 30px;
						font-weight: 600;
						
						&:hover {
							color: $first-main-color;
						}
					}
					
					ul {
						
						li {
							
							&:last-child {
								padding: 9px 0 0;
							}
						}
					}
				}
			}
		}
	}
}

footer .edgtf-footer-bottom-holder {
	
	.widget {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		
		p {
			margin: 0;
		}
		
		&.widget_pages,
		&.widget_archive,
		&.widget_categories,
		&.widget_recent_comments,
		&.widget_recent_entries,
		&.widget_nav_menu  {
			
			ul {
				clear: both;
				
				li {
					float: left;
					padding: 0 8px 0 0;
					margin: 0;
					
					&:last-child {
						padding: 0;
					}
				}
			}
		}
	}
}

.edgtf-top-bar {
	
	.widget {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		
		p {
			margin: 0;
		}
		
		a {
			color: #fff;
			
			&:hover {
				color: $first-main-color;
			}
		}
		
		&.widget_nav_menu  {
			
			ul {
				clear: both;
				
				li {
					position: relative;
					float: left;
					padding: 0 13px 0 0;
					margin: 0 13px 0 0;
					
					&:after {
						content: '';
						position: absolute;
						top: calc(50% - 5px);
						right: 0;
						width: 1px;
						height: 10px;
						display: block;
						background-color: #666;
					}
					
					&:last-child {
						padding: 0;
						margin: 0;
						
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}
}
/* ==========================================================================
   Default WordPress Widgets styles - end
   ========================================================================== */