/* ==========================================================================
   Instagram widget style - begin
   ========================================================================== */

.widget.widget_edgtf_instagram_widget {
    margin: 0;
    
    .edgtf-widget-title {
        margin: 0 0 36px;
    }
}

.edgtf-instagram-feed {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        float: left;
        box-sizing: border-box;

        a {
            position: relative;
            display: block;
            overflow: hidden;

            &:after {
                content:'';
                position:absolute;
                top:0;
                left:0;
                height:100%;
                width:100%;
                background-color:rgba(0,0,0,.25);
                opacity:0;
                @include edgtfTransition(opacity .65s cubic-bezier(0.22,0.8,0.42,1));
            }
	        
	        &:hover {
                &:after {
                    opacity: 1;
                }
		
		        img {
			        @include edgtfTransform(scale(1.04) translateZ(0));
		        }
	        }
        }
	
	    img {
		    width: 100%;
		    display: block;
		    -webkit-transition: -webkit-transform .2s;
		    -moz-transition: -moz-transform .2s;
		    transition: transform .2s;
		    @include edgtfTransform(scale(1) translateZ(0));
	    }
    }

    &.edgtf-instagram-gallery {

        $gallery_space_label: ('no', 'tiny', 'small', 'normal');
        $gallery_space_width: (0, 5, 10, 15);
        
        @for $i from 0 to length($gallery_space_label) {
            &.edgtf-#{nth($gallery_space_label,$i+1)}-space {
                $column_width: nth($gallery_space_width,$i+1);
                $column_width_margin: $column_width * 2;
                
                @if($column_width == 0) {
                    margin: 0;
                } @else {
                    margin: 0 -#{$column_width}px -#{$column_width_margin}px;
                }
                
                li {
                    padding: 0 #{$column_width}px;
                    margin: 0 0 #{$column_width_margin}px;
                }
            }
        }

        $gallery_columns: ('2', '3', '4', '6', '9');
        @for $i from 0 to length($gallery_columns) {
            &.edgtf-col-#{nth($gallery_columns, $i+1)} {
                $column_width: 100%/($i+2);

                @if($i == 3) {
                    $column_width: 100%/6;
                } @else if ($i == 4){
                    $column_width: 100%/9;
                }
                
                li {
                    width: $column_width;
                }
            }
        }
    }

    &.edgtf-instagram-carousel {
        opacity: 0; //opacity 1 via JS

        li {
            position: relative;
            width: 100%;
            margin: 0;
            padding: 0;

            img {
                display: block;
            }

            a {
                position: relative;
                display: block;
                height: 100%;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(#fff, .25);
                    opacity: 0;
                    @include edgtfTransition(opacity 0.3s ease-in-out);
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
/* ==========================================================================
   Instagram widget style - end
   ========================================================================== */