/* ==========================================================================
   Social Icon widget style - begin
   ========================================================================== */

.edgtf-social-icon-widget-holder {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
	
	&.edgtf-has-custom-hover {
		color: #ccc;
		
		&:hover {
			color: $first-main-color;
		}
		
		span,
		i {
			border-color: #ccc;
		}
	}
    
    > * {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        line-height: inherit;
    }

    .edgtf-social-icon-widget {
        color: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
    }
    
    .edgtf-social-icon-text {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 0 0 0 8px;
    }
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-social-icon-widget-holder {
    color: $header-dark-color !important;

    &:hover {
        color: $header-dark-hover-color !important;
    }
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-social-icon-widget-holder {
    color: $header-light-color !important;

    &:hover {
        color: $header-light-hover-color !important;
    }
}
/* ==========================================================================
   Social Icon widget style - end
   ========================================================================== */