/* ==========================================================================
   Twitter widget style - begin
   ========================================================================== */

.widget.widget_edgtf_twitter_widget {
    margin: 0 0 20px;

    .edgtf-twitter-widget {
        @include edgtfRelativeHolderLayout();
        margin: 0;

        &.edgtf-twitter-standard {

            li {
	
	            &:not(:last-child) {
		            margin: 0 0 12px !important;
	            }
                
                .edgtf-twitter-icon,
                .edgtf-tweet-text {
                    position: relative;
                    display: table-cell;
                    vertical-align: top;
                }

                .edgtf-twitter-icon {
	                padding: 0 8px 0 0;
	                color: $first-main-color;
                    font-size: 18px;
                    
                    * {
                        display: block;
                        line-height: inherit;
                    }
                }
            }
        }

        &.edgtf-twitter-slider {
            @include edgtfRelativeHolderLayout();
            padding: 0 50px;
            text-align: center;
            visibility: hidden;
            box-sizing: border-box;

            li {
                overflow: hidden;

                .edgtf-twitter-icon {
	                color: $first-main-color;
	                font-size: 18px;
                }

                .edgtf-tweet-text {

                    a,
                    span {
                        color: $first-main-color;
                    }

                    a {

                        &:hover {
                            color: $default-heading-color;
                        }

                        &.edgtf-tweet-time {
                            margin: 21px 0 0;
                        }
                    }
                }
            }

            .owl-stage-outer {
                z-index: 1;
            }

            .owl-dots {
	            text-align: center;
	            margin: 15px 0 0;
	
	            .owl-dot {
		            display: inline-block;
		            vertical-align: middle;
		
		            span {
			            display: inline-block;
			            vertical-align: middle;
			            width: 10px;
			            height: 10px;
			            margin: 0 5px;
			            border-radius: 3em;
			            background-color: #ccc;
			            border: 1px solid transparent;
			            box-sizing: border-box;
			            @include edgtfTransition(background-color .2s ease-out, border-color .2s ease-out);
		            }
		
		            &:hover,
		            &.active {
			
			            span {
				            background-color: $default-heading-color;
				            border-color: $default-heading-color;
			            }
		            }
	            }
            }
        }
    }
}
/* ==========================================================================
   Twitter widget style - end
   ========================================================================== */