/* Single author box styles - begin
	====================================================================== */

.edgtf-author-description {
    @include edgtfRelativeHolderLayout();
    background-color: #f7f7f7;
	margin: 0 0 40px;
    
    .edgtf-author-description-inner {
        @include edgtfRelativeHolderLayout();
	    min-height: 142px;
        padding: 24px 28px;
        box-sizing: border-box;
    }

    .edgtf-author-description-image {
	    position: relative;
	    display: inline-block;
	    vertical-align: middle;
	    float: left;
		border-radius: 100%;
	    overflow: hidden;
	    
	    img {
		    display: block;
	    }
    }

    .edgtf-author-description-text-holder {
        position: relative;
        padding: 0 0 0 162px;

        .edgtf-author-name {
            margin: 14px 0 0;
        }

        .edgtf-author-email {
            margin: 0;
        }

        .edgtf-author-text {
            @include edgtfRelativeHolderLayout();

            > p {
                margin: 9px 0 0;
            }
        }

        .edgtf-author-social-icons {
            @include edgtfRelativeHolderLayout();
			margin: 13px 0 0;
	        
            a {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                padding: 0;
                margin: 0 10px 0 0;
                font-size: 12px;

                &:last-child {
                    margin: 0;
                }
	
	            &.edgtf-facebook-share {
		
		            &:hover {
			            color: #3b5998;
		            }
	            }
	
	            &.edgtf-twitter-share {
		
		            &:hover {
			            color: #00aced;
		            }
	            }
	
	            &.edgtf-googleplus-share {
		
		            &:hover {
			            color: #dd4b39;
		            }
	            }
	
	            &.edgtf-linkedin-share {
		
		            &:hover {
			            color: #007bb6;
		            }
	            }
	            
	            &.edgtf-instagram-share {
		
		            &:hover {
			            color: #5851db;
		            }
	            }
	
	            &.edgtf-tumblr-share {
		
		            &:hover {
			            color: #32506d;
		            }
	            }
	
	            &.edgtf-pinterest-share {
		
		            &:hover {
			            color: #cb2027;
		            }
	            }
	
	            &.edgtf-vk-share {
		
		            &:hover {
			            color: #45668e;
		            }
	            }
            }
        }
    }
}

/* Single author box styles - end
	====================================================================== */