/* ==========================================================================
   Blog pagination standard style - begin
   ========================================================================== */

.edgtf-blog-pagination-wp {
    display: none;
}

.edgtf-blog-pagination {
    @include edgtfRelativeHolderLayout();
    margin: 20px 0 60px;
    clear: both;
    
    ul {
        @include edgtfRelativeHolderLayout();
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        
        li {
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin: 0 6px;
            
            a {
                position: relative;
                display: inline-block;
	            vertical-align: middle;
	            margin: 0;
	            padding: 0;
	            font-weight: 400;
            }
            
            &.edgtf-pag-prev,
            &.edgtf-pag-next,
            &.edgtf-pag-first,
            &.edgtf-pag-last {
	            top: -1px;
	            margin: 0;
	            
	            a {
		            font-size: 24px;
		
		            span {
			            display: block;
			            line-height: inherit;
			
			            &:before {
				            display: block;
				            line-height: inherit;
			            }
		            }
	            }
            }
        }
    }
}
/* ==========================================================================
   Blog pagination standard style - end
   ========================================================================== */

/* ==========================================================================
   Blog List shortcode pagination standard style - begin
   ========================================================================== */

.edgtf-blog-list-holder {
	
	&.edgtf-bl-pag-standard-blog-list {
		
		.edgtf-blog-list {
			opacity: 1;
			@include edgtfTransition(opacity .2s ease-out);
		}
		
		&.edgtf-bl-pag-standard-blog-list-animate {
			
			.edgtf-blog-list {
				opacity: 0;
			}
		}
	}
}

.edgtf-bl-standard-pagination {
	@include edgtfRelativeHolderLayout();
	margin: 20px 0 0;
	clear: both;
	
	ul {
		@include edgtfRelativeHolderLayout();
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: center;
		
		li {
			position: relative;
			display: inline-block;
			vertical-align: top;
			margin: 0 12px;
			padding: 0;
			
			a {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				margin: 0;
				padding: 0;
			}
			
			&.edgtf-bl-pag-active {
				
				a {
					color: $first-main-color;
				}
			}
			
			&.edgtf-bl-pag-prev,
			&.edgtf-bl-pag-next {
				position: absolute;
				top: 0;
				
				a {
					font-size: 30px;
					@include edgtfTransition(color .2s ease-out, opacity .2s ease-out);
					
					span {
						display: block;
						line-height: inherit;
						
						&:before {
							display: block;
							line-height: inherit;
						}
					}
				}
			}
			
			&.edgtf-bl-pag-prev {
				left: 0;
				
				a {
					opacity: 0;
				}
			}
			
			&.edgtf-bl-pag-next {
				right: 0;
				
				a {
					opacity: 1;
				}
			}
		}
	}
}

/* ==========================================================================
   Blog List shortcode pagination standard style - end
   ========================================================================== */

/* ==========================================================================
   Blog pagination load more style - begin
   ========================================================================== */

.edgtf-blog-pag-load-more {
	@include edgtfRelativeHolderLayout();
	margin: 20px 0 60px;
	text-align: center;
}
/* ==========================================================================
   Blog pagination load more style - end
   ========================================================================== */

/* ==========================================================================
   Blog pagination loading element style - begin
   ========================================================================== */

.edgtf-blog-pag-loading {
	position: relative;
	display: none;
	width: 100%;
	margin: 40px 0 20px;
	color: $default-heading-color;
	text-align: center;
	
	&.edgtf-standard-pag-trigger {
		position: absolute;
		top: 50px;
		left: 0;
	}
	
	&.edgtf-showing {
		display: block;
	}
	
	> div {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 14px;
		height: 14px;
		margin: 0 3px;
		background-color: $default-heading-color;
		border-radius: 100%;
		@include edgtfAnimation(bl-pag-bouncedelay 1.4s infinite ease-in-out both);
	}
	
	.edgtf-blog-pag-bounce1 {
		-webkit-animation-delay: -0.32s;
		-moz-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}
	
	.edgtf-blog-pag-bounce2 {
		-webkit-animation-delay: -0.16s;
		-moz-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}
}

@-webkit-keyframes bl-pag-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1.0);
	}
}

@-moz-keyframes bl-pag-bouncedelay {
	0%, 80%, 100% {
		-moz-transform: scale(0);
	}
	40% {
		-moz-transform: scale(1.0);
	}
}

@keyframes bl-pag-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}
/* ==========================================================================
   Blog pagination loading element style - end
   ========================================================================== */