@include ipad-portrait {
	
	.edgtf-related-posts-holder {
		
		.edgtf-related-post {
			width: 50% !important;
		}
	}
}

@include phone-landscape {
	
	.edgtf-blog-single-navigation {
		
		.edgtf-blog-single-prev,
		.edgtf-blog-single-next {
			
			.edgtf-blog-single-nav-image {
				display: none;
			}
		}
	}
}

@include phone-landscape {
	
	.edgtf-author-description {
		
		.edgtf-author-description-inner {
			min-height: inherit;
		}
		
		.edgtf-author-description-image {
			float: none;
		}
		
		.edgtf-author-description-text-holder {
			padding: 20px 0 0;
		}
	}

    .edgtf-related-posts-holder {
        
        .edgtf-related-post {
            width: 100% !important;
        }
    }
}