/* Single posts navigation styles - begin
    ====================================================================== */

.edgtf-blog-single-navigation {
	position: relative;
	display: table;
	width: 100%;
	vertical-align: middle;
	padding: 0 0 34px;
	clear: both;
	border-bottom: 1px solid $default-border-color;
	box-sizing: border-box;
	
	.edgtf-blog-single-prev,
	.edgtf-blog-single-next {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		padding: 0;
		box-sizing: border-box;
		
		.edgtf-blog-single-nav-image,
		.edgtf-blog-single-icon {
			position: relative;
			display: inline-block;
			vertical-align: bottom;
		}
		
		.edgtf-blog-single-nav-image {
			
			img {
				display: block;
			}
		}
		
		.edgtf-blog-single-icon {
			top: 6px;
			color: #999;
			
			&:hover {
				color: $default-heading-color;
			}
			
			* {
				display: inline-block;
				vertical-align: middle;
			}
			
			.edgtf-blog-single-nav-mark {
				font-size: 30px;
			}
		}
	}
	
	.edgtf-blog-single-prev {
		
		.edgtf-blog-single-nav-image {
			margin: 0 15px 0 0;
		}
	}
	
	.edgtf-blog-single-next {
		text-align: right;
		
		.edgtf-blog-single-nav-image {
			margin: 0 0 0 15px;
		}
	}
}

.edgtf-single-links-pages {
    clear: both;
    margin: 20px 0 5px;

    .edgtf-single-links-pages-inner {

        > a,
        > span {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin: 0 15px 5px 0;
            color: $default-heading-color;
            @include edgtfTransition(color .2s ease-out);
            
            &:hover {
                color: $first-main-color;
            }
        }
    }
}
/* Single posts navigation styles - end
    ====================================================================== */