/* Related posts styles - begin
	====================================================================== */

.edgtf-related-posts-holder {
    @include edgtfRelativeHolderLayout();
    padding: 0;
    border-bottom: 1px solid $default-border-color;
    box-sizing: border-box;

    .edgtf-related-posts-holder-inner {
        padding: 70px 0 17px;
    }

    .edgtf-related-posts-title {
        margin: 0 0 35px;

        > * {
            margin: 0;
        }
    }

    .edgtf-related-posts-inner {
        margin: 0 -12px;
    }

    .edgtf-related-post {
        position: relative;
        display: inline-block;
        float: left;
        width: 25%;
        margin: 0 0 24px;
        padding: 0 12px;
        box-sizing: border-box;
	    
	    .touch & {
		    cursor: pointer;
	    }
	
	    &:hover {
		
		    .edgtf-related-post-image a:after {
			    opacity: 1;
		    }
	    }

        .edgtf-related-post-image {
	        @include edgtfRelativeHolderLayout();
	        overflow: hidden;
	        
	        a {
		        position: relative;
		        display: block;
		        
		        &:after {
			        @include edgtfAbsoluteHolderLayout();
			        content: '';
			        opacity: 0;
			        background-color: rgba($default-heading-color, 0.2);
			        @include edgtfTransition(opacity 0.3s ease);
		        }
	        }
	
	        img {
		        display: block;
	        }
        }
	    
	    .edgtf-post-title {
            margin: 24px 0 0;
        }

        .edgtf-post-info {
            @include edgtfRelativeHolderLayout();
			margin: 4px 0 0;
	        
	        a {
		        color: $first-main-color;
		        font-size: 13px;
		        line-height: 19px;
		        font-weight: 500;
		
		        &:hover {
			        color: $default-heading-color;
		        }
	        }
        }
    }
}

.edgtf-columns-wrapper:not(.edgtf-content-columns-100) > .edgtf-columns-inner > .edgtf-column-content1 .edgtf-related-posts-holder,
.edgtf-columns-wrapper:not(.edgtf-content-columns-100) > .edgtf-columns-inner > .edgtf-column-content2 .edgtf-related-posts-holder {

    .edgtf-related-post {
        width: 33.3333%;
    }
}

/* Related posts styles - end
	====================================================================== */
