/* ==========================================================================
# Search template style - begin
========================================================================== */

.search .edgtf-content .edgtf-content-inner > .edgtf-container > .edgtf-container-inner {
    padding: 59px 0 0;
}

.edgtf-search-page-holder {
    @include edgtfRelativeHolderLayout();
    margin: 0 0 20px;
    
    .edgtf-search-page-form {
        @include edgtfRelativeHolderLayout();
        margin: 0 0 63px;
        
        .edgtf-search-title {
            margin: 0 0 32px;
        }
        
        .edgtf-search-label {
            display: block;
        }
        
        .edgtf-form-holder {
            @include edgtfRelativeHolderLayout();
            margin: 0 0 15px;
            clear: both;
            
            input,
            button {
                position: relative;
                display: inline-block;
                vertical-align: top;
                padding: 0;
                margin: 0;
                float: left;
                height: 44px;
                font-family: inherit;
                font-size: 13px;
                font-weight: 400;
                line-height: 42px;
                color: $default-text-color;
                background-color: transparent;
                border-radius: 0;
                outline: 0;
                -webkit-appearance: none;
                box-sizing: border-box;
            }
            
            input {
                width: calc(100% - 70px);
                padding: 0 10px 0 21px;
                border: 1px solid $default-border-color;
                border-right: 0;
                
                @include edgtfPlaceholder {
                    color: $default-text-color;
                }
            }
            
            button {
                width: 70px;
                font-size: 10px;
                letter-spacing: 2px;
                color: #fff;
                background-color: $first-main-color;
                border: 0;
                text-align: center;
                cursor: pointer;
                @include edgtfTransition(color .2s ease-in-out, background-color .2s ease-in-out);
                
                &:hover {
                    background-color: $default-heading-color;
                }
                
                span {
                    display: block;
                    line-height: inherit;
                    
                    &:before {
                        display: block;
                        line-height: inherit;
                    }
                }
            }
        }
    }
    
    article {
        @include edgtfRelativeHolderLayout();
        padding: 0 0 34px;
        margin: 0 0 31px;
        border-bottom: 1px solid $default-border-color;
        
        &.sticky {
            
            .edgtf-post-title-area h3 a {
                color: $first-main-color;
            }
        }
        
        &.page {
            
            .edgtf-post-title-area .edgtf-post-info > div.edgtf-post-info-category {
                display: none;
            }
        }
        
        .edgtf-post-content {
            @include edgtfRelativeHolderLayout();
        }
        
        .edgtf-post-image {
            display: block;
            float: left;
            width: 92px;
            
            a, img {
                display: block;
            }
        }
        
        .edgtf-post-title-area {
            min-height: 92px;
            padding: 0 0 0 112px;
            
            &.edgtf-no-thumbnail{
                padding: 0;
                min-height: inherit;
            }
	
	        .edgtf-post-title {
		        margin: 0 0 2px;
	        }
	
	        .edgtf-post-excerpt {
		        margin: 0;
		
		        &:after {
			        content: '...';
		        }
	        }
        }
    }
}

/* ==========================================================================
# Search template style - end
========================================================================== */