/* ==========================================================================
# Search opener - begin
========================================================================== */

.edgtf-search-opener {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 10px;

    .edgtf-search-opener-wrapper {

        > * {
            position: relative;
            display: inline-block;
            vertical-align: middle;
        }

        .edgtf-icon-font-awesome,
        .edgtf-icon-font-elegant,
        .edgtf-icon-ion-icon {
            line-height: inherit;
        }
    }
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-search-opener,
.edgtf-light-header .edgtf-top-bar .edgtf-search-opener {
    color: $header-light-color !important; //Color can be set inline from widget opener

    &:hover {
        color: $header-light-hover-color !important;
    }
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-search-opener,
.edgtf-dark-header .edgtf-top-bar .edgtf-search-opener {
    color: $header-dark-color !important; //Color can be set inline from widget opener

    &:hover {
        color: $header-dark-hover-color !important;
    }
}

/* ==========================================================================
# Search opener - end
========================================================================== */