/* ==========================================================================
# Search template responsive style - begin
========================================================================== */

@include ipad-landscape {
    
    .search .edgtf-content .edgtf-content-inner > .edgtf-container > .edgtf-container-inner {
        padding: 40px 0 0;
    }
}

@include phone-landscape {
    
    .edgtf-search-page-holder {
        
        article {
            
            .edgtf-post-image {
                display: block;
                float: none;
            }
            
            .edgtf-post-title-area {
                padding: 20px 0 0;
                min-height: inherit;
            }
        }
    }
}

/* ==========================================================================
# Search template responsive style - end
========================================================================== */