/* ==========================================================================
   Portfolio Single - Gallery layout style - begin
   ========================================================================== */

.edgtf-portfolio-single-holder {
    
    &.edgtf-ps-gallery-layout {
        
        .edgtf-ps-image-holder {
	        width: 100%;
            margin: 0 0 45px;
	
	        .edgtf-ps-image {
		        float: left;
		        
		        a {
			        position: relative;
			        display: block;
			        overflow: hidden;
			
			        &:hover {
				
				        img {
					        @include edgtfTransform(scale(1.06) translateZ(0));
				        }
			        }
		        }
		        
		        img {
			        -webkit-transition: -webkit-transform .3s ease-in-out;
			        -moz-transition: -moz-transform .3s ease-in-out;
			        transition: transform .3s ease-in-out;
			        @include edgtfTransform(scale(1) translateZ(0));
		        }
	        }
        }
    }
}
/* ==========================================================================
   Portfolio Single - Gallery layout style - end
   ========================================================================== */