/* ==========================================================================
   Portfolio Single - Images layout style - begin
   ========================================================================== */

.edgtf-portfolio-single-holder {
    
    &.edgtf-ps-images-layout {
    
        .edgtf-ps-image-holder {
            margin: 0 0 45px;
	        
            .edgtf-ps-image {
                margin: 0 0 30px;
                
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}
/* ==========================================================================
   Portfolio Single - Images layout style - end
   ========================================================================== */