/* ==========================================================================
   Portfolio Single - Masonry layout style - begin
   ========================================================================== */

.edgtf-portfolio-single-holder {
    
    &.edgtf-ps-masonry-layout {
        
        .edgtf-ps-image-holder {
            margin: 0 0 45px;
    
            .edgtf-ps-image-inner {
                @include edgtfRelativeHolderLayout();
                opacity: 0;
            }
    
            a {
                position: relative;
                display: block;
                overflow: hidden;
        
                &:hover {
            
                    img {
                        @include edgtfTransform(scale(1.06) translateZ(0));
                    }
                }
            }
    
            img {
                -webkit-transition: -webkit-transform .3s ease-in-out;
                -moz-transition: -moz-transform .3s ease-in-out;
                transition: transform .3s ease-in-out;
                @include edgtfTransform(scale(1) translateZ(0));
            }
        }
    }
}
/* ==========================================================================
   Portfolio Single - Masonry layout style - end
   ========================================================================== */