/* ==========================================================================
   Portfolio Single - Slider layout style - begin
   ========================================================================== */

.edgtf-portfolio-single-holder {
	
	&.edgtf-ps-slider-layout {
		
		.edgtf-ps-image-holder {
			margin: 0 0 45px;
			
			.edgtf-ps-image-inner {
				visibility: hidden;
			}
			
			.edgtf-ps-image {
				
				img {
					width: 100%;
				}
			}
		}
	}
}
/* ==========================================================================
   Portfolio Single - Slider layout style - end
   ========================================================================== */