/* ==========================================================================
   Portfolio Single - Small Images layout style - begin
   ========================================================================== */

.edgtf-portfolio-single-holder {
    
    &.edgtf-ps-small-images-layout {
    
        .edgtf-ps-image-holder {
        
            .edgtf-ps-image {
                margin: 0 0 30px;
            
                &:last-child {
                    margin: 0;
                }
            }
        }
        
        .edgtf-ps-content-item {
            margin: 0 0 30px;
        }
    
        @include ipad-landscape {
        
            .edgtf-ps-info-holder {
                margin: 35px 0 0 !important; // can be set inline in option
            }
        }
    }
}
/* ==========================================================================
   Portfolio Single - Small Images layout style - end
   ========================================================================== */