/* ==========================================================================
   Portfolio Single - Small Gallery layout style - begin
   ========================================================================== */

.edgtf-portfolio-single-holder {
    
    &.edgtf-ps-small-gallery-layout {
    
        .edgtf-ps-image-holder {
            width: 100%;
    
            .edgtf-ps-image {
                float: left;
                overflow: hidden;
	
	            a {
		            position: relative;
		            display: block;
		            overflow: hidden;
		
		            &:hover {
			            
			            img {
				            @include edgtfTransform(scale(1.06) translateZ(0));
			            }
		            }
	            }
	
	            img {
		            -webkit-transition: -webkit-transform .3s ease-in-out;
		            -moz-transition: -moz-transform .3s ease-in-out;
		            transition: transform .3s ease-in-out;
		            @include edgtfTransform(scale(1) translateZ(0));
	            }
            }
        }
    
        .edgtf-ps-content-item {
            margin: 0 0 30px;
        }
    
        @include ipad-landscape {
        
            .edgtf-ps-info-holder {
                margin: 35px 0 0 !important; // can be set inline in option
            }
        }
    }
}
/* ==========================================================================
   Portfolio Single - Small Gallery layout style - end
   ========================================================================== */